<!--
\file         detail_location.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The detail Environment Location template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'maintenance' %}">Maintenance</a></li>
			<li><a href="{% url 'detail_location' location.id %}">Environment Location {{ location.id }}</a></li>
			<li>Environment Location Details</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Environment Location {{ location.id }}</h1>

	<hr>

	<br />

	<dl class="standard">
		<dt>Name</dt>
		<dd>{{ location.name }}</dd>
		<dt>Colour</dt>
		<dd>{{ location.colour }}</dd>
	</dl>

	<br />

	<a href="{% url 'maintenance' %}"><button class="button button-add">BACK</button></a>
	<a href="{% url 'edit_location' location.id %}"><button class="button button-edit">Edit</button></a>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
