{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'maintenance' %}">Maintenance</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'detail_type' type.id %}">Server Type {{ type.id }}</a>
		</li>
		
		<li class="breadcrumb-item active">
			Server Type Details
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Server Type {{ type.id }}</h1>

		<hr>
		
		<br />

		<dl class="standard">
			<dt>Name</dt>
			<dd>{{ type.name }}</dd>
		</dl>

		<br />

		<a href="{% url 'maintenance' %}"><button class="button button-add">BACK</button></a>

		<a href="{% url 'edit_type' type.id %}"><button class="button button-edit">Edit</button></a>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

		

{% endblock %}
