<!--
\file         detail_protocol.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The detail protocol template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'maintenance' %}">Maintenance</a></li>
			<li><a href="{% url 'detail_protocol' protocol.id %}">Server Protocol {{ protocol.id }}</a></li>
			<li>Server Protocol Details</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<div class="page-content">

	<h1>Server Protocol {{ protocol.id }}</h1>

	<hr>

	<br />

	<dl class="standard">
		<dt>Name</dt>
		<dd>{{ protocol.name }}</dd>
	</dl>

	<br />

	<a href="{% url 'maintenance' %}"><button class="button button-add">BACK</button></a>
	<a href="{% url 'edit_protocol' protocol.id %}"><button class="button button-edit">Edit</button></a>

</div><!-- End of page-content -->

{% endblock %}
