{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'maintenance' %}">Maintenance</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'detail_blog_command' blog.id %}">Blog Command {{ blog.id }}</a>
		</li>
	
		<li class="breadcrumb-item active">
			Blog Command Details
		</li>
	
	</ul>

</div>
    

<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Blog Command {{ blog.id }}</h1>

		<hr>
		
		<br />

		<dl class="standard">

			<dt>Name</dt>
			<dd>{{ blog.name }}</dd>

			<dt>Protocol</dt>
			<dd>{{ blog.protocol.name }}</dd>

			<dt>Application</dt>
			<dd>{{ blog.application }}</dd>

			<dt>URL</dt>
			<dd>{{ blog.url_blog }}</dd>

			<dt>Preamble</dt>
			<dd>{{ blog.preamble }}</dd>

			<dt>Postamble</dt>
			<dd>{{ blog.postamble }}</dd>

		</dl>

		<br />

		<a href="{% url 'maintenance' %}"><button class="button button-add">BACK</button></a>

		<a href="{% url 'edit_blog_command' blog.id %}"><button class="button button-edit">Edit</button></a>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>
		

{% endblock %}

