[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
certifi = "*"
chardet = "*"
click = "*"
coreapi = "*"
coreapi-cli = "*"
coreschema = "*"
dj-database-url = "*"
django-ckeditor = "*"
django-cors-headers = "*"
django-filter = "*"
django-frontend-forms = "*"
django-inlineedit = "*"
django-js-asset = "*"
django-settings-export = "*"
django-sortable-listview = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
django-rest-swagger = "*"
gunicorn = "*"
httpie = "*"
importlib-metadata = "*"
itypes = "*"
jinja2 = "*"
logilab-common = "*"
logilab-database = "*"
markdown = "*"
markupsafe = "*"
mypy-extensions = "*"
pipfile = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pycryptodome = "*"
pygments = "*"
pysocks = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-toolbelt = "*"
six = "*"
sphinx = "*"
sqlparse = "*"
toml = "*"
typing-extensions = "*"
upgrade-requirements = "*"
uritemplate = "*"
urllib3 = "*"
whitenoise = "*"
yams = "*"
yapps2 = "*"
zipp = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.6"
