<!--
\file         edit_collection_authorisation.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The edit collection authorisation template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{{ request.META.HTTP_REFERER }}">Collection Permissions</a></li>
			<li>Collection Permission {{ collection_authorisation.id }}</li>
			<li>EDIT Collection Permission {{ text_flag }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<div class="page-content">

	<h1>EDIT Collection Permission {{ collection_authorisation.id }} {{ text_flag }}</h1>

	<hr>

	<br />

	<form method="POST" class="post-form">

{% csrf_token %}

{% include 'includes/form.html' %}

		<br />

		<input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">

		<button type="submit" class="button button-delete">Save</button>

	</form>

	<br />

	<a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">CANCEL</button></a>

</div><!-- End of page-content -->

{% endblock %}
