<!--
\file         new_bench_authorisation.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The new bench authorisation template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

{% load form_tags %}

<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{{ request.META.HTTP_REFERER }}">Bench Permissions</a>
		</li>

		<li>
			NEW Bench Permission {{ text_flag }}
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>NEW Bench Permission {{ text_flag }}</h1>

		<hr>

		<br />

		<form method="POST" class="post-form">

{% csrf_token %}

{% include 'includes/form_authorisation.html' %}

			<br />

			<input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">

	    	<button type="submit" class="button button-delete">Save</button>

		</form>

		<br />

		<a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">BACK</button></a>

	</div>

	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
