<!--
\file         show_widget.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show ebi widget template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'ebi_show_ebi_server' server.id %}">EBI</a></li>
			<li>Accession ID: {{ experimentAccession }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Browse {{ experimentAccession }}</h1>

	<p>This Server contains SC Experiments:</p>

	<hr>

	<br />

	<div id="target">
	</div>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

<script defer src="../../../../static/bundles/vendors.bundle.js"></script>
<script defer src="../../../../static/bundles/TSnePlotWidgetDemo.bundle.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    TSnePlotWidgetDemo.render({
		experimentAccession: '{{ experimentAccession }}',
		geneId: '{{ geneId }}',
	}, 'target');
  })
</script>

{% endblock %}
