<!--
\file         show_widget.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show ebi widget template
-->

{% extends 'includes/base.html' %}


{% load custom %}

{% load static %}

{% block content %}

	<ol class="breadcrumb subheading">

		<li class="breadcrumb-item">
			<a href="{% url 'home' %}">
				Home
			</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'list_imaging_hosts' %}">
				Sources
			</a>
		</li>

		<li class="breadcrumb-item active">
			https://www.ebi.ac.uk/gxa/sc/json/experiments/
		</li>

	</ol>

	<h1>https://www.ebi.ac.uk/gxa/sc/json/experiments/</h1>

	<br />

	<p>Server at https://www.ebi.ac.uk/gxa/sc/json/experiments/ contains Experiments:</p>

    <hr>

    <div id="target"></div>

<script defer src="../../../../static/bundles/vendors.bundle.js"></script>
<script defer src="../../../../static/bundles/TSnePlotWidgetDemo.bundle.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    TSnePlotWidgetDemo.render({
		experimentAccession: '{{ experimentAccession }}',
		geneId: '{{ geneId }}',
	}, 'target');
  })
</script>

{% endblock %}
