<!--
\file         show_server.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show ebi server template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'ebi_show_ebi_server' server.id %}">EBI</a></li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<div class="page-content">

	<h1>Browse https://www.ebi.ac.uk/gxa/sc/json/experiments/</h1>

	<p>This Server contains SC {{ experiment_list|length }} Experiments:</p>

	<hr>

	<br />

{% if experiment_list %}

	{% for experiment in experiment_list %}

		{% if forloop.first %}

	<table border="0">

		<tr>
			<th width="200px">Action</th>
			<th>Type</th>
			<th>Accession</th>
			<th>Description</th>
			<th>Load Date</th>
			<th>Last Update</th>
			<th>Number Of Assays</th>
			<th>Number Of Contrasts</th>
			<th>Species</th>
			<th>Kingdom</th>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

		{% endif %}

		<tr>
			<td>
				<!-- <a href="http://localhost:3000/experiment/{{ experiment.experimentAccession }}">-->
				<a href="{% url 'ebi_show_ebi_widget' server.id experiment.experimentAccession %}">
					<button class="button button-view"><i class="fa fa-eye"></i></button>
				</a>
			</td>
			<td>{{ experiment.experimentType }}</td>
			<td>{{ experiment.experimentAccession }}</td>
			<td>{{ experiment.experimentDescription }}</td>
			<td>{{ experiment.loadDate }}</td>
			<td>{{ experiment.lastUpdate }}</td>
			<td>{{ experiment.numberOfAssays }}</td>
			<td>{{ experiment.numberOfContrasts }}</td>
			<td>{{ experiment.species }}</td>
			<td>{{ experiment.kingdom }}</td>
		</tr>

		{% if forloop.last %}

	</table>

		{% endif %}

	{% endfor %}

{% else %}

	<p>No Experiments are available.</p>

{% endif %}

</div><!-- End of page-content -->

{% endblock %}
