<!--
\file         detail_matrix_blog.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The detail matrix (bench) blog template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_benches' %}">Workbenches</a></li>
			<li><a href="{% url 'matrix' matrix.id %}">CPW:{{ matrix.id|stringformat:"06d" }}</a></li>
			<li>Bench Commentary</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}

	{% for message in messages %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

	<div class="panel-alert">

		<p>{{ message }}</p>

	</div>

		{% endif %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

	<div class="panel-success">

		<p>{{ message }}</p>

	</div>

		{% endif %}

    {% endfor %}

{% endif %}


	<h1>CPW:{{ matrix.id|stringformat:"06d" }}, "{{ matrix.title }}"</h1>

	<h3>Bench Commentary</h3>

	<p>Browse the Bench Commentary</p>
	<hr>

	<table border="0">
		<tr>
			<th style="text-align: left; width: 150px;">Date</th>
			<th style="text-align: left; width: 100px;">Time</th>
			<th style="text-align: left; width: 100px;">Author</th>
			<th style="text-align: left;">Post</th>
			<th>Action</th>
		</tr>
		<tr>
			<td style="text-align: left; vertical-align: text-top;">{{ blogpost.date }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ blogpost.time }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ blogpost.author }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ blogpost.content|safe }}</td>
			<td><a class="btn btn-default" href="{{ blogpost.url }}" role="button" target="_blank"><button class="button button-view">View &raquo;</button></a></td>
		</tr>

{% if comment_list %}

		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

	{% for comment in comment_list %}

		{% if forloop.first %}

		<tr>
			<th style="text-align: left; width: 150px;">Date</th>
			<th style="text-align: left; width: 100px;">Time</th>
			<th style="text-align: left; width: 100px;">Author</th>
			<th style="text-align: left;">Comment</th>
			<th>Action</th>
		</tr>

		{% endif %}

		<tr>
			<td style="text-align: left; vertical-align: text-top;">{{ comment.date }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ comment.time }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ comment.author_name }}</td>
			<td style="text-align: left; vertical-align: text-top;">{{ comment.content|safe }}</td>
			<td><a class="btn btn-default" href="{{ comment.url }}" role="button" target="_blank"><button class="button button-view">View &raquo;</button></a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

	{% endfor %}

{% else %}

		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>No Comments!</td>
			<td>&nbsp;</td>
		</tr>

{% endif %}

	</table>

	<br />

	<h5>Post a Comment:</h5>

	<form method="POST" class="post-form">

{% csrf_token %}

<div class="form-container">
	<div class="form-row">
	  <div class="form-col-15">
		<label for="id_comment">Comment:</label>
	  </div>
	  <div class="form-col-5">
	  </div>
	  <div class="form-col-50">
		<textarea required id="id_comment" name="comment" rows="10" cols="100" wrap="soft"> </textarea>
	  </div>
	  <div class="form-col-5">
	  </div>
	  <div class="form-col-20-help">
		<p>Required</p>
	  </div>
	  <div class="form-col-5">
	  </div>
	  <div class="form-col-20">
	  </div>
	  <div class="form-col-5">
	  </div>
	</div>
  </div>

		<br />

		<button type="submit" class="button button-delete">COMMENT</button>

	</form>

	<br />

	<a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">Back</button></a>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
