<!--
\file		  link_images.html
\author	      Mike Wicks
\date		  March 2021
\version	  $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The amend cell template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li>Link Images</li>
			<li>
				<a href="{% url 'view_all_image_links'  %}">ALL Image Links</a>
			</li>
			<li>
				<a href="{% url 'link_images' 0 0 %}">Link Images</a>
			</li>
			<li>
				<a href="{% url 'link_images' 0 0 %}">Reset</a>
			</li>
			<li>
    {% if image_child == None %}
				<a href="{% url 'link_images' 0 0 %}">Reset Image A</a>
	{% else %}
				<a href="{% url 'link_images' 0 image_child.id %}">Reset Image A</a>
	{% endif %}
			</li>
			<li>
	{% if image_parent == None %}
				<a href="{% url 'link_images' 0 0 %}">Reset Image B</a>
	{% else %}
				<a href="{% url 'link_images' image_parent.id 0 %}">Reset Image B</a>
	{% endif %}
			</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">


<!-- Page Side Bar -->
<div class="page-sidebar" style="overflow-y: scroll;">
{% if authority.is_viewer %}
{% else %}
  <!-- Selected or Active Image Collection -->
  <div class="collection-container">
	<div class="collection-item">
	  <div class="collection-master">
		<div class="collection-master-control">
		  <div class="collection-dropdown">
		    <button class="collection-drop-button"><i class="fas fa-bars"></i></button>
			<div class="collection-dropdown-content">
				<a class="test-font" href="{% url 'collection_selection' user.id %}" onclick="open_collection_selection_dialog(event, 'Select Collection ...'); return false;"><button class="button-mini button-add"><i class="fa fa-edit"></i></button> Select Collection</a>
    {% if collection_list %}
		{% for collection in collection_list %}
			{% if collection.collection_id == selected_collection.id %}
				<a class="test-font" title="({{ collection.collection_owner }}), {{ collection.collection_title }}" href="{% url 'list_images' collection.collection_id %}"><button class="button-mini button-view"><i class="fa fa-eye"></i></button> View Collection</a>
			{% else %}
			{% endif %}
		{% endfor %}
	{% endif %}

		    </div>
	      </div>
	    </div>
	  </div>
	</div>
	{% if collection_image_list %}
		{% for image in collection_image_list %}
			{% if authority.is_viewer %}
	<div class="collection-item" id="image_{{ image.id }}">
	  <div class="collection-image">
			{% else %}
	<div class="collection-item" draggable="true" ondragstart="drag(event)" id="image_{{ image.id }}">
	  <div class="collection-image">
	  			{% csrf_token %}
			{% endif %}
		<a href="{{ image.viewer_url }}" target="_blank"><img id="image_{{ image.id }}" alt="{{ image.name }}" title="{{ image.name }}" class="image-holder" src="{{ image.birdseye_url }}" draggable="true" ondragstart="drag(event)"></a>
	  </div>
	</div>
		{% endfor %}
	{% else %}
	<div class="collection-item">
	  <div class="collection-image">
        <button class="basket-button button-info"><i class="fa fa-eye-slash"></i></button>
      </div>
    </div>
	{% endif %}
  </div>
{% endif %}
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">
{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="panel-alert">
    <p>{{ message }}</p>
  </div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="panel-success">
	<p>{{ message }}</p>
  </div>
		{% endif %}
    {% endfor %}
{% endif %}

  <h1>Link Images</h1>
  <p>Link Images ... </p>
  <hr>
  <br />

  <!-- <div class="flex-bench-container"> -->
  <div>

	  <ul class="cell-list">
		<li>
			<div class="cell-image-gallery">
  				<div class="cell-container-gallery">
				  <h3>Image A</h3>
				  <div id="image_parent">
			  	  	<div id="image_parent" ondrop="drop(event)" ondragover="allowDrop(event)">
			    				{% csrf_token %}
			  	  	  <div class="cell" id="image_parent" style="width: 384px; height: 384px;">
			  	  	    <div id="image_parent" class="cell-body" style="top: 12px; left: 12px; width: 350px; height: 350px;">
{% if image_parent == None %}
			  	  		  <a id="image_parent" href="https://www.ed.ac.uk/comparative-pathology">
			  	  		    <img id="image_parent" style="padding: 60px 0px 0px 0px; width: 350px;" alt="The Centre for Comparative Pathology" title="The Centre for Comparative Pathology" src="/static/ccp-logo.png">
			  	  		  </a>
{% else %}
			  	  		  <a id="image_parent" href="{{ image_parent.viewer_url }}" target="_blank">
			  	  		    <img id="image_parent" style="width: 350px; height: 350px;" alt="{{ image_parent.name }}" title="{{ image_parent.name }}" src="{{ image_parent.birdseye_url }}">
			  	  		  </a>
{% endif %}
			  	  		</div>
			  	  	  </div>
			  	  	</div>
			  	  </div>
				  <br />
{% if image_child == None %}
 			  	  <a href="{% url 'link_images' 0 0 %}"><button class="button button-add">RESET</button></a>
{% else %}
 			  	  <a href="{% url 'link_images' 0 image_child.id %}"><button class="button button-add">RESET</button></a>
{% endif %}
  			    </div>
				<br />
  			</div>
		</li>
  		<li>
			<div class="cell-image-gallery">
  				<div class="cell-container-gallery">
				  <h3>Image B</h3>
				  <div id="image_child">
			  	  	<div id="image_child" ondrop="drop(event)" ondragover="allowDrop(event)">
			    				{% csrf_token %}
			  	  	  <div class="cell" id="image_child" style="width: 384px; height: 384px;">
			  	  	    <div id="image_parent" class="cell-body" style="top: 12px; left: 12px; width: 350px; height: 350px;">
{% if image_child == None %}
			  	  		  <a id="image_parent" href="https://www.ed.ac.uk/comparative-pathology">
			  	  		    <img id="image_child" style="padding: 60px 0px 0px 0px; width: 350px;" alt="The Centre for Comparative Pathology" title="The Centre for Comparative Pathology" src="/static/ccp-logo.png">
			  	  		  </a>
{% else %}
			  	  		  <a id="image_child" href="{{ image_child.viewer_url }}" target="_blank">
			  	  		    <img id="image_child" style="width: 350px; height: 350px;" alt="{{ image_child.name }}" title="{{ image_child.name }}" src="{{ image_child.birdseye_url }}">
			  	  		  </a>
{% endif %}
			  	  		</div>
			  	  	  </div>
			  	  	</div>
			  	  </div>
				  <br />
{% if image_parent == None %}
			  	  <a href="{% url 'link_images' 0 0 %}"><button class="button button-add">RESET</button></a>
{% else %}
			  	  <a href="{% url 'link_images' image_parent.id 0 %}"><button class="button button-add">RESET</button></a>
{% endif %}
  			    </div>
				<br />
  			</div>
  		</li>
		<li>
			<div class="cell-image-gallery" style="width: 500px;">
  				<div class="cell-container-gallery">
					<h3>Supplementary Information</h3>
					<form method="POST" class="post-form" enctype="multipart/form-data">
				      {% csrf_token %}
				  {% include 'includes/form_link.html' %}
				  	<br />
				  	<button type="submit" class="button button-delete">UPDATE</button>
				    </form>
				    <br />
				    <a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">CLEAR</button></a>
  					<br />
  			    </div>
  				<br />
  			</div>
  		</li>
  	</ul>

  </div><!-- End of amend-cell-container -->
  <br />

</div><!-- End of page-content -->

</div><!-- End of page-body -->


{% block extrajs %}

<script type="text/javascript">

function confirmation(question, source_type) {

	var defer = $.Deferred();

	if (source_type == "image") {

		$('<div></div>')
			.html(question)
			.dialog({
				autoOpen: true,
				modal: true,
				title: 'Confirmation',
				buttons: {
					"IMPORT": function () {
						defer.resolve("import");
						$(this).dialog("close");
					},
					"CLOSE": function () {
						$(this).dialog('destroy').remove();
					}
				},
				close: function () {
					$(this).dialog('destroy').remove();
				}
			});
	}

	return defer.promise();
}


function onclick(source, target, source_type, target_type){

	var question = "";
	var newParent = "";
	var newChild = "";

	if (target == "parent") {

		question = "Do you want this Image to be the PARENT Image?";
		newParent = source;
	}

	if (target == "child") {

		question = "Do you want this Image to be the CHILD Image?";
		newChild = source;
	}

	confirmation(question, source_type).then(function (answer) {

		if (answer == "import"){

			const url = new URL(window.location.href);
			protocol = url.protocol;
			host = url.host;
			pathname = url.pathname;

			pathArray = pathname.split("/");
			view = pathArray[1];
			parent = pathArray[2];
			child = pathArray[3];
			collection = pathArray[4];

			if (target == "parent") {
				parent = newParent;
			}
			if (target == "child") {
				child = newChild;
			}
			newPath = protocol + '//' + host + '/' + view + '/' + parent + '/' + child + '/';

			window.location.href = newPath;
		}
	});
}


function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev){

	ev.preventDefault();

	var image_id = '';
	var src = '';

	var image = ev.dataTransfer.getData("text/html")
	var division = ev.dataTransfer.getData("Text")

	if ( image ) {

		var dropContext = $('<div>').append(image);
		image_id = $(dropContext).find("img").attr('id');
		src = document.getElementById(image_id);
	}

	if ( division ) {

		src = document.getElementById(division);
	}

	//console.log("drop - src.id : " + src.id);

	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];
	//console.log("drop - source_id : " + source_id);
	//console.log("drop - source_type : " + source_type);

	const data = ev.target;
	//console.log("drop - data : " + data);

	var tgt = ev.target;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//console.log("drop - target_id : " + target_id);
	//console.log("drop - target_type : " + target_type);

	onclick(source_id, target_id, source_type, target_type);

}

// MAINLINE

// When page first loads, if we have a server...
//const server_url = getParameterByName("server");

collection_in = document.getElementsByClassName("loginStatus_in");

for (var i = 0; i < collection_in.length; i++) {

	nodeHTML = collection_in[i];
	text = nodeHTML.id;
	//console.log("IN text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_present(server_url, nodeHTML.id);
}

collection_out = document.getElementsByClassName("loginStatus_out");

for (var i = 0; i < collection_out.length; i++) {

	nodeHTML = collection_out[i]
	text = nodeHTML.id;
	//console.log("OUT text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_absent(server_url, nodeHTML.id);
}


function open_collection_selection_dialog(event, title) {
  event.preventDefault();
  var url = $(event.target).attr('href');
  dialog_edit.options.url = url;
  dialog_edit.options.title = '<i class="fa fa-calculator"></i> ' + title;
  dialog_edit.open(event);
}


$(document).ready(function () {
  dialog_edit = new Dialog({
	dialog_selector: '#dialog_generic',
	html: '<h1>Loading ...</h1>',
	width: '600px',
	min_height: '200px',
	button_save_initially_hidden: true,
	enable_trace: true,
	callback: function (event_name, dialog, params) {
	  switch (event_name) {
		case "submitting":
		  FrontendForms.overlay_show('.dialog-body');
		  break;
		case "loaded":
		  FrontendForms.overlay_hide('.dialog-body');
		  break;
		case "submitted":
		  // Reload page, with last selection enhanced
		  // var object_id = dialog.element.find('input[name=object_id]').val();
          var url = new URL(document.location.href);
          //url.searchParams.set('selected_record', object_id);
          FrontendForms.gotourl(url, show_layer=true);
		  break;
	  }
	}
  });
});


</script>

{% endblock extrajs %}

{% inlineedit_script %}

{% endblock %}
