<!--
\file         view_matrix.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view matrix (bench) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block breadcrumb %}
<!-- Breadcrumb Menu -->

			<li>
				<a href="{% url 'list_public_benches' %}">Public Workbenches</a>
			</li>
			<li>
				<a data-value="{{ matrix.id }}" href="#" class="bench-info-button btn btn-primary">{{ matrix.get_formatted_id }}, {{ matrix.title }}</a>
			</li>
			<li>
				<a href="{% url 'aggregated_matrix_blog' matrix.id %}">
				  <div class="tooltip" style="font-size: 12px; width:150px;">
					<button class="button button-add" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #{{ environment_summary.environment_colour }}; border-radius: 5px; color: Black; background-color: #{{ environment_summary.environment_colour }}; font-size: 1em;">
					  <i class="fa fa-bullhorn"></i>
					</button>
		            <span class="tooltiptext">Aggregated Bench and Cell Commentary</span>
		    	  </div>
				</a>
			</li>

{% endblock %}

{% block content %}
<!-- Main Data Panel -->
<div class="page-body">
<div class="page-sidebar">
</div>

<!-- The Bench -->
<div class="page-content">
{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="panel-alert">
			<p>{{ message }}</p>
		</div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
		<div class="panel-success">
			<p>{{ message }}</p>
		</div>
		{% endif %}
    {% endfor %}
{% endif %}

{% if rows %}
    {% for row in rows %}
  <div class="flex-bench-container">
        {% for column in columns %}
		    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}
		        {% if matrix_cell.is_master %}
    <div class="flex-bench-item" id="{{ matrix_cell.id }}">
      <div class="master-cell">
        <div class="master-cell-control">
          <div class="bench-dropdown">
            <button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">
			  <a data-value="{{ matrix.id }}" href="#" class="bench-info-button btn btn-primary"><i class="fa fa-info"></i> Info.</a>
			  <a data-value="{{ matrix.id }}" href="#" class="bench-blog-button btn btn-primary"><i class="fa fa-eye"></i> View Bench Commentary</a>
			  <a href="{% url 'aggregated_matrix_blog' matrix.id %}"><i class="fa fa-bullhorn"></i><span class="menu-item">&#9;</span> Aggregated Commentary</a>
			</div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of master-cell-control -->
      </div><!-- End of master-cell -->
    </div><!-- End of flex-bench-item -->
	    	    {% endif %}
<!-- Row Header Cells -->
		        {% if matrix_cell.is_column_header and not matrix_cell.is_row_header %}
<!-- The Bottom-Most Row Header Cell -->
			        {% if matrix.get_max_row == matrix_cell.ycoordinate %}
    <div class="flex-bench-item" id="BMRHC_{{ matrix_cell.id }}">
	  <div class="bottom-right-cell" id="BMRHC_{{ matrix_cell.id }}" >
	  </div><!-- End of bottom-right-cell -->
    </div><!-- End of flex-bench-item -->
    			    {% endif %}
<!-- The Other Row Header Cells -->
				    {% if matrix.get_max_row != matrix_cell.ycoordinate %}
      <div class="flex-bench-item" id="ORHC_{{ matrix_cell.id }}" >
		<div class="row-header-cell" style="height:{{ matrix.height }}px;" id="ORHC_{{ matrix_cell.id }}" >
		  <div class="row-header-cell-title" id="ORHC_{{ matrix_cell.id }}" style="top: 27px;" >
			{% if matrix_cell.title != '' %}
          <div class="tooltiprow"><i class="fa fa-info-circle"></i>
              <span class="tooltiprowtext" style="margin-left: 22px;">{{ matrix_cell.title }}</span>
          </div>
        </div><!-- End of row-header-cell-title -->
        <div class="vertical-text" style="margin-top: {{ matrix.height|add:"-22" }}px; margin-left: 7px; width:{{ matrix.height|add:"-102" }}px;">
                            {% if matrix.height >= 75 and matrix.height <= 93 %}
                            {% endif %}
                            {% if matrix.height >= 94 and matrix.height <= 112 %}
            {{ matrix_cell.title|truncatechars:1 }}
                            {% endif %}
                            {% if matrix.height >= 113 and matrix.height <= 131 %}
            {{ matrix_cell.title|truncatechars:3 }}
                            {% endif %}
                            {% if matrix.height >= 132 and matrix.height <= 150 %}
            {{ matrix_cell.title|truncatechars:5 }}
                            {% endif %}
                            {% if matrix.height >= 151 and matrix.height <= 169 %}
            {{ matrix_cell.title|truncatechars:6 }}
                            {% endif %}
                            {% if matrix.height >= 170 and matrix.height <= 188 %}
            {{ matrix_cell.title|truncatechars:6 }}
                            {% endif %}
                            {% if matrix.height >= 189 and matrix.height <= 208 %}
            {{ matrix_cell.title|truncatechars:9 }}
                            {% endif %}
                            {% if matrix.height >= 209 and matrix.height <= 227 %}
            {{ matrix_cell.title|truncatechars:11 }}
                            {% endif %}
                            {% if matrix.height >= 228 and matrix.height <= 246 %}
            {{ matrix_cell.title|truncatechars:13 }}
                            {% endif %}
                            {% if matrix.height >= 247 and matrix.height <= 265 %}
            {{ matrix_cell.title|truncatechars:15 }}
                            {% endif %}
                            {% if matrix.height >= 266 and matrix.height <= 284 %}
            {{ matrix_cell.title|truncatechars:18 }}
                            {% endif %}
                            {% if matrix.height >= 285 and matrix.height <= 303 %}
            {{ matrix_cell.title|truncatechars:21 }}
                            {% endif %}
                            {% if matrix.height >= 304 and matrix.height <= 322 %}
            {{ matrix_cell.title|truncatechars:23 }}
                            {% endif %}
                            {% if matrix.height >= 323 and matrix.height <= 341 %}
            {{ matrix_cell.title|truncatechars:25 }}
                            {% endif %}
                            {% if matrix.height >= 342 and matrix.height <= 360 %}
            {{ matrix_cell.title|truncatechars:27 }}
                            {% endif %}
                            {% if matrix.height >= 361 and matrix.height <= 379 %}
            {{ matrix_cell.title|truncatechars:29 }}
                            {% endif %}
                            {% if matrix.height >= 380 and matrix.height <= 398 %}
            {{ matrix_cell.title|truncatechars:31 }}
                            {% endif %}
                            {% if matrix.height >= 399 and matrix.height <= 407 %}
            {{ matrix_cell.title|truncatechars:33 }}
                            {% endif %}
                            {% if matrix.height >= 408 and matrix.height <= 426 %}
            {{ matrix_cell.title|truncatechars:35 }}
                            {% endif %}
                            {% if matrix.height >= 427 and matrix.height <= 450 %}
            {{ matrix_cell.title|truncatechars:37 }}
                            {% endif %}
                        {% endif %}
        </div>
		<div class="row-header-cell-control" id="ORHC_{{ matrix_cell.id }}" >
		  <div class="bench-dropdown" id="ORHC_{{ matrix_cell.id }}" >
			<button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">
			  <a data-value="{{ matrix_cell.id }}" href="#" class="bench-cell-header-button btn btn-primary"><i class="fa fa-info"></i> View Row Header</a>
			</div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of row-header-cell-control -->
      </div><!-- End of row-header-cell -->
    </div><!-- End of flex-bench-item -->
		    	    {% endif %}
			    {% endif %}
<!-- Column Header Cells -->
			    {% if not matrix_cell.is_column_header and matrix_cell.is_row_header %}
<!-- The Right-Most Column Header Cell -->
    			    {% if matrix.get_max_column == matrix_cell.xcoordinate %}
    <div class="flex-bench-item" id="RMCHC_{{ matrix_cell.id }}">
	  <div class="column-header-right-cell" id="RMCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" >
      </div><!-- End of column-header-right-cell -->
    </div><!-- End of flex-bench-item -->
				    {% endif %}
<!-- The Other Column Header Cells -->
				    {% if matrix.get_max_column != matrix_cell.xcoordinate %}
	<div class="flex-bench-item" id="OCHC_{{ matrix_cell.id }}" >
	  <div class="column-header-cell" style="width:{{ matrix.width }}px;" id="OCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" >
	    <div class="column-header-cell-title" style="width:{{ matrix.width|add:"-62"  }}px;" id="OCHC_{{ matrix_cell.id }}" >
							{% if matrix_cell.title != '' %}
          <div class="tooltipcolumn"><i class="fa fa-info-circle"></i>
                            {% if matrix.width >= 75 and matrix.width <= 93 %}
                            {% endif %}
                            {% if matrix.width >= 94 and matrix.width <= 112 %}
                            {% endif %}
                            {% if matrix.width >= 113 and matrix.width <= 131 %}
            {{ matrix_cell.title|truncatechars:2 }}
                            {% endif %}
                            {% if matrix.width >= 132 and matrix.width <= 150 %}
            {{ matrix_cell.title|truncatechars:4 }}
                            {% endif %}
                            {% if matrix.width >= 151 and matrix.width <= 169 %}
            {{ matrix_cell.title|truncatechars:5 }}
                            {% endif %}
                            {% if matrix.width >= 170 and matrix.width <= 188 %}
            {{ matrix_cell.title|truncatechars:7 }}
                            {% endif %}
                            {% if matrix.width >= 189 and matrix.width <= 208 %}
            {{ matrix_cell.title|truncatechars:9 }}
                            {% endif %}
                            {% if matrix.width >= 209 and matrix.width <= 227 %}
            {{ matrix_cell.title|truncatechars:12 }}
                            {% endif %}
                            {% if matrix.width >= 228 and matrix.width <= 246 %}
            {{ matrix_cell.title|truncatechars:14 }}
                            {% endif %}
                            {% if matrix.width >= 247 and matrix.width <= 265 %}
            {{ matrix_cell.title|truncatechars:17 }}
                            {% endif %}
                            {% if matrix.width >= 266 and matrix.width <= 284 %}
            {{ matrix_cell.title|truncatechars:19 }}
                            {% endif %}
                            {% if matrix.width >= 285 and matrix.width <= 303 %}
            {{ matrix_cell.title|truncatechars:23 }}
                            {% endif %}
                            {% if matrix.width >= 304 and matrix.width <= 322 %}
            {{ matrix_cell.title|truncatechars:24 }}
                            {% endif %}
                            {% if matrix.width >= 323 and matrix.width <= 341 %}
            {{ matrix_cell.title|truncatechars:26 }}
                            {% endif %}
                            {% if matrix.width >= 342 and matrix.width <= 360 %}
            {{ matrix_cell.title|truncatechars:29 }}
                            {% endif %}
                            {% if matrix.width >= 361 and matrix.width <= 379 %}
            {{ matrix_cell.title|truncatechars:31 }}
                            {% endif %}
                            {% if matrix.width >= 380 and matrix.width <= 398 %}
            {{ matrix_cell.title|truncatechars:33 }}
                            {% endif %}
                            {% if matrix.width >= 399 and matrix.width <= 407 %}
            {{ matrix_cell.title|truncatechars:36 }}
                            {% endif %}
                            {% if matrix.width >= 408 and matrix.width <= 426 %}
            {{ matrix_cell.title|truncatechars:37 }}
                            {% endif %}
                            {% if matrix.width >= 427 and matrix.width <= 450 %}
            {{ matrix_cell.title|truncatechars:39 }}
                            {% endif %}
            <span class="tooltipcolumntext">{{ matrix_cell.title }}</span>
          </div>
                        {% endif %}
	  	</div><!-- End of column-header-cell-title -->

		<div class="column-header-cell-control" id="OCHC_{{ matrix_cell.id }}" >
		  <div class="bench-dropdown" id="OCHC_{{ matrix_cell.id }}" >
			<button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">
	 		 <a data-value="{{ matrix_cell.id }}" href="#" class="bench-cell-header-button btn btn-primary"><i class="fa fa-info"></i> View Column Header</a>
			</div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of column-header-cell-control -->
      </div><!-- End of column-header-cell -->
    </div><!-- End of flex-bench-item -->
			        {% endif %}
			    {% endif %}
<!-- Non Header Cells -->
			    {% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}
<!-- Ordinary Cells -->
    			    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
	<div class="flex-bench-item" id="cell_{{ matrix_cell.id }}">
	  <div class="cell" id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width }}px; height:{{ matrix.height }}px;" >
		<div id="cell_{{ matrix_cell.id }}" class="cell-title" style="font-size: 12px; width:{{ matrix.width|add:"-62" }}px;">
      <div class="tooltip" style="color: #CCFFCC;"><i class="fa fa-info-circle"></i>
				<span class="tooltiptext">{{ matrix_cell.get_coordinates }}</span>
			</div>

                        {% if matrix_cell.title != ''%}
		  <div class="tooltip" style="font-size: 12px;">
          <!-- <div class="tooltip" style="font-size: 12px; width:{{ matrix.width|add:"-82" }}px;"> -->

                            {% if matrix.width >= 75 and matrix.width <= 93 %}
      		  {{ matrix_cell.title|truncatechars:1 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 94 and matrix.width <= 112 %}
      		  {{ matrix_cell.title|truncatechars:1 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 113 and matrix.width <= 131 %}
      		  {{ matrix_cell.title|truncatechars:3 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 132 and matrix.width <= 150 %}
      		  {{ matrix_cell.title|truncatechars:5 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 151 and matrix.width <= 169 %}
      		  {{ matrix_cell.title|truncatechars:9 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 170 and matrix.width <= 188 %}
      		  {{ matrix_cell.title|truncatechars:11 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 189 and matrix.width <= 208 %}
      		  {{ matrix_cell.title|truncatechars:13 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 209 and matrix.width <= 227 %}
      		  {{ matrix_cell.title|truncatechars:15 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 228 and matrix.width <= 246 %}
      		  {{ matrix_cell.title|truncatechars:17 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 247 and matrix.width <= 265 %}
      		  {{ matrix_cell.title|truncatechars:19 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 266 and matrix.width <= 284 %}
      		  {{ matrix_cell.title|truncatechars:21 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 285 and matrix.width <= 303 %}
      		  {{ matrix_cell.title|truncatechars:23 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 304 and matrix.width <= 322 %}
      		  {{ matrix_cell.title|truncatechars:25 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 323 and matrix.width <= 341 %}
      		  {{ matrix_cell.title|truncatechars:28 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 342 and matrix.width <= 360 %}
      		  {{ matrix_cell.title|truncatechars:31 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 361 and matrix.width <= 379 %}
      		  {{ matrix_cell.title|truncatechars:34 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 380 and matrix.width <= 398 %}
      		  {{ matrix_cell.title|truncatechars:37 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 399 and matrix.width <= 407 %}
      		  {{ matrix_cell.title|truncatechars:40 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 408 and matrix.width <= 426 %}
      		  {{ matrix_cell.title|truncatechars:43 }}
      		  				{% endif %}
      		  				{% if matrix.width >= 427 and matrix.width <= 450 %}
      		  {{ matrix_cell.title|truncatechars:43 }}
      		  				{% endif %}

    	    <!-- <span class="tooltiptext" style="margin-left: -{{ matrix.width|add:"-82" }}px;">{{ matrix_cell.title }}</span> -->
            <span class="tooltiptext">{{ matrix_cell.title }}</span>
    	  </div>
                            {% if matrix_cell.image %}
                                {% if matrix_cell.image.exists_parent_image_links or matrix_cell.image.exists_child_image_links %}
		  <div id="cell_{{ matrix_cell.id }}" class="cell-control-chain" style="left: {{ matrix.width|add:"-62" }}px;">
	  	    <a href="{% url 'view_a_and_b_image_links' matrix_cell.image.id %}"><i class="fa fa-chain fa-sm"></i></a>
          </div>
						        {% endif %}
                            {% endif %}
                        {% endif %}
        </div><!-- End of cell-title -->
        <div id="cell_{{ matrix_cell.id }}" class="cell-control">
          <div id="cell_{{ matrix_cell.id }}" class="cell-dropdown">
            <button class="cell-drop-button"><i class="fas fa-bars"></i></button>
            <div class="cell-dropdown-content">
			  <a data-value="{{ matrix_cell.id }}" href="#" class="bench-cell-blog-button btn btn-primary"><i class="fa fa-eye"></i> View Cell Commentary</a>

            </div><!-- End of cell-dropdown-content -->
          </div><!-- End of cell-dropdown -->
        </div><!-- End of cell-control -->
        <div id="cell_{{ matrix_cell.id }}" class="cell-body" style="width:{{ matrix.width|add:"-6" }}px; height:{{ matrix.height|add:"-32" }}px;">
						{% if matrix_cell.image %}
							{% if matrix_cell.image.roi == 0 %}
		  <a id="cell_{{ matrix_cell.id }}" class="cell-image" href="{{ matrix_cell.image.viewer_url }}" target="_blank">
		    <img id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width|add:"-42" }}px; height:{{ matrix.height|add:"-42" }}px;" alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" src="{{ matrix_cell.image.birdseye_url }}">
		  </a>
						  	{% else %}
		  <a id="cell_{{ matrix_cell.id }}" class="cell-image" href="{{ matrix_cell.image.viewer_url }}" target="_blank">
		    <img id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width|add:"-42" }}px; height:{{ matrix.height|add:"-42" }}px;" alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" src="{{ matrix_cell.image.birdseye_url }}">
		  </a>
							{% endif %}
						{% endif %}
        </div><!-- End of cell-body -->
      </div><!-- End of cell -->
    </div><!-- End of flex-bench-item -->
				    {% endif %}
<!-- Right-Most Footer Cells -->
				    {% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
    <div class="flex-bench-item" id="RMFC_{{ matrix_cell.id }}">
	  <div class="row-footer-cell" style="height:{{ matrix.height }}px;" id="RMFC_{{ matrix_cell.id }}" >
      </div><!-- bottom-right-cell -->
    </div><!-- End of flex-bench-item -->
				    {% endif %}
<!-- Bottom-Most Footer Cells -->
				    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}
    <div class="flex-bench-item" id="BMFC_{{ matrix_cell.id }}">
	  <div class="column-footer-cell" style="width:{{ matrix.width }}px;" id="BMFC_{{ matrix_cell.id }}" >
      </div><!-- column-footer-cell -->
    </div><!-- End of flex-bench-item -->
				    {% endif %}
<!-- Bottom-Most and Right-Most Footer Cell -->
				    {% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}
    <div class="flex-bench-item" id="BMRMFC_{{ matrix_cell.id }}">
	  <div class="bottom-right-cell" id="BMRMFC_{{ matrix_cell.id }}" >
      </div><!-- bottom-right-cell -->
    </div><!-- End of flex-bench-item -->
				    {% endif %}
			    {% endif %}
		    {% endwith %}
	    {% endfor %}
  </div><!-- End of flex-bench-container -->
    {% endfor %}
<!-- There are NO Cells - This should not happen! -->
{% else %}
{% endif %}
</div><!-- End of page-content -->
</div><!-- End of page-body -->

{% endblock %}

{% block extrajs %}

<script type="text/javascript">

	// MAINLINE

    function onBenchInfoButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
        var dialogs = [
        	dialog_info_{{ matrix.id }}
        ];
        var target = "dialog_info_" + n.toString();
        eval(target).open(event);
	}

    $(document).ready(function() {
        $('.bench-info-button').on('click', onBenchInfoButtonClicked);
        dialog_info_{{ matrix.id }} = new Dialog({
            url: "{% url 'bench_read' matrix.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Info. for Bench {{ matrix.get_formatted_id }} ...',
            button_save_label: null,
            enable_trace: true
        });
    });


	function onBenchBlogButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
        var dialogs = [
            dialog_blog_{{ matrix.id }}
        ];
        var target = "dialog_blog_" + n.toString();
        eval(target).open(event);
	}

    $(document).ready(function() {
        $('.bench-blog-button').on('click', onBenchBlogButtonClicked);
        dialog_blog_{{ matrix.id }} = new Dialog({
            url: "{% url 'bench_blog_read' matrix.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Commentary for Bench {{ matrix.get_formatted_id }} ...',
            button_save_label: null,
            enable_trace: true
        });
    });


	function onCellBlogButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
		var dialogs = [
{% if rows %}
    {% for row in rows %}
        {% for column in columns %}
		    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}
  			    {% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}
    			    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
						{% if matrix_cell.has_blogpost %}
            dialog_cell_blog_{{ matrix_cell.id }},
						{% endif %}
				    {% endif %}
  			    {% endif %}
		    {% endwith %}
	    {% endfor %}
    {% endfor %}
{% endif %}
		];
		var target = "dialog_cell_blog_" + n.toString();
		eval(target).open(event);
	}

	$(document).ready(function() {
        $('.bench-cell-blog-button').on('click', onCellBlogButtonClicked);
{% if rows %}
    {% for row in rows %}
        {% for column in columns %}
		    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}
  			    {% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}
    			    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
						{% if matrix_cell.has_blogpost %}
        dialog_cell_blog_{{ matrix_cell.id }} = new Dialog({
            url: "{% url 'bench_cell_blog_read' matrix_cell.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Bench Cell {{ cell.get_formatted_id }} ...',
            button_save_label: null,
            enable_trace: true
        });
						{% endif %}
				    {% endif %}
  			    {% endif %}
		    {% endwith %}
	    {% endfor %}
    {% endfor %}
{% endif %}
	});

	function onHeaderInfoButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
		var dialogs = [
{% if rows %}
    {% for row in rows %}
        {% for column in columns %}
		    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}
				{% if not matrix_cell.is_master %}
  			    	{% if matrix_cell.is_column_header or matrix_cell.is_row_header %}
    			    	{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
            dialog_cell_header_{{ matrix_cell.id }},
				    	{% endif %}
					{% endif %}
  			    {% endif %}
		    {% endwith %}
	    {% endfor %}
    {% endfor %}
{% endif %}
		];
		var target = "dialog_cell_header_" + n.toString();
		eval(target).open(event);
	}

	$(document).ready(function() {
        $('.bench-cell-header-button').on('click', onHeaderInfoButtonClicked);
{% if rows %}
    {% for row in rows %}
        {% for column in columns %}
		    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}
				{% if not matrix_cell.is_master %}
  			    	{% if matrix_cell.is_column_header or matrix_cell.is_row_header %}
    			    	{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
        dialog_cell_header_{{ matrix_cell.id }} = new Dialog({
            url: "{% url 'header_read' matrix_cell.matrix_id matrix_cell.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Bench Header Cell {{ matrix_cell.get_formatted_id }} ...',
            button_save_label: null,
            enable_trace: true
        });
						{% endif %}
				    {% endif %}
  			    {% endif %}
		    {% endwith %}
	    {% endfor %}
    {% endfor %}
{% endif %}
	});

</script>

{% endblock extrajs %}
