<!--
\file         view_child_image_links.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view collection template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li>
				<a href="{% url 'link_images' 0 0 %}">Link Images</a>
			</li>
			<li>
				<a href="{% url 'view_all_image_links'  %}">ALL Image Links</a>
			</li>
			<li>All Image Links for B Image {{ image_child.id }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	<div class="panel-alert">
		<p>{{ message }}</p>
	</div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	<div class="panel-success">
		<p>{{ message }}</p>
	</div>
		{% endif %}
    {% endfor %}
{% endif %}

	<h1>ALL Image Links for the B Image {{ image_child.id }}</h1>
	<p>You can view {{ image_link_list|length }} Image Links for the B Image
{% if image_child.server.is_wordpress %}
		<a href="{% url 'webgallery_show_wordpress_image' image_child.server.id image_child.identifier %}">( {{ image_child.identifier }} )</a>
{% endif %}
{% if image_child.server.is_omero547 %}
		<a href="{% url 'webgallery_show_image' image_child.server.id image_child.identifier %}">( {{ image_child.identifier }} )</a>
{% endif %}
{% if image_child.server.is_ebi_sca %}
		<a href="{% url 'webgallery_show_ebi_sca_image' image_child.server.id image_child.name %}">( {{ image_child.name }} )</a>
{% endif %}
{% if image_child.server.is_cpw %}
		<a href="{% url 'webgallery_show_cpw_image' image_child.server.id image_child.name %}">( {{ image_child.name }} )</a>
{% endif %}
	</p>

	<hr>
	<br />

{% if image_link_list %}
	{% for image_link in image_link_list %}
		{% if forloop.first %}
	<table border="0">
		<tr>
			<th style="width: 100px; position: sticky; top: 0;">Action</th>
			<th style="position: sticky; top: 0;">Image A</th>
			<th style="position: sticky; top: 0;">Image B</th>
			<th style="position: sticky; top: 0;">Upload Time</th>
			<th style="position: sticky; top: 0;">Attachment</th>
			<th style="position: sticky; top: 0;">Comment</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endif %}
		<tr>
			<td style="vertical-align: top;">
				<a href="{% url 'view_image_link' image_link.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
		{% if image_link.get_owner == request.user %}
				<a href="{% url 'delete_image_link' image_link.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE LINK?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
		{% endif %}
			</td>
			<td style="vertical-align: top; width:256px;" >
				<a href="{{ image_link.parent_image.viewer_url  }}" target="_blank"><img alt="{{ image_link.parent_image.name }}" title="{{ image_link.parent_image.name }}" style="width:256px; height:256px; float: left" title="{{ image_link.parent_image.name }}" src="{{ image_link.parent_image.birdseye_url }}" ></a>
			</td>
			<td style="vertical-align: top; width:256px;" >
				<a href="{{ image_link.child_image.viewer_url  }}" target="_blank"><img alt="{{ image_link.child_image.name }}" title="{{ image_link.child_image.name }}" style="width:256px; height:256px; float: left" title="{{ image_link.child_image.name }}" src="{{ image_link.child_image.birdseye_url }}" ></a>
			</td>
			<td>{{ image_link.artefact.uploaded_at }}</td>
			<td>
		{% if image_link.artefact.has_location %}
				<a href="{{ image_link.artefact.url }}">{{ image_link.artefact.get_location_minus_path }}</a>
		{% else %}
				No Attachment!
		{% endif %}
			</td>
			<td>{{ image_link.artefact.comment|truncatechars:50 }}</td>
		</tr>
		{% if forloop.last %}
	</table>
		{% endif %}
	{% endfor %}
{% else %}
	<p>No Images are available.</p>
{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
