body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}


/* THE PAGE */

.page-container {
  font-family: Verdana, Geneva, sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 174px auto 123px;
}

.page-header {
}

.page-body {
  display: grid;
  grid-template-columns: 125px auto;
  overflow: visible;
}

.page-sidebar {
}

.page-content {
}

.page-footer {
  z-index: 0;
}


/* THE COLLECTION */

.collection-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.collection-item {
  padding: 5px;
}


/* THE HEADER */

.grid-container-header {
  font-family: Verdana, Geneva, sans-serif;
  display: grid;
  grid-template-columns: 125px 170px 170px 170px 170px 170px auto 180px 170px auto;
  grid-template-rows: auto auto auto auto auto;
}

.grid-container-header>div {
  text-align: left;
}

.grid-item-header-logo {
  padding: 15px 0px 0px 0px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid-item-header-logo a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.grid-item-header-logo a:hover {
  background-color: LightGray;
}

.grid-item-header-title {
  padding: 25px 5px 5px 5px;
  font-size: 40px;
  grid-column-start: 2;
  grid-column-end: 8;
}

.grid-item-header-title a {
  color: black;
  text-decoration: none;
}

.grid-item-header-title a:hover {
  background-color: LightGray;
}

.grid-item-header-bench {
  padding: 0px 0px 0px 0px;
  grid-column-start: 2;
}

.grid-item-header-collection {
  padding: 0px 0px 0px 0px;
}

.grid-item-header-image {
  padding: 0px 0px 0px 0px;
}

.grid-item-header-source {
  padding: 0px 0px 0px 0px;
}

.grid-item-header-about {
  padding: 0px 0px 0px 0px;
  grid-column-start: 6;
  grid-column-end: 10;
}

.grid-item-header-user {
  padding: 30px 0px 0px 15px;
}

.grid-item-header-search {
  padding: 30px 15px 0px 15px;
}

.grid-item-header-search input[type=text] {
  width: 75%;
  padding: 2px 2px 2px 2px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

.grid-item-header-breadcrumb {
  padding: 5px 5px 15px 5px;
  grid-column-start: 2;
  grid-column-end: 10;
}

.grid-item-header-logo-under {
  padding: 15px 0px 0px 0px;
  grid-row-start: 4;
  grid-row-end: 5;
}

.grid-item-header-breadcrumb-under {
  padding: 5px 5px 15px 5px;
  grid-column-start: 2;
  grid-column-end: 10;
}


/* THE FOOTER */

.grid-container-footer {
  display: grid;
  grid-template-columns: 125px auto auto auto auto auto auto auto;
  padding: 0;
  margin: 0;
}

.grid-item-footer {
  padding: 25px 25px 0px 0px;
  border: 0px solid LightGray;
}


/* THE HEADER MENUS */

.header-drop-button {
  padding: 8px 15px 12px 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.header-drop-button a {
  color: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-dropdown-content a {
  color: black;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  display: block;
}

.header-dropdown-content a:hover {
  background-color: #F1F1F1
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-dropdown:hover .header-drop-button {
  background-color: LightGray;
}


/* THE COLLECTION MENUS */

.collection-drop-button {
  background-color: #FF8C69;
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.collection-drop-button a {
  color: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
}

.collection-dropdown {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

.collection-dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F9F9F9;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.collection-dropdown-content a {
  color: black;
  padding: 4px 2px 4px 2px;
  text-decoration: none;
  display: block;
}

.collection-dropdown-content a:hover {
  background-color: #FF8C69;
}

.collection-dropdown:hover .collection-dropdown-content {
  display: block;
}

.collection-dropdown:hover .collection-drop-button {
  background-color: #FF8C69;
}


/* THE BENCH MENUS */

.bench-drop-button {
  background-color: #F9E79F;
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.bench-drop-button a {
  color: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
}

.bench-dropdown {
  position: relative;
  display: inline-block;
}

.bench-dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bench-dropdown-content a {
  color: black;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  display: block;
}

.bench-dropdown-content a:hover {
  background-color: #F9E79F;
}

.bench-dropdown:hover .bench-dropdown-content {
  display: block;
}

.bench-dropdown:hover .bench-drop-button {
  background-color: #F9E79F;
}


/* THE CELL MENUS */

.cell-drop-button {
  background-color: #CCFFCC;
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.cell-drop-button a {
  color: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
}

.cell-dropdown {
  position: relative;
  display: inline-block;
}

.cell-dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cell-dropdown-content a {
  color: black;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  display: block;
}

.cell-dropdown-content a:hover {
  background-color: #CCFFCC;
}

.cell-dropdown:hover .cell-dropdown-content {
  display: block;
}

.cell-dropdown:hover .cell-drop-button {
  background-color: #CCFFCC;
}

/* GENERIC MENUS */

.generic-drop-button {
  background-color: #F9F9F9;
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.generic-drop-button a {
  color: black;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
}

.generic-dropdown {
  position: relative;
  display: inline-block;
}

.generic-dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.generic-dropdown-content a {
  color: black;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  display: block;
}

.generic-dropdown-content a:hover {
  background-color: #FFFF99;
}

.generic-dropdown:hover .generic-dropdown-content {
  display: block;
}

.generic-dropdown:hover .generic-drop-button {
  color: White;
  background-color: #1C7430;
  border-color: #1C7430;
}


/* THE BREADCRUMB */

ul.breadcrumb {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li a {
  color: #0275D8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447E;
  text-decoration: underline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: Black;
  content: "/\00a0";
}


/* THE CELLS */

.collection-master {
  position: relative;
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  background-color: #FF8C69;
  border-radius: 5px 5px 5px 5px;
  box-shadow: #B3B3B3 2px 2px 2px;
  height: 40px;
  width: 100px;
}

.collection-master-control {
  position: absolute;
  top: 5px;
  left: 40px;
  right: 3px;
  width: 3px;
  height: 20px;
  border: 3px solid #FF8C69;
}

.collection-image {
  width: 100px;
  height: 100px;
  padding: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #FF8C69;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
}

.collection-menu {
  width: 100px;
  height: 45px;
  padding: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #FF8C69;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
}

.image-holder {
  width: 90px;
  height: 90px;
  float: left;
}

.flex-bench-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
}

.flex-bench-item {
  padding: 3px 3px 3px 3px;
}

.master-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #F9E79F;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 41px;
  height: 41px;
  border: 3px solid #F9E79F;
}

.master-cell-control {
  position: absolute;
  top: 4px;
  right: 7px;
  width: 20px;
  height: 18px;
  border: 3px solid #F9E79F;
}

.column-header-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #F9E79F;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 200px;
  height: 41px;
  border: 3px solid #F9E79F;
}

.column-header-cell-title {
  position: absolute;
  top: 4px;
  right: 56px;
  word-wrap: break-word;
  font-style: italic;
  border: 3px solid #F9E79F;
}


.cell-control-chain {
  position: absolute;
  bottom: 4px;
  width: 20px;
  height: 18px;
  border: 3px solid #CCFFCC;
}

.column-header-cell-control {
  position: absolute;
  top: 3px;
  right: 7px;
  width: 20px;
  height: 18px;
  border: 3px solid #F9E79F;
}

.row-header-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #F9E79F;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 41px;
  height: 200px;
  border: 3px solid #F9E79F;
}

.row-header-cell-title {
  position: absolute;
  left: 5px;
  font-style: italic;
  border: 3px solid #F9E79F;
}

.row-header-cell-control {
  position: absolute;
  top: 4px;
  right: 7px;
  width: 20px;
  height: 18px;
  border: 3px solid #F9E79F;
}

.column-header-right-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: LightGray;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 41px;
  height: 41px;
  border: 3px solid LightGray;
}

.row-footer-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: LightGray;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 41px;
  height: 200px;
  border: 3px solid LightGray;
}

.row-header-bottom-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: LightGray;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 200px;
  height: 41px;
  border: 3px solid LightGray;
}

.column-footer-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: LightGray;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 200px;
  height: 41px;
  border: 3px solid LightGray;
}

.bottom-right-cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: LightGray;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  width: 41px;
  height: 41px;
  border: 3px solid LightGray;
}

.cell {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #CCFFCC;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
  box-shadow: #B3B3B3 2px 2px 2px;
  position: relative;
  border: 3px solid #CCFFCC;
}

.cell-title {
  position: absolute;
  top: 8px;
  right: 56px;
  border: 3px solid #CCFFCC;
}

.cell-control {
  position: absolute;
  top: 4px;
  right: 7px;
  width: 20px;
  height: 18px;
  border: 3px solid #CCFFCC;
}

.cell-body {
  position: absolute;
  top: 30px;
  right: 0px;
  border: 3px solid #CCFFCC;
}

.cell-image {
  position: absolute;
  border: 0px solid Black;
}

/* Closable button inside the container tab */

.closebtn {
  float: right;
  cursor: pointer;
}

a.bench-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(198, 198, 198, 0.8);
  cursor: default;
}

a.bench-popup:target {
  display: block;
}

a.bench-popup:target+div.bench-popup {
  display: block;
}

div.bench-popup {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px 5px 5px 5px;
  display: none;
  width: 800px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -300px;
  z-index: 4;
  padding: 20px 20px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div.bench-popup>a.close {
  color: Black;
  position: absolute;
  font-weight: bold;
  right: 10px;
}

div.bench-popup>a.close.word {
  top: 100%;
  margin-top: 5px;
}

div.bench-popup>a.close.x {
  bottom: 100%;
  margin-bottom: 5px;
}

div.bench-popup>dl {
  display: grid;
  grid-template-columns: max-content auto;
}

div.bench-popup>dt {
  grid-column-start: 1;
}

div.bench-popup dt {
  font-weight: bold;
}

div.bench-popup>dd {
  grid-column-start: 2;
}

.button {
  border: 1px solid;
  padding: 6px 12px 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-mini {
  border: 1px solid;
  padding: 3px 6px 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.button-view {
  color: White;
  background-color: #17A2B8;
  border-color: #17A2B8;
  border-radius: 5px;
}

.button-view:hover {
  color: White;
  background-color: #107180;
  border-color: #107180;
  border-radius: 5px;
}

.button-info {
  color: White;
  background-color: #007BFF;
  border-color: #007BFF;
  border-radius: 5px;
}

.button-info:hover {
  color: White;
  background-color: #0056B2;
  border-color: #0056B2;
  border-radius: 5px;
}

.button-edit {
  color: Black;
  background-color: #FFC107;
  border-color: #FFC107;
  border-radius: 5px;
}

.button-edit:hover {
  color: White;
  background-color: #B28704;
  border-color: #B28704;
  border-radius: 5px;
}

.button-delete {
  color: White;
  background-color: #DC3545;
  border-color: #DC3545;
  border-radius: 5px;
}

.button-delete:hover {
  color: White;
  background-color: #9A2530;
  border-color: #9A2530;
  border-radius: 5px;
}

.button-auth {
  color: White;
  background-color: #17A2B8;
  border-color: #17A2B8;
  border-radius: 5px;
}

.button-auth:hover {
  color: White;
  background-color: #107180;
  border-color: #107180;
  border-radius: 5px;
}

.button-add {
  color: White;
  background-color: #28A745;
  border-color: #28A745;
  border-radius: 5px;
}

.button-add:hover {
  color: White;
  background-color: #1C7430;
  border-color: #1C7430;
  border-radius: 5px;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  padding: 0px 0px 0px 0px;
}

.home-grid-item {
  font-size: 14px;
  border-color: #17A2B8;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.card-link {
  color: black;
  width: 100%;
  min-height: 333px;
  cursor: pointer;
  position: relative;
}

.card-link-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  min-height: 333px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px 2px 16px;
}

.card-container h3 {
  padding: 20px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

input[type=text] {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

input[type=email] {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

input[type=number] {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

input[type=password] {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

select {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

textarea {
  width: 100%;
  padding: 12px 12px 12px 12px;
  border: 1px solid DarkGray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  font-size: 12px;
}

input[type=submit] {
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

.pagination {
  border-radius: 0.25rem;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.pagination>li:first-child>a {
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
  border-top-left-radius: 4px;
}

.pagination>li:first-child>span {
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
  border-top-left-radius: 4px;
}

.pagination>.disabled>span {
  background-color: White;
  color: Gray;
  cursor: not-allowed;
}

.pagination>.disabled>a {
  background-color: White;
  color: Gray;
  cursor: not-allowed;
}

.pagination>.disabled>a:hover {
  background-color: White;
  color: Gray;
  cursor: not-allowed;
}

.pagination>.disabled>a:focus {
  background-color: White;
  color: Gray;
  cursor: not-allowed;
}

.pagination>li>a {
  background-color: White;
  border-left-width: 0;
  border-left-width: 1px;
  border: 1px solid #DDDDDD;
  float: left;
  line-height: 1.428571429;
  padding: 4px 12px;
  text-decoration: none;
}

.pagination>li>span {
  background-color: White;
  border-left-width: 0;
  border-left-width: 1px;
  border: 1px solid #DDDDDD;
  float: left;
  line-height: 1.428571429;
  padding: 4px 12px;
  text-decoration: none;
}

.form-row:after {
  content: "";
  display: table;
  clear: both;
}

.form-col-5 {
  float: left;
  width: 5%;
}

.form-col-10 {
  float: left;
  width: 10%;
}

.form-col-15 {
  float: left;
  width: 15%;
}

.form-col-20 {
  float: left;
  width: 20%;
}

.form-col-25 {
  float: left;
  width: 25%;
}

.form-col-30 {
  float: left;
  width: 30%;
}

.form-col-35 {
  float: left;
  width: 35%;
}

.form-col-40 {
  float: left;
  width: 40%;
}

.form-col-45 {
  float: left;
  width: 45%;
}

.form-col-50 {
  float: left;
  width: 50%;
}

.form-col-20-help {
  float: left;
  width: 20%;
}

.form-col-20-error {
  float: left;
  width: 20%;
}

.card-people {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
  text-align: center;
  min-height: 400px;
}

.card-people:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.about {
  font-size: 12px;
}

.standard dl {
  padding: 0px 0px 0px 0px;
}

.standard dt {
  float: left;
  clear: left;
  width: 300px;
  text-align: left;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.standard dt::after {
  content: ":";
}

.standard dd {
  margin: 0px 0px 0px 210px;
  padding: 5px 0px 5px 0px;
}

.artefact dl {
  padding: 0px 0px 0px 0px;
}

.artefact dt {
  float: left;
  clear: left;
  width: 0px;
  text-align: left;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.artefact dt::after {
  content: ":";
}

.artefact dd {
  text-align: left;
  margin: 0px 0px 0px 210px;
  padding: 5px 0px 5px 0px;
}

.form-container {
  background-color: LightGray;
  padding: 5px 5px 5px 5px;
}

.tab {
  background-color: LightGray;
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button a {
  color: black;
  text-decoration: none;
}

.tab button:hover {
  background-color: Silver;
}

.tab button.active {
  background-color: DarkGray;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tablinks {
  width: 125px;
}

.image-list {
  font-size: 0;
  list-style: none;
  padding: 0px 0px 0px 0px;
}

.image-list li {
  display: inline-block;
  width: 16.666667%;
  font-size: 16px;
  text-align: center;
  min-height: 200px;
  vertical-align: top;
  padding: 10px 0px 10px 0px;
}

.card-image-gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  min-height: 250px;
  padding: 20px 0px 0px 0px;
}

.card-image-gallery:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container-gallery {
  padding: 2px 16px 2px 16px;
}

.card-container-gallery h3 {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}

.card-container-gallery>dl {
  display: grid;
  grid-template-columns: max-content auto;
  font-size: 12px;
}

.card-container-gallery>dt {
  text-align: left;
  grid-column-start: 1;
}

.card-container-gallery dt {
  text-align: left;
  font-weight: bold;
}

.card-container-gallery dt::after {
  content: ":";
}

.card-container-gallery>dd {
  text-align: left;
  grid-column-start: 2;
}

.panel-alert {
  padding: 20px;
  background-color: #DC3545;
  color: White;
}

.panel-success {
  padding: 20px;
  background-color: #28A745;
  color: White;
}

.panel-info {
  padding: 20px;
  background-color: #17A2B8;
  color: White;
}

.panel-warning {
  padding: 20px;
  background-color: #FFC107;
  color: White;
}

.panel-close-btn {
  margin-left: 15px;
  color: White;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.panel-close-btn:hover {
  color: Black;
}


.amend-cell-container {
  display: grid;
  grid-template-columns: 450px 1000px;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas:
    ". .";
}

.test-font {
  font-size: 16px;
}


/* BOOTSTRAP-LIKE POP-UP FORMS */

.col-sm-12 {
  width: 100%;
}


.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

form .field-with-errors .invalid-tooltip {
  display: block;
}

form .field-with-errors .invalid-tooltip {
  z-index: 0;
}

.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip {
  display: block;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, .9);
  border-radius: .25rem;
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + .75rem);
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

textarea.form-control {
  height: auto;
}

.cell-list {
  font-size: 0;
  list-style: none;
  padding: 0px 0px 0px 0px;
}

.cell-list li {
  display: inline-block;
  width: 25%;
  font-size: 16px;
  text-align: center;
  min-height: 200px;
  vertical-align: top;
  padding: 10px 0px 10px 0px;
}

.cell-image-gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 320px;
  border-radius: 5px;
  text-align: center;
  min-height: 250px;
  padding: 20px 0px 0px 0px;
}

.cell-image-gallery:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cell-container-gallery {
  padding: 2px 16px 2px 16px;
}


.vertical-text {
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s;
  top: 100%;
  left: 15px;
  margin-top: 5px;
  margin-left: -15px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltipcolumn {
  position: relative;
  display: inline-block;
}

.tooltipcolumn .tooltipcolumntext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s;
  top: 100%;
  left: 15px;
  margin-top: 17px;
  margin-left: -18px;
}

.tooltipcolumn .tooltipcolumntext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltipcolumn */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltipcolumn:hover .tooltipcolumntext {
  visibility: visible;
  opacity: 1;
}


.tooltiprow {
  position: relative;
  display: inline-block;
}

.tooltiprow .tooltiprowtext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s;
  top: -5px;
  left: 105%;
}

.tooltiprow .tooltiprowtext::after {
  content: " ";
  position: absolute;
  right: 100%;  /* At the left of the tooltiprow */
  top: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltiprow:hover .tooltiprowtext {
  visibility: visible;
  opacity: 1;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:link, a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #0062cc;
}

a.badge-primary:focus, a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #545b62;
}

a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #212529;
  background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #bd2130;
  text-decoration: none;
}

a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  text-decoration: none;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

a.badge-light:hover, a.badge-light:focus {
  color: #212529;
  background-color: #dae0e5;
}

a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #1d2124;
}

a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
