<!--
\file		 detail_cell.html
\author	   Mike Wicks
\date		 March 2021
\version	  $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The amend cell template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_benches' %}">Benches</a></li>
			<li><a href="{% url 'matrix' matrix.id %}">CPW:{{ matrix.id|stringformat:"06d" }}</a></li>
			<li>Amend Cell</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">


<!-- Page Side Bar -->
<div class="page-sidebar" style="overflow-y: scroll;">
	{% if authority.is_viewer %}
		{% else %}
  <!-- Selected or Active Image Collection -->
  <div class="collection-container">
	<div class="collection-item">
	  <div class="collection-master">
		<div class="collection-master-control">
		  <div class="collection-dropdown">
		    <button class="collection-drop-button"><i class="fas fa-bars"></i></button>
			<div class="collection-dropdown-content">
			{% if collection_list %}
				{% for collection in collection_list %}
					{% if cell.matrix.has_last_used_collection == True %}
						{% if cell.matrix.last_used_collection.id == collection.collection_id %}
			  <a href="{% url 'view_collection' cell.matrix.last_used_collection.id %}"><button class="button-mini button-view"><i class="fa fa-eye"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
						 {% endif %}
					{% endif %}
				{% endfor %}
				{% for collection in collection_list %}
					{% if cell.matrix.has_last_used_collection == True %}
						{% if cell.matrix.last_used_collection.id == collection.collection_id %}
						{% else %}
							{% if collection.collection_owner == user.username %}
								{% if collection.collection_active == True %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
								{% else %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
								{% endif %}
							{% else %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
							{% endif %}
						{% endif %}
					{% else %}
						{% if collection.collection_owner == user.username %}
							{% if collection.collection_active == True %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
							{% else %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
							{% endif %}
						{% else %}
			  <a href="{% url 'choose_collection' cell.matrix.id cell.id collection.collection_id amend_cell %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
			{% if collection_image_list %}
				{% for image in collection_image_list %}
					{% if authority.is_viewer %}
	<div class="collection-item" id="image_{{ image.id }}">
	  <div class="collection-image">
					{% else %}
	<div class="collection-item" draggable="true" ondragstart="drag(event)" id="image_{{ image.id }}">
	  <div class="collection-image">
			  			{% csrf_token %}
					{% endif %}
		<a href="{{ image.viewer_url }}" target="_blank"><img id="image_{{ image.id }}" alt="{{ image.name }}" title="{{ image.name }}" class="image-holder" src="{{ image.birdseye_url }}" draggable="true" ondragstart="drag(event)"></a>
	  </div>
	</div>
				{% endfor %}
			{% else %}
				{% if cell.matrix.has_last_used_collection == True %}
	<div class="collection-item">
	  <div class="collection-image">
        <button class="basket-button button-info"><i class="fa fa-eye-slash"></i></button>
      </div>
    </div>
				{% endif %}
			{% endif %}
  </div>
		{% endif %}
	{% endif %}
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">
{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="panel-alert">
    <p>{{ message }}</p>
  </div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="panel-success">
	<p>{{ message }}</p>
  </div>
		{% endif %}
    {% endfor %}
{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate != 0 %}
  <h1>CELL - CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"; Column {{ cell.xcoordinate }}, Row {{ cell.ycoordinate }}</h1>
  <p>Amend the Cell Details</p>
  <hr>
  <br />
  <form method="POST" class="post-form">
    {% csrf_token %}
{% include 'includes/form.html' %}
	<br />
	<button type="submit" class="button button-delete">UPDATE</button>
  </form>
  <br />
  <a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">CLEAR</button></a>
  <br />
  <br />

  <!-- <div class="flex-bench-container"> -->
  <div class="amend-cell-container">
    <div>
 	{% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}
		<!-- Ordinary Cells -->
  		{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
  			{% if authority.is_viewer %}
	  <!-- <div class="flex-bench-item" id="cell_{{ cell.id }}"> -->
      <div id="cell_{{ cell.id }}">
  			{% else %}
	    <!-- <div class="flex-bench-item" id="cell_{{ cell.id }}" draggable="true" ondragstart="drag(event)"> -->
	  	<div id="cell_{{ cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">
  				{% csrf_token %}
  			{% endif %}
	  	  <div class="cell" id="cell_{{ cell.id }}" style="width: 384px; height: 384px;">
	  	    <div id="cell_{{ cell.id }}" class="cell-body" style="top: 12px; left: 12px; width: 350px; height: 350px;">
  			{% if cell.image %}
  				{% if cell.image.roi == 0 %}
	  		  <a id="cell_{{ cell.id }}" class="cell-image" href="{{ cell.image.viewer_url }}" target="_blank">
	  		    <img id="cell_{{ cell.id }}" style="width: 350px; height: 350px;" alt="{{ cell.image.name }}" title="{{ cell.image.name }}" src="{{ cell.image.birdseye_url }}">
	  		  </a>
  				{% else %}
	  		  <a id="cell_{{ cell.id }}" class="cell-image" href="{{ cell.image.viewer_url }}" target="_blank">
	  			<img id="cell_{{ cell.id }}" style="width: 350px; height: 350px;" alt="{{ cell.image.name }}" title="{{ cell.image.name }}" src="{{ cell.image.birdseye_url }}">
	  		  </a>
  				{% endif %}
  			{% else %}
	  		  <a id="cell_{{ cell.id }}" class="cell-image" style="top: 15%;" href="https://www.ed.ac.uk/comparative-pathology">
	  		    <img id="cell_{{ cell.id }}" alt="The Centre for Comparative Pathology" title="The Centre for Comparative Pathology" style="width: 350px;" src="/static/ccp-logo.png">
	  		  </a>
  			{% endif %}
	  		</div><!-- End of cell-body -->
	  	  </div><!-- End of cell -->
  		{% endif %}
	  	</div><!-- End of flex-bench-item -->
  	{% endif %}
	  </div>
	  <div>
		<dl class="standard">
		  <dt>Title</dt>
		  <dd>{% inlineedit "cell.title" "blocked" %}</dd>
		  <dt>Description</dt>
	 	  <dd>{% inlineedit "cell.description" "blocked" %}</dd>
	{% if cell.has_image == True %}
		{% if cell.image.name != '' %}
		  <dt>Image Name</dt>
		  <dd>{{ cell.image.name }}</dd>
		{% endif %}
		{% if cell.image.roi != 0 %}
		  <dt>Region Of Interest</dt>
		  <dd>{{ cell.image.roi }}</dd>
		{% endif %}
		{% if matrix_link != '' %}
			{% if cell.blogpost != '' %}
		  <dt>Blog Post</dt>
		  <dd>
			<a class="btn btn-default" href="{{ cell_link }}" role="button" target="_blank"><button class="button button-view">View Blog Post {{ cell.blogpost }} &raquo;</button></a>
		  </dd>
			{% endif %}
		{% endif %}
		  <dt>Clear Cell</dt>
		  <dd>
			<a href="{% url 'clear_cell' matrix.id cell.id amend_cell %}" onclick="return confirm('Are you sure you want to CLEAR this CELL?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
		  </dd>
	{% endif %}
		  <dt>View Bench</dt>
		  <dd>
			<a href="{% url 'matrix' matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
		  </dd>
		</dl>
	  </div>
	</div><!-- End of amend-cell-container -->
{% endif %}

{% if cell.xcoordinate == 0 and cell.ycoordinate != 0 %}
	<h1>ROW HEADER - CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}""; Column {{ cell.xcoordinate }}, Row {{ cell.ycoordinate }}</h1>
	<p>Amend the Row Header Details</p>
	<hr>
	<br />
	<dl class="standard">
		<dt>Title</dt>
		<dd>{% inlineedit "cell.title" "blocked" %}</dd>
		<dt>Description</dt>
		<dd>{% inlineedit "cell.description" "blocked" %}</dd>
		<dt>View Bench</dt>
		<dd>
		  <a href="{% url 'matrix' matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
		</dd>
	</dl>
{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate == 0 %}
	<h1>COLUMN HEADER - CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}""; Column {{ cell.xcoordinate }}, Row {{ cell.ycoordinate }}</h1>
	<p>Amend the Row Header Details</p>
	<hr>
	<br />
	<dl class="standard">
		<dt>Title</dt>
		<dd>{% inlineedit "cell.title" "blocked" %}</dd>
		<dt>Description</dt>
		<dd>{% inlineedit "cell.description" "blocked" %}</dd>
		<dt>View Bench</dt>
		<dd>
		  <a href="{% url 'matrix' matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
		</dd>
	</dl>
{% endif %}
	<br />

</div><!-- End of page-content -->

</div><!-- End of page-body -->


{% block extrajs %}

<script type="text/javascript">

function confirmation(question, source_type) {

	var defer = $.Deferred();

	if (source_type == "image") {

		$('<div></div>')
			.html(question)
			.dialog({
				autoOpen: true,
				modal: true,
				title: 'Confirmation',
				buttons: {
					"IMPORT": function () {
						defer.resolve("move");
						$(this).dialog("close");
					},
					"CLOSE": function () {
						$(this).dialog('destroy').remove();
					}
				},
				close: function () {
					$(this).dialog('destroy').remove();
				}
			});
	}

	return defer.promise();
}


function onclick(source, target, source_type){

	var question = "";

	if (source_type == "image") {

		question = "Do you want to IMPORT this Image to this CELL?";
	}

	//console.log("source_type : " + source_type);

	confirmation(question, source_type).then(function (answer) {

		//console.log("answer : " + answer);

		if (answer == "move"){

			$.ajax({
				url: '{% url 'import_image' %}',
				data: {
					'source': source,
					'target': target,
					'source_type': source_type,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				type: 'post',
				success: function (data) {
					//console.log("Image Import SUCCESS! Source: " + data.source + "  Target: " + data.target);
					if (data.failure) {
						alert("Image Import Failed! Source: " + data.source + "  Target: " + data.target);
					}
					window.location.reload();
				}
			});
		}

	});

}


function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev){

	ev.preventDefault();

	var image_id = '';
	var src = '';

	var image = ev.dataTransfer.getData("text/html")
	var division = ev.dataTransfer.getData("Text")

	if ( image ) {

		var dropContext = $('<div>').append(image);
		image_id = $(dropContext).find("img").attr('id');
		src = document.getElementById(image_id);
	}

	if ( division ) {

		src = document.getElementById(division);
	}

	//console.log("src.id : " + src.id);

	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];
	//console.log("source_id : " + source_id);
	//console.log("source_type : " + source_type);

	const data = ev.target;
	//console.log("data : " + data);

	var tgt = ev.target;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//console.log("target_id : " + target_id);
	//console.log("target_type : " + target_type);

	onclick(source_id, target_id, source_type);

}

</script>

{% endblock extrajs %}

{% inlineedit_script %}

{% endblock %}
