<!--
\file         detail_cell.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The detail cell template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'list_benches' %}">Benches</a>
		</li>

		<li>
			<a href="{% url 'matrix' matrix.id %}">CPW:{{ matrix.id|stringformat:"06d" }}</a>
		</li>

		<li class="breadcrumb-item active">
			Cell Details
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

{% if cell.xcoordinate != 0 and cell.ycoordinate != 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"</h1>

		<p>Browse the Cell Details</p>

		<hr>

		<br />

		<dl class="standard">

			<dt>Id</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description</dt>
			<dd>{{ cell.description }}</dd>

			<dt>Image</dt>
			<dd>{{ cell.image.name }}</dd>

	{% if cell.image.roi != 0 %}

			<dt>Region Of Interest</dt>
			<dd>{{ cell.image.roi }}</dd>

	{% endif %}

	{% if cell.blogpost != '' %}

			<dt>Blog Post</dt>
			<dd><a class="btn btn-default" href="{{ cell_link }}" role="button" target="_blank"><button class="button button-view">View Blog Post {{ cell.blogpost }} &raquo;</button></a></dd>

	{% endif %}

			<br />

			<dt>Image</dt>
			<dd><a href="{{ cell.image.viewer_url }}" target="_blank"><img alt="{{ image.name }}" title="{{ image.name }}" style="width:256px;" src="{{ cell.image.birdseye_url }}"></a></dd>

		</dl>

{% endif %}

{% if cell.xcoordinate == 0 and cell.ycoordinate != 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }} Row Header, "{{ matrix.title }}"</h1>
		<br />

		<p>Browse the Row Header Details</p>
		<hr>

		<dl class="standard">

			<dt>Id</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description</dt>
			<dd>{{ cell.description }}</dd>

		</dl>

{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate == 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }} Column Header, "{{ matrix.title }}"</h1>
		<br />

		<p>Browse the Column Header Details</p>
		<hr>

		<dl class="standard">

			<dt>Id</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description</dt>
			<dd>{{ cell.description }}</dd>

		</dl>

{% endif %}

		<br />

		<!-- <a href="{% url 'matrix' matrix.id %}"> -->
		<a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">Back</button></a>

	</div>

	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
