{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>
		
			<ol class="breadcrumb subheading">
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:home' %}">
						Home
					</a>
				</li>
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:index' %}">
						Matrices
					</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{% url 'matrices:matrix' matrix.id %}">
						CPW:{{ matrix.id|stringformat:"06d" }}
					</a>
				</li>

				<li class="breadcrumb-item active">
					Cell Details
				</li>
	
			</ol>

		</div>

	</div>
	
</div>

<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>

	<div class="col-md-9" id="content">
	
{% if cell.xcoordinate != 0 and cell.ycoordinate != 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"</h1>
		<br />

		<p>Browse the Cell Details</p>
		<hr>

		<dl class="dl-horizontal">

			<dt>Id:</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title:</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description:</dt>
			<dd>{{ cell.description }}</dd>

			<dt>Image:</dt>
			<dd>{{ cell.image.name }}</dd>

	{% if cell.image.roi != 0 %}

			<dt>Region Of Interest:</dt>
			<dd>{{ cell.image.roi }}</dd>

	{% endif %}

	{% if cell.blogpost != '' %}
	
			<dt>Blog Post:</dt>
			<dd>
				<a class="btn btn-default" href="{{ cell_link }}" role="button" target="_blank">
					<button class="save btn btn-info">View Blog Post {{ cell.blogpost }} &raquo;</button>
				</a>
			</dd>
			
	{% endif %}
	
			<br />

			<dt>
			<!-- {{ cell.image.viewer_url }}; {{ cell.image.birdseye_url }} -->
			</dt>
			<dd><a href="{{ cell.image.viewer_url }}" target="_blank"><img  style="width:256px;" src="{{ cell.image.birdseye_url }}"></a></dd>

		</dl>

{% endif %}

{% if cell.xcoordinate == 0 and cell.ycoordinate != 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }} Row Header, "{{ matrix.title }}"</h1>
		<br />

		<p>Browse the Row Header Details</p>
		<hr>

		<dl class="dl-horizontal">

			<dt>Id:</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title:</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description:</dt>
			<dd>{{ cell.description }}</dd>

		</dl>

{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate == 0 %}

		<h1>CPW:{{ matrix.id|stringformat:"06d" }} Column Header, "{{ matrix.title }}"</h1>
		<br />

		<p>Browse the Column Header Details</p>
		<hr>

		<dl class="dl-horizontal">

			<dt>Id:</dt>
			<dd>{{ cell.id }}</dd>

			<dt>Title:</dt>
			<dd>{{ cell.title }}</dd>

			<dt>Description:</dt>
			<dd>{{ cell.description }}</dd>

		</dl>

{% endif %}

		<br />

		<!-- <a href="{% url 'matrices:matrix' matrix.id %}"> -->
		<a href="{{ request.META.HTTP_REFERER }}">
			<button class="save btn btn-success">Back</button>
		</a>

	</div>
	
	<div class="col-md-2">

	</div>

</div>

{% endblock %}
