{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:index' %}">
				Workbenches
			</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'matrices:matrix' matrix.id %}">
				CPW:{{ matrix.id|stringformat:"06d" }}
			</a>
		</li>

		<li class="breadcrumb-item active">
			Cell Commentary
		</li>
	
	</ol>
	
	<h1>CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"</h1>
	<br />

	<h3>Cell Commentary</h3>
	<br />

    <table>
        <tr>
            <th width="100px">Date</th>
            <th width="100px">Time</th>
            <th width="100px">Author</th>
            <th>Post</th>
            <th>Action</th>
		</tr>
        <tr>
            <td>
				{{ blogpost.date }}
			</td>
            <td>
				{{ blogpost.time }}
			</td>
            <td>
				{{ blogpost.author }}
			</td>
            <td>
            	{{ blogpost.content|safe }}
            </td>
            <td>
				<a class="btn btn-default" href="{{ blogpost.url }}" role="button" target="_blank">
					<button class="save btn btn-info">View &raquo;</button>
				</a>
            </td>
		</tr>
		
{% if cell.image.viewer_url != '' %}

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
				<a href="{{ cell.image.viewer_url }}" target="_blank">
					<img alt="{{ cell.image.name }}" title="{{ cell.image.name }}" style="width:450px; height:450px;" src="{{ cell.image.birdseye_url }}" >
				</a>
            </td>
            <td>&nbsp;</td>
		</tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>
	    
{% endif %}

{% if comment_list %}

	{% for comment in comment_list %}
	
		{% if forloop.first %}
	
        <tr>
            <th width="100px">Date</th>
            <th width="100px">Time</th>
            <th width="100px">Author</th>
            <th>Post</th>
            <th>Action</th>
		</tr>
		
		{% endif %}

        <tr>
            <td>
				{{ comment.date }}
			</td>
            <td>
				{{ comment.time }}
			</td>
            <td>
				{{ comment.author_name }}
			</td>
            <td>
            	{{ comment.content|safe }}
            </td>
            <td>
				<a class="btn btn-default" href="{{ comment.url }}" role="button" target="_blank">
					<button class="save btn btn-info">View &raquo;</button>
				</a>
            </td>
		</tr>

    {% endfor %}
		
{% else %}

        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>No Comments!</td>
            <td>&nbsp;</td>
		</tr>
	    
{% endif %}

    </table>

	<br />
	
	<h5>Post a Comment:</h5>

	<form method="POST" class="post-form">

{% csrf_token %}

{% include 'includes/form.html' %}

	    <button type="submit" class="save btn btn-danger">COMMENT</button>

	</form>
	
	<br />

	<hr>


	<!-- <a href="{% url 'matrices:matrix' matrix.id %}"> -->
	<a href="{{ request.META.HTTP_REFERER }}">
	<button class="save btn btn-success">Back</button>
	</a>

{% endblock %}
