{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
	
		<li>
			<a href="{% url 'list_benches' %}">Workbenches</a>
		</li>

		<li>
			<a href="{% url 'matrix' matrix.id %}">CPW:{{ matrix.id|stringformat:"06d" }}</a>
		</li>

		<li class="breadcrumb-item active">
			Workbench Details
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Workbench CPW:{{ matrix.id|stringformat:"06d" }}, "{{ matrix.title }}"</h1>

		<p>Browse the Bench Details</p>
		
		<hr>

		<br />

		<dl class="standard">

			<dt>Id</dt>
			<dd>CPW:{{ matrix.id|stringformat:"06d" }}</dd>

			<dt>Title</dt>
			<dd>{{ matrix.title }}</dd>

			<dt>Description</dt>
			<dd>{{ matrix.description }}</dd>

			<dt>Cell Height</dt>
			<dd>{{ matrix.height }}</dd>

			<dt>Cell Width</dt>
			<dd>{{ matrix.width }}</dd>

{% if matrix.blogpost != '' %}
	
			<dt>Blog Post</dt>
			<dd>
				<a class="btn btn-default" href="{{ matrix_link }}" role="button" target="_blank"><button class="button button-view">View Blog Post {{ matrix.blogpost }} &raquo;</button></a>
			</dd>
			
{% endif %}

			<dt>Owner</dt>
			<dd>{{ matrix.owner.username }} ({{ matrix.owner.first_name }} {{ matrix.owner.last_name }})</dd>

			<dt>Created</dt>
			<dd>{{ matrix.created|date:"Y-m-d" }} {{ matrix.created|time:"G:i:s" }}</dd>
			
			<dt>Last Modified</dt>
			<dd>{{ matrix.modified|date:"Y-m-d" }} {{ matrix.modified|time:"G:i:s" }}</dd>
		</dl>

		<br />

		<a href="{{ request.META.HTTP_REFERER }}"><button class="button button-add">Back</button></a>

{% if user == matrix.owner or user.is_superuser %}
			
		<a href="{% url 'edit_matrix' matrix.id %}"><button class="button button-edit">Edit</button></a>

{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
