{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:index' %}">
				Workbenches
			</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'matrices:matrix' matrix_id %}">
				CPW:{{ matrix.id|stringformat:"06d" }}
			</a>
		</li>

		<li class="breadcrumb-item active">
			Workbench Details
		</li>
	
	</ol>
	
	<h1>Workbench CPW:{{ matrix.id|stringformat:"06d" }}, "{{ matrix.title }}"</h1>
	<br />

		<dl class="dl-horizontal">

			<dt>Id:</dt>
			<dd>CPW:{{ matrix.id|stringformat:"06d" }}</dd>

			<dt>Title:</dt>
			<dd>{{ matrix.title }}</dd>

			<dt>Description:</dt>
			<dd>{{ matrix.description }}</dd>

			<dt>Blog Post:</dt>
			<dd>
				<a class="btn btn-default" href="{{ matrix_link }}" role="button" target="_blank">
					<button class="save btn btn-info">View Blog Post {{ matrix.blogpost }} &raquo;</button>
				</a>
			</dd>
			
			<dt>Owner:</dt>
			<dd>{{ owner.username }} ({{ owner.first_name }} {{ owner.last_name }})</dd>
		</dl>

	<br />

	<!-- <a href="{% url 'matrices:matrix' matrix_id %}"> -->
	<a href="{{ request.META.HTTP_REFERER }}">
		<button class="save btn btn-success">Back</button>
	</a>

{% endblock %}
