{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>
		
			<ol class="breadcrumb subheading">
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:home' %}">
						Home
					</a>
				</li>
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:index' %}">
						Workbenches
					</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{% url 'matrices:matrix' matrix.id %}">
						CPW:{{ matrix.id|stringformat:"06d" }}
					</a>
				</li>

				<li class="breadcrumb-item active">
					Cell Details
				</li>
			</ol>

		</div>

	</div>
	
</div>

<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>

	<div class="col-md-9" id="content">
	    
{% if cell.xcoordinate != 0 and cell.ycoordinate != 0 %}

		<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"</h1>
		<br />
		<p>Edit a Cell</p>
		<hr>

{% endif %}

{% if cell.xcoordinate == 0 and cell.ycoordinate != 0 %}

		<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }} Row Header, "{{ matrix.title }}" </h1>
		<br />
		<p>Edit a Row Header Cell</p>
		<hr>

{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate == 0 %}

		<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }} Column Header, "{{ matrix.title }}" </h1>
		<br />
		<p>Edit a Column Header Cell</p>
		<hr>

{% endif %}
	    
		<form method="POST" class="post-form">

{% csrf_token %}

{{ form.as_p}} 
		
    		<button type="submit" class="save btn btn-danger">Save</button>
	
		</form>
		
		<br />

		<a href="{{ request.META.HTTP_REFERER }}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

	</div>
	
	<div class="col-md-2">

	</div>

</div>


<style type="text/css">

ul {
	list-style-type: none;
}

</style>


{% endblock %}

