{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:index' %}">
				Workbenches
			</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'matrices:matrix' matrix.id %}">
				CPW:{{ matrix.id|stringformat:"06d" }}
			</a>
		</li>

		<li class="breadcrumb-item active">
			Cell Details
		</li>
	
	</ol>
	
{% if cell.xcoordinate != 0 and cell.ycoordinate != 0 %}

	<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ matrix.title }}"</h1>
	<br />

{% endif %}

{% if cell.xcoordinate == 0 and cell.ycoordinate != 0 %}

	<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }} Row Header, "{{ matrix.title }}" </h1>
	<br />

{% endif %}

{% if cell.xcoordinate != 0 and cell.ycoordinate == 0 %}

	<h1>EDIT Cell, CPW:{{ matrix.id|stringformat:"06d" }} Column Header, "{{ matrix.title }}" </h1>
	<br />

{% endif %}

	    
	<form method="POST" class="post-form">

{% csrf_token %}

{{ form.as_p}} 
		
    	<button type="submit" class="save btn btn-danger">Save</button>

	
	</form>

		<a href="{{ request.META.HTTP_REFERER }}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

<style type="text/css">

ul {
	list-style-type: none;
}

</style>

{% endblock %}

