{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>

			<ol class="breadcrumb subheading">
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:home' %}">
						Home
					</a>
				</li>
		
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:index' %}">
						Workbenches
					</a>
				</li>
	
				<li class="breadcrumb-item active">
					CPW:{{ matrix.id|stringformat:"06d" }} : 
					<a class="btn-expand toggle-info" data-toggle="collapse" href="#matrix_info" role="button" aria-expanded="false" aria-controls="matrix_info">
						<i class="fa fa-info fa-lg" title="Bench Details"></i>
						<span class="sr-only">Bench Details</span>
					</a>

{% if authority.is_viewer %}

{% else %}

	{% if credential_flag %}

		{% if image_list %}

					
					<a class="btn-expand toggle-sidebar" href="#matrix_sidebar" role="button" aria-expanded="false" aria-controls="matrix_sidebar">
						<i aria-hidden="true" id="indicator-2" class="fa fa-cart-arrow-down fa-lg" title="Image Basket"></i>
						<span class="sr-only">Image Basket</span>
					</a>

		{% endif %}

	{% endif %}

{% endif %}

				</li>

			</ol>

		</div>

		<div class="collapse subheading" id="matrix_info">

			<div class="card bg-custom card-body">
  
				<dl class="row">

					<dt class="col-sm-2">Id:</dt>
					<dd class="col-sm-2">CPW:{{ matrix.id|stringformat:"06d" }}</dd>

					<dt class="col-sm-2">Title:</dt>
					<dd class="col-sm-6">{{ matrix.title }}</dd>

					<dt class="col-sm-2">Owner:</dt>
					<dd class="col-sm-2">{{ matrix.owner.username }}</dd>
			
					<dt class="col-sm-2">Cell Height:</dt>
					<dd class="col-sm-2">{{ matrix.height }}</dd>
			
					<dt class="col-sm-2">Cell Width:</dt>
					<dd class="col-sm-2">{{ matrix.width }}</dd>
	
					<dt class="col-sm-2">Description:</dt>
					<dd class="col-sm-10">{{ matrix.description|truncatechars:100 }}</dd>

					<dt class="col-sm-2">Created:</dt>
					<dd class="col-sm-2">{{ matrix.created|date:"Y-m-d" }} {{ matrix.created|time:"G:i:s" }}</dd>
			
					<dt class="col-sm-2">Last Modified:</dt>
					<dd class="col-sm-6">{{ matrix.modified|date:"Y-m-d" }} {{ matrix.modified|time:"G:i:s" }}</dd>

				</dl>
			
			</div>

		</div>
	
	</div>

</div>

<div class="row">

	<div class="col-md-1 invisible" id="matrix_sidebar">

{% if authority.is_viewer %}

{% else %}

	{% if credential_flag %}

		{% if image_list %}

			{% for image in image_list %}
	
				{% if forloop.first %}
	
    	<table border="0" class="basket">

				{% endif %}
	
        	<tr>

				<td id="image_{{ image.id }}">

				{% if authority.is_viewer %}
				
					<div id="image_{{ image.id }}">

				{% else %}
				
					<div draggable="true" ondragstart="drag(event)" id="image_{{ image.id }}">
		
				{% endif %}

						<div style="width:115px; height:115px;" class="image" align="right"> 
				
							<a href="{{ image.viewer_url  }}" target="_blank">
				
								<img alt="{{ image.name }}" title="{{ image.name }}" style="width:95px; height:95px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}"> 
				
							</a>
				
						</div>
				
					</div>							

	            </td>

			</tr>

				{% if forloop.last %}
	
	        <tr>

    	        <td>&nbsp;</td>

			</tr>

	        <tr>

	            <td>&nbsp;</td>

			</tr>

	    </table>

				{% endif %}
	
		    {% endfor %}

		{% else %}

    	<table border="0" class="basket">
        	<tr>
				<td>
					<div style="width:115px; height:115px;" class="image" align="right"> 
						No Images are available!
					</div>
	            </td>
			</tr>
	    </table>

		{% endif %}

	{% else %}

    	<table border="0" class="basket">
        	<tr>
				<td>
					<div style="width:115px; height:115px;" class="image" align="right"> 
						No Images are allowed yet!
					</div>
	            </td>
			</tr>
	    </table>

	{% endif %}

{% endif %}

	</div>

	<div class="col-md-11" id="content">

		<!-- Modal -->
		<div class="modal bd-example-modal-lg" id="exampleModalCenter_{{ matrix_comments.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			
			<div class="modal-dialog modal-lg" role="document">
			
			    <div class="modal-content">
				
					<div class="modal-header">

				    	<h5 class="modal-title" id="exampleModalLongTitle">Commentary for Bench: CPW:{{ matrix_comments.id|stringformat:"06d" }}, "{{ matrix_comments.title }}"</h5>
				
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        	<span aria-hidden="true">&times;</span>
				        </button>
				    
				    </div>
				    
				    <div class="modal-body">
        
						<dl class="row">

							<dt class="col-sm-2">Matrix Title</dt>
							<dd class="col-sm-2">{{ matrix_comments.title }}</dd>

							<dt class="col-sm-2">Description</dt>
							<dd class="col-sm-2">{{ matrix_comments.description|truncatechars:20 }}</dd>

						</dl>

		{% if matrix_comments.comment_list %}
		
						<table>

				        	<tr>
	            				<th width="100px">Date</th>
					    	    <th width="100px">Time</th>
				        	    <th width="100px">Author</th>
            					<th>Comment</th>
							</tr>

			{% for comment in matrix_comments.comment_list %}

				    	    <tr>
            					<td>
				
					{{ comment.date }} 
				
								</td>
    	        				<td>

					{{ comment.time }}
				
								</td>
    	        				<td>

				{{ comment.author_name }}

								</td>
	            				<td>

				{{ comment.content|safe|truncatechars:50 }}
				
								</td>
				
				    	    </tr>
			
			{% endfor %}

						</table>
		
		{% endif %}

					</div>
				    
				    <div class="modal-footer">
				    
				    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				    
				    </div>
				
				</div>
				
			</div>
		
		</div>
					
	
{% if matrix_cells_comments %}

	{% for cell in matrix_cells_comments %}

		<!-- Modal -->
		<div class="modal bd-example-modal-lg" id="exampleModalCenter_{{ cell.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		
			<div class="modal-dialog modal-lg" role="document">
		    	
		    	<div class="modal-content">
			    	
			    	<div class="modal-header">
				    	
				    	<h5 class="modal-title" id="exampleModalLongTitle">Commentary for Cell: CPW:{{ cell.matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ cell.matrix.title }}"</h5>
				
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        	<span aria-hidden="true">&times;</span>
				        </button>
					
					</div>
				    
				    <div class="modal-body">
        
						<dl class="row">

							<dt class="col-sm-2">Cell Title</dt>
							<dd class="col-sm-2">{{ cell.title }}</dd>

							<dt class="col-sm-2">Description</dt>
							<dd class="col-sm-2">{{ cell.description|truncatechars:20 }}</dd>

						</dl>
		
		{% if cell.viewer_url != '' %}

						<p>	
							<a href="{{ cell.viewer_url }}" target="_blank">
								<img alt="{{ cell.image_name }}" title="{{ cell.image_name }}" style="width:450px; height:450px;" src="{{ cell.birdseye_url }}" >
							</a>
						</p>

		{% endif %}

		{% if cell.comment_list %}
		
						<table>

				        	<tr>
	            				<th width="100px">Date</th>
				    	        <th width="100px">Time</th>
        	    				<th width="100px">Author</th>
				            	<th>Comment</th>
							</tr>

			{% for comment in cell.comment_list %}

				    	    <tr>
            					<td>

				{{ comment.date }} 

								</td>
				    	        <td>
				
				{{ comment.time }}
				
								</td>
				    	        <td>

				{{ comment.author_name }}
				
								</td>
					            <td>
				
				{{ comment.content|safe|truncatechars:50 }}
				
								</td>
					    	</tr>
			
			{% endfor %}

						</table>
		
		{% endif %}

					</div>
				    
				    <div class="modal-footer">
				    
				    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					
					</div>
				
				</div>
			
			</div>
		
		</div>
					
	{% endfor %}

{% endif %}

{% if rows %}

		<div id="responsive-table" class="table-responsive">
	
			<table id="myTable" class="bench">
		
				<tbody>
		
	{% for row in rows %}

					<tr>
			
		{% for column in columns %}

	    	{% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}

				{% if matrix_cell.is_master %}

						<td id="{{ matrix_cell.id }}">
				
							<div class="master">
				
								<div class="dropdown">
	
									<a id="dropdown_{{ matrix_cell.id }}_link" data-toggle="dropdown" aria-haspopup="true" class="dropmaster">
										<i class="fa fa-bars"></i>
									</a>

  									<div class="dropdown-content dropdown-menu" aria-labelledby="dropdown_{{ matrix_cell.id }}_link">

					{% if authority.is_viewer %}
					
										<a class="dropdown-item" href="{% url 'matrices:detail_matrix' matrix.id %}">
											<i class="fa fa-eye"></i> View Bench Details
										</a>
					
					{% else %}

										<a class="dropdown-item" href="{% url 'matrices:detail_matrix' matrix.id %}">
											<i class="fa fa-eye"></i> View Bench Details
										</a>
					
										<a class="dropdown-item" href="{% url 'matrices:edit_matrix' matrix.id %}">
											<i class="fa fa-pencil-alt"></i> Edit Bench Details
										</a>

					{% endif %}

					{% if matrix_link != '' %}

						{% if matrix.blogpost != '' %}

										<a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter_{{ matrix.id }}">
											<i class="fa fa-eye"></i> <em>View Bench Commentary</em>
										</a>

										<a class="dropdown-item" href="{% url 'matrices:detail_matrix_blog' matrix.id %}" target="_blank">
											<i class="fa fa-edit"></i> Edit Bench Commentary
										</a>
					
						{% endif %}

					{% endif %}

					{% if authority.is_viewer %}
					
					{% else %}

										<div class="dropdown-divider"></div>

										<a class="dropdown-item" href="{% url 'matrices:delete_matrix' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE this MATRIX?')">
											<i class="fa fa-trash-alt"></i> DELETE Bench 
										</a>

										<a class="dropdown-item" href="{% url 'matrices:add_column' matrix.id %}">
											<i class="fa fa-angle-double-right"></i> APPEND Column
										</a>

										<a class="dropdown-item" href="{% url 'matrices:delete_column' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last COLUMN?')">
											<i class="fa fa-angle-double-left"></i> Delete LAST Column
										</a>

										<a class="dropdown-item" href="{% url 'matrices:add_row' matrix.id %}">
											<i class="fa fa-angle-double-down"></i> APPEND Row
										</a>

										<a class="dropdown-item" href="{% url 'matrices:delete_row' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last ROW?')">
											<i class="fa fa-angle-double-up"></i> Delete LAST Row
										</a>

					{% endif %}
									</div>

								</div>
		
							</div>

						</td>

				{% endif %}

				{% if matrix_cell.is_column_header and not matrix_cell.is_row_header %}

					{% if matrix.get_max_row == matrix_cell.ycoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">
				
						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">

						{% else %}
				
							<div draggable="true" ondragstart="dragRow(event)" id="cell_{{ matrix_cell.id }}">
		
						{% endif %}

								<div style="width:34px; height:34px;" class="bottomrow">

									<table border="0">

										<tr>

											<td align="center">

											</td>

										</tr>

									</table>
				
								</div>

							</div>

						</td>

					{% endif %}

					{% if matrix.get_max_row != matrix_cell.ycoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">
				
						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">

						{% else %}
				
							<div draggable="true" ondragstart="dragRow(event)" id="cell_{{ matrix_cell.id }}">
		
						{% endif %}

								<div style="height:{{ matrix.height }}px;" class="headrow">

									<table border="0">

										<tr>

											<td align="center" height={{ matrix.height|add:"-40" }}px>

												<div class="dropdown">

													<a id="dropdown_{{ matrix_cell.id }}_link" data-toggle="dropdown" aria-haspopup="true" class="dropbtn">

						{% if matrix_cell.title == '' %}

														<i class="fa fa-bars"></i>
												
						{% else %}

														<p class="vertical_text">{{ matrix_cell.title|truncatechars:20 }}</p>

						{% endif %}
	
													</a>

													<div class="dropdown-content dropdown-menu"  aria-labelledby="dropdown_{{ matrix_cell.id }}_link">

						{% if authority.is_viewer %}

														<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
														</a>
								
						{% else %}

														<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
														</a>
								
														<a class="dropdown-item" href="{% url 'matrices:edit_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-pencil-alt"></i> Edit Row Header
														</a>

														<div class="dropdown-divider"></div>

														<a class="dropdown-item" href="{% url 'matrices:add_row_above' matrix.id forloop.parentloop.counter0	%}">
															<i class="fa fa-angle-up"></i> Add Row Above
														</a>

														<a class="dropdown-item" href="{% url 'matrices:delete_this_row' matrix.id forloop.parentloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this ROW?')">
															<i class="fa fa-trash-alt"></i> Delete This Row
														</a>

														<a class="dropdown-item" href="{% url 'matrices:add_row_below' matrix.id forloop.parentloop.counter0 %}">
															<i class="fa fa-angle-down"></i> Add Row Below
														</a>

						{% endif %}

													</div>
							
												</div>

											</td>

										</tr>

									</table>
				
								</div>

							</div>

						</td>

					{% endif %}

				{% endif %}
				
				{% if not matrix_cell.is_column_header and matrix_cell.is_row_header %}

					{% if matrix.get_max_column == matrix_cell.xcoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">

						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">

						{% else %}
				
							<div draggable="true" ondragstart="dragCol(event)" id="cell_{{ matrix_cell.id }}">
		
						{% endif %}

								<div style="width:34px; height:34px;" class="bottomcol">

									<table border="0">

										<tr>

											<td align="center">

											</td>

										</tr>

									</table>
				
								</div>

							</div>

						</td>

					{% endif %}

					{% if matrix.get_max_column != matrix_cell.xcoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">
				
						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">

						{% else %}
				
							<div draggable="true" ondragstart="dragCol(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div style="width:{{ matrix.width }}px;" class="headcol">

									<table border="0">

										<tr>

											<td align="center" width={{ matrix.width|add:"-40" }}px>

												<div class="dropdown">
										
													<a id="dropdown_{{ matrix_cell.id }}" data-toggle="dropdown" aria-haspopup="true" class="dropbtn">

						{% if matrix_cell.title == '' %}

														<i class="fa fa-bars"></i>
												
						{% else %}

														<em>{{ matrix_cell.title|truncatechars:20 }}</em>

						{% endif %}

													</a>
									
													<div class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenuButton">

						{% if authority.is_viewer %}

														<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
														</a>

						{% else %}

														<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
														</a>

														<a class="dropdown-item" href="{% url 'matrices:edit_cell' matrix.id matrix_cell.id %}">
															<i class="fa fa-pencil-alt"></i> Edit Column Header
														</a>

														<div class="dropdown-divider"></div>

														<a class="dropdown-item" href="{% url 'matrices:add_column_left' matrix.id forloop.counter0	%}">
															<i class="fa fa-angle-left"></i> Add Column Left
														</a>

														<a class="dropdown-item" href="{% url 'matrices:delete_this_column' matrix.id forloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this COLUMN?')">
															<i class="fa fa-trash-alt"></i> Delete This Column
														</a>
	
														<a class="dropdown-item" href="{% url 'matrices:add_column_right' matrix.id forloop.counter0 %}">
															<i class="fa fa-angle-right"></i> Add Column Right
														</a>

						{% endif %}

													</div>
						
												</div>
			
											</td>

										</tr>

									</table>
				
								</div>

							</div>

						</td>

					{% endif %}

				{% endif %}

				{% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}

					{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
				
						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">
				
						{% else %}
				
							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">
				
						{% endif %}

								<div style="width:{{ matrix.width }}px; height:{{ matrix.height }}px;" class="cell" align="right">

									<div class="dropdown dropleft">

										<a id="dropdown_{{ matrix_cell.id }}_link" data-toggle="dropdown" aria-haspopup="true" class="dropcell">
											<i class="fa fa-bars"></i>
										</a>
								
								        <ul class="dropdown-content dropdown-menu">

						{% if authority.is_viewer %}

											<li>								
												<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
													<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
												</a>
											</li>								

						{% else %}

											<li>								
												<a class="dropdown-item" href="{% url 'matrices:view_cell' matrix.id matrix_cell.id %}">
													<i class="fa fa-eye"></i> <em>{{ matrix_cell.title|truncatechars:20 }}</em>
												</a>
											</li>								

											<li>								
												<a class="dropdown-item" href="{% url 'matrices:edit_cell' matrix.id matrix_cell.id %}">
													<i class="fa fa-pencil-alt"></i> Edit Cell
												</a>
											</li>								

						{% endif %}

											<li>								
												<a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter_{{ matrix_cell.id }}">
													<i class="fa fa-eye"></i> <em>View Commentary</em>
												</a>
											</li>								

						{% if matrix_link != '' %}

							{% if matrix_cell.blogpost != '' %}

											<li>								
												<a class="dropdown-item" href="{% url 'matrices:view_cell_blog' matrix.id matrix_cell.id %}" target="_blank">
													<i class="fa fa-edit"></i> Edit Commentary
												</a>
											</li>								
					
							{% endif %}
		
						{% endif %}

										</ul> 

									</div>

									<div align="left">

						{% if matrix_cell.image %}
	
							{% if matrix_cell.image.roi == 0 %}
						
										<p>	
											<a href="{{ matrix_cell.image.viewer_url }}" target="_blank">
												<img alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" style="width:{{ matrix.width|add:"-40" }}px; height:{{ matrix.height|add:"-40" }}px;" src="{{ matrix_cell.image.birdseye_url }}" >
											</a>
										</p>

							{% else %}
	
										<p>	
											<a href="{{ matrix_cell.image.viewer_url }}" target="_blank">
												<img alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" style="width:{{ matrix.width|add:"-40" }}px; height:{{ matrix.height|add:"-40" }}px;" src="{{ matrix_cell.image.birdseye_url }}" >
											</a>
										</p>

							{% endif %}
	
						{% else %}

										<p class="text-left">
											<a href="#">
												<img alt="Comparative Pathology Workbench Logo" title="Comparative Pathology Workbench Logo" style="width:{{ matrix.width|add:"-40" }}px; height:{{ matrix.height|add:"-40" }}px;" src="/static/ccp-logo.png">
											</a>
										</p>
							
						{% endif %}
	
									</div> 

								</div> 
							
							</div>							

						</td>

					{% endif %}

					{% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}
				
						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">
				
						{% else %}
				
							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">
				
						{% endif %}

								<div style="width:34px; height:{{ matrix.height }}px;" class="bottom" align="right">

									<div align="left">

										<p class="text-left">

										</p>
							
									</div> 

								</div> 
							
							</div>							

						</td>

					{% endif %}

					{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}
				
						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">
				
						{% else %}
				
							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">
				
						{% endif %}

								<div style="width:{{ matrix.width }}px; height:34px;" class="bottom" align="right">

									<div align="left">

										<p class="text-left">

										</p>
							
									</div> 

								</div> 
							
							</div>							

						</td>

					{% endif %}

					{% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}
				
						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}
				
							<div id="cell_{{ matrix_cell.id }}">
				
						{% else %}
				
							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">
				
						{% endif %}

								<div style="width:34px; height:34px;" class="bottom" align="right">

									<div align="left">

										<p class="text-left">

										</p>
							
									</div> 

								</div> 
							
							</div>							

						</td>

					{% endif %}

				{% endif %}

		
			{% endwith %}

		{% endfor %}

					</tr>								

	{% endfor %}

				</tbody>

			</table>
	
		</div>
		
{% else %}

		<h1>CPW:{{ matrix.id }}, "{{ matrix.title }}" has NO Cells</h1>

		<br />

		<table>

			<tr>

				<td>
	
					<form action="{% url 'matrices:add_cell' matrix.id %}" method="post">
{% csrf_token %}
						<input class="btn btn-danger" type="submit" value="Add Cell" />

					</form>

					<a href="{% url 'matrices:index' %}">
						<button class="save btn btn-success">Back</button>
					</a>
			
				</td>

			</tr>

		</table>

{% endif %}

	</div>

</div>

<script type="text/javascript">

function confirmation_cell(question) {

	var defer = $.Deferred();
	
	$('<div></div>')
    	.html(question)
	    .dialog({
    	    autoOpen: true,
        	modal: true,
	        title: 'Confirmation',
    	    buttons: {
        	    "SWAP": function () {
            	    defer.resolve("swap");
                	$(this).dialog("close");
            	},
	            "MOVE": function () {
    	            defer.resolve("overwrite");
        	        $(this).dialog("close");
	            },
	            "COPY": function () {
    	            defer.resolve("overwrite_leave");
        	        $(this).dialog("close");
	            },
	            "CLOSE": function () {
	    	        $(this).dialog('destroy').remove();
    		        window.location.reload();
        		}
    	    },
        	close: function () {
    	        $(this).dialog('destroy').remove();
    	        window.location.reload();
        	}
	    });
	
	return defer.promise();
	
	};

function confirmation_image(question) {

	var defer = $.Deferred();
	
	$('<div></div>')
    	.html(question)
	    .dialog({
    	    autoOpen: true,
        	modal: true,
	        title: 'Confirmation',
    	    buttons: {
	            "MOVE": function () {
    	            defer.resolve("move");
        	        $(this).dialog("close");
	            },
	            "CLOSE": function () {
	    	        $(this).dialog('destroy').remove();
    		        window.location.reload();
        		}
    	    },
        	close: function () {
    	        $(this).dialog('destroy').remove();
    	        window.location.reload();
        	}
	    });
	
	return defer.promise();
	
	};

function onclick(source, target, source_type){
	
   	if (source_type == "cell") {

		var question = "Do you want to SWAP Cells, MOVE or COPY the Source Cell to the Target Cell?";

		confirmation_cell(question).then(function (answer) {
    
	    	if (answer == "swap"){
        	
			    $.ajax({
    	    		url: '{% url 'matrices:swap_cells' %}',
			        data: {
        				'source': source,
		        		'target': target,
        				'source_type': source_type,
	        			csrfmiddlewaretoken: '{{ csrf_token }}'
			        },
			        dataType: 'json',
		    	    type: 'post',
        			success: function (data) {
        				if (data.failure) {
        					alert("Cell Swap Failed! Source: " + data.source + "  Target: " + data.target);
	        			}
						window.location.reload();
        			}
        		});
			}

	    	if (answer == "overwrite"){
        
			    $.ajax({
        			url: '{% url 'matrices:overwrite_cell' %}',
		        	data: {
        				'source': source,
			        	'target': target,
    	    			'source_type': source_type,
        				csrfmiddlewaretoken: '{{ csrf_token }}'
		    	    },
		        	dataType: 'json',
			        type: 'post',
    	    		success: function (data) {
        				if (data.failure) {
        					alert("Cell Overwrite Failed! Source: " + data.source + "  Target: " + data.target);
        				}
        				window.location.reload();
	        		}
    	    	});
    		}
    	
	    	if (answer == "overwrite_leave"){
        
			    $.ajax({
    	    		url: '{% url 'matrices:overwrite_cell_leave' %}',
			        data: {
        				'source': source,
		        		'target': target,
        				'source_type': source_type,
	        			csrfmiddlewaretoken: '{{ csrf_token }}'
			        },
			        dataType: 'json',
		    	    type: 'post',
        			success: function (data) {
        				if (data.failure) {
        					alert("Cell Overwrite and Leave Failed! Source: " + data.source + "  Target: " + data.target);
	        			}
    	    			window.location.reload();
        			}
        		});
	    	}
    	
			//window.location.reload();

		});
   	
   	}
   	
   	if (source_type == "image") {

		var question = "Do you want to MOVE this Image to this CELL?";

		confirmation_image(question).then(function (answer) {
    
	    	if (answer == "move"){
        	
			    $.ajax({
    	    		url: '{% url 'matrices:import_image' %}',
			        data: {
        				'source': source,
		        		'target': target,
        				'source_type': source_type,
	        			csrfmiddlewaretoken: '{{ csrf_token }}'
			        },
			        dataType: 'json',
		    	    type: 'post',
        			success: function (data) {
        				if (data.failure) {
        					alert("Image Import Failed! Source: " + data.source + "  Target: " + data.target);
	        			}
						window.location.reload();
        			}
        		});
			}

		});
   	
   	}
   	
}


function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev){

	ev.preventDefault();

    var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];

    var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//ev.currentTarget.replaceChild(src, tgt);
    //srcParent.appendChild(tgt);

	onclick(source_id, target_id, source_type);
}


function allowColDrop(ev){
	ev.preventDefault();
}

function dragCol(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropCol(ev){

	ev.preventDefault();
    var src = document.getElementById(ev.dataTransfer.getData("Text"));
    var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source = source_array[1];
    
    var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target = target_array[1];

    //ev.currentTarget.replaceChild(src, tgt);
    //srcParent.appendChild(tgt);

    $.ajax({
        url: '{% url 'matrices:shuffle_columns' %}',
        data: {
        	'source': source,
        	'target': target,
        	csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        type: 'post',
        success: function (data) {
        	if (data.failure) {
            	alert("Column Swap Failed! Source: " + data.source + "  Target: " + data.target);
	        }
			window.location.reload();
        }
    });
}

function allowRowDrop(ev){
	ev.preventDefault();
}

function dragRow(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropRow(ev){

	ev.preventDefault();
    var src = document.getElementById(ev.dataTransfer.getData("Text"));
    var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source = source_array[1];

    var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target = target_array[1];

    //ev.currentTarget.replaceChild(src, tgt);
    //srcParent.appendChild(tgt);

    $.ajax({
    	url: '{% url 'matrices:shuffle_rows' %}',
        data: {
        	'source': source,
	        'target': target,
          	csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        type: 'post',
        success: function (data) {
        	if (data.failure) {
            	alert("Row Swap Failed! Source: " + data.source + "  Target: " + data.target);
        	}
			window.location.reload();
        }
    });
}

</script>


{% endblock %}
