{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>
		
			<ol class="breadcrumb subheading">
	
				<li class="breadcrumb-item">
					<a href="{% url 'matrices:home' %}">
						Home
					</a>
				</li>
	
				<li class="breadcrumb-item active">
					Workbenches
				</li>
	
			</ol>

		</div>

	</div>
	
</div>

<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>

	<div class="col-md-9" id="content">

	<h1>NEW Workbench</h1>
	<br />

	<p>Create a NEW Bench</p>
	<hr>

	<form method="POST" class="post-form">

{% csrf_token %}

{% include 'includes/form.html' %}

        <button type="submit" class="save btn btn-danger">Save</button>

		<a href="{{ request.META.HTTP_REFERER }}">
			<button class="save btn btn-success">CANCEL</button>
		</a>
		
	</form>

	</div>
	
	<div class="col-md-2">

	</div>

</div>

{% endblock %}

