<!--
\file         view_collection.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view collection template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'list_collections' %}">List Collections</a>
		</li>

		<li>
			<a href="{% url 'detail_collection' collection.id %}">Collection {{ collection.id }}</a>
		</li>

		<li>
			Images
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Collection {{ collection.id }}, "{{ collection.title }}"</h1>

		<p>You have collected {{ collection_image_list|length }} Images (Owned By {{ collection.owner.username }})</p>

		<hr>

		<br />

{% if credential_flag %}

	{% if collection_image_list %}

		{% for collection_image in collection_image_list %}

			{% if forloop.first %}

	    <table border="0">

        	<tr>
    	        <th width="150px">Action</th>
	            <th width="100px">ROI</th>
            	<th>Server</th>
        	    <th>Image</th>
			</tr>

	        <tr>
        	    <td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
            	<td>&nbsp;</td>
			</tr>

			{% endif %}

    	    <tr>

	            <td style="vertical-align: top;">

			{% if collection_image.server.type.name == 'WORDPRESS' %}

					<a href="{% url 'webgallery_show_wordpress_image' collection_image.server.id collection_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% else %}

					<a href="{% url 'webgallery_show_image' collection_image.server.id collection_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% endif %}

					<a href="{% url 'webgallery_delete_image' collection_image.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
	            </td>

			{% if collection_image.roi == 0 %}

            	<td>&nbsp;</td>

			{% else %}

        	    <td style="vertical-align: top;">
    	        	<strong>ROI</strong>
	            </td>

			{% endif %}

            	<td style="vertical-align: top;">
            		{{ collection_image.server.name }}<br />( {{ collection_image.server.url_server }} )
        	    </td>

    	        <td style="vertical-align: top;">
					<a href="{{ collection_image.viewer_url  }}" target="_blank"><img alt="{{ collection_image.name }}" title="{{ collection_image.name }}" style="height:256px; float: left" title="{{ collection_image.name }}" src="{{ collection_image.birdseye_url }}" ></a>
        	    </td>
			</tr>

			{% if forloop.last %}

	        <tr>
	            <td>&nbsp;</td>
            	<td>&nbsp;</td>
        	    <td>&nbsp;</td>
    	        <td>&nbsp;</td>
			</tr>

        <tr>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
			</tr>

	    </table>

			{% endif %}

	    {% endfor %}

	{% else %}

		<p>No Images are available.</p>

	{% endif %}

{% else %}

		<p>No Images are allowed yet.</p>

{% endif %}

	</div>

	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
