<!--
\file         view_matrix.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view matrix (bench) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'list_benches' %}">Workbenches</a>
		</li>

		<li>
			CPW:{{ matrix.id|stringformat:"06d" }}, {{ matrix_comments.title }} :

			<!-- <a href="#my_popup_info"> -->
				<!-- <i class="fa fa-info fa-lg" title="Bench Details 3"></i> -->
				<!-- <span class="sr-only">Bench Details</span> -->
			<!-- </a> -->

			<button type="button" class="collapsible">
				<a href="#"><i class="fa fa-info fa-lg" title="Bench Details"></i></a>
			</button>

			<div class="collapsible-content">

				<dl>

					<dt>Id:</dt>
					<dd>CPW:{{ matrix.id|stringformat:"06d" }}</dd>

					<dt>Title:</dt>
					<dd>
						{% inlineedit "matrix.title" "blocked" %}
					</dd>

					<dt>Description:</dt>
					<dd>
						{% inlineedit "matrix.description" "blocked" %}
					</dd>

					<dt>Owner:</dt>
					<dd>{{ matrix.owner.username }}</dd>

					<dt>Cell Height:</dt>
					<dd>{{ matrix.height }}</dd>

					<dt>Cell Width:</dt>
					<dd>{{ matrix.width }}</dd>

					<dt>Created:</dt>
					<dd>{{ matrix.created|date:"Y-m-d" }} {{ matrix.created|time:"G:i:s" }}</dd>

					<dt>Last Modified:</dt>
					<dd>{{ matrix.modified|date:"Y-m-d" }} {{ matrix.modified|time:"G:i:s" }}</dd>

				</dl>

			</div>

{% if authority.is_viewer %}

{% else %}

	{% if credential_flag %}

		{% if collection_list %}

			<a class="toggle-sidebar" href="#matrix_sidebar" role="button"><i id="indicator-2" class="fa fa-cart-arrow-down fa-lg" title="Image Basket"></i><span class="sr-only">Image Basket</span></a>

		{% endif %}

	{% endif %}

{% endif %}


		</li>

	</ul>

</div>


<!-- Pop-ups -->

<!-- The Bench Information Pop-up -->

<a id="my_popup_info" href="#" class="my-test-popup"></a>

<div style="width: 500px; height: 400px; margin-left: -250px; margin-top: -200px;" class="my-test-popup">
	<h3>Bench Details</h3>
	<dl>
		<dt>Id:</dt>
		<dd>CPW:{{ matrix.id|stringformat:"06d" }}</dd>

		<dt>Title:</dt>
		<dd>{{ matrix.title }}</dd>

		<dt>Owner:</dt>
		<dd>{{ matrix.owner.username }}</dd>

		<dt>Cell Height:</dt>
		<dd>{{ matrix.height }}</dd>

		<dt>Cell Width:</dt>
		<dd>{{ matrix.width }}</dd>

		<dt>Description:</dt>
		<dd>{{ matrix.description|truncatechars:100 }}</dd>

		<dt>Created:</dt>
		<dd>{{ matrix.created|date:"Y-m-d" }} {{ matrix.created|time:"G:i:s" }}</dd>

		<dt>Last Modified:</dt>
		<dd>{{ matrix.modified|date:"Y-m-d" }} {{ matrix.modified|time:"G:i:s" }}</dd>
	</dl>
	<a class="close x" href="#">x</a>
	<a class="close word" href="#">Close</a>
</div>


<!-- The Bench Commentary Pop-up -->

<a id="my_popup_bench" href="#" class="my-test-popup"></a>

<div style="width: 900px; height: 700px; margin-left: -450px; margin-top: -350px;" class="my-test-popup">
	<h3>Commentary for Bench: CPW:{{ matrix_comments.id|stringformat:"06d" }}, "{{ matrix_comments.title }}"</h3>
	<dl>
		<dt>Bench Title</dt>
		<dd>{{ matrix_comments.title }}</dd>

		<dt>Description</dt>
		<dd>{{ matrix_comments.description|truncatechars:20 }}</dd>
	</dl>

		{% if matrix_comments.comment_list %}

	<table>
		<tr>
			<th width="100px">Date</th>
			<th width="100px">Time</th>
			<th width="100px">Author</th>
			<th>Comment</th>
		</tr>

			{% for comment in matrix_comments.comment_list %}

		<tr>
			<td>
				{{ comment.date }}
			</td>
			<td>
				{{ comment.time }}
			</td>
			<td>
				{{ comment.author_name }}
			</td>
			<td>
				{{ comment.content|safe|truncatechars:50 }}
			</td>
		</tr>

			{% endfor %}
	</table>

		{% endif %}

	<a class="close x" href="#">x</a>
	<a class="close word" href="#">Close</a>
</div>


<!-- The Cell Modal Pop-ups -->

{% if matrix_cells_comments %}

	{% for cell in matrix_cells_comments %}

<a id="my_popup_{{ cell.id }}" href="#" class="my-test-popup"></a>

<!-- Modal -->
<div style="width: 900px; height: 700px; margin-left: -450px; margin-top: -350px;" class="my-test-popup">
	<h3>Commentary for Cell: CPW:{{ cell.matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ cell.title }}"</h5>
	<dl>
		<dt>Cell Title</dt>
		<dd>{{ cell.title }}</dd>

		<dt>Description</dt>
		<dd>{{ cell.description|truncatechars:20 }}</dd>
	</dl>

		{% if cell.viewer_url != '' %}

	<p>
		<a href="{{ cell.viewer_url }}" target="_blank"><img alt="{{ cell.image_name }}" title="{{ cell.image_name }}" style="width: 250px; height: 250px;" src="{{ cell.birdseye_url }}" ></a>
	</p>

		{% endif %}

		{% if cell.comment_list %}

	<table>
		<tr>
			<th width="100px">Date</th>
			<th width="100px">Time</th>
			<th width="100px">Author</th>
			<th>Comment</th>
		</tr>

			{% for comment in cell.comment_list %}

		<tr>
			<td>
				{{ comment.date }}
			</td>
			<td>
				{{ comment.time }}
			</td>
			<td>
				{{ comment.author_name }}
			</td>
			<td>
				{{ comment.content|safe|truncatechars:50 }}
			</td>
		</tr>

			{% endfor %}

	</table>

		{% endif %}

	<a class="close x" href="#">x</a>
	<a class="close word" href="#">Close</a>
</div>

	{% endfor %}

{% endif %}


<!-- Main Data Panel -->

<div class="grid-container">

	<div class="grid-item invisible" id="matrix_sidebar">

{% if authority.is_viewer %}

{% else %}

	{% if credential_flag %}

<!-- Selected or Active Image Collection -->

		<table border="0" class="basket">

		{% if collection_list %}

			<tr>

				<td>

					<div class="image" align="right">

						<div class="my-dropdown">

						    <a id="dropdown_1_link" class="my-dropcell"><button class="basket-button button-edit"><i class="fa fa-question-circle"></i></button></a>

							<div class="my-dropdown-cell-content">

  								<div class="my-dropdown-btn-content">

			{% for collection in collection_list %}

		       	{% if matrix.has_last_used_collection == True %}

		        	{% if matrix.last_used_collection.id == collection.collection_id %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-edit"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

					{% else %}

			        	{% if collection.collection_owner == credential_flag %}

				        	{% if collection.collection_active == True %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-delete"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

							{% else %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-add"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

							{% endif %}

						{% else %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-info"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

						{% endif %}

					{% endif %}

				{% else %}

			        {% if collection.collection_owner == credential_flag %}

			        	{% if collection.collection_active == True %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-delete"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

						{% else %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-add"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

						{% endif %}

					{% else %}

					    	<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-info"><i class="fa fa-bell"></i></button><span class="menu-item">&#9;</span>({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

					{% endif %}

				{% endif %}

			{% endfor %}

								</div>

							</div>

						</div>

					</div>

				</td>

			</tr>

		{% endif %}

		{% if collection_image_list %}

		    {% for image in collection_image_list %}

			<tr>

				<td id="image_{{ image.id }}">

				{% if authority.is_viewer %}

					<div id="image_{{ image.id }}">

				{% else %}

					<div draggable="true" ondragstart="drag(event)" id="image_{{ image.id }}">

				{% endif %}

						<div class="image" align="right">

							<a href="{{ image.viewer_url  }}" target="_blank"><img alt="{{ image.name }}" title="{{ image.name }}" class="image-holder" title="{{ image.name }}" src="{{ image.birdseye_url }}"> </a>

						</div>

					</div>

				</td>

			</tr>

				{% if forloop.last %}

			<tr>

				<td>

			       	{% if matrix.has_last_used_collection == True %}

					<div class="image" align="right">

						<a href="{% url 'view_collection' matrix.last_used_collection.id %}"><button class="basket-button button-view"><i class="fa fa-eye"></i></button></a>

					</div>

					{% endif %}

				</td>


			</tr>

				{% endif %}

			{% endfor %}

		{% else %}

			{% if matrix.has_last_used_collection == True %}

			<tr>
				<td>
					<div class="image" align="right">
					    <button class="basket-button button-info"><i class="fa fa-eye-slash"></i></button>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="image" align="right">
						<a href="{% url 'view_collection' matrix.last_used_collection.id %}"><button class="basket-button button-view"><i class="fa fa-eye"></i></button></a>
					</div>
				</td>
			</tr>

			{% endif %}

		{% endif %}

		</table>

	{% endif %}

{% endif %}

	</div>


<!-- The Bench -->

{% if rows %}

	<div class="grid-item">
		<div>

			<table id="myTable" class="bench" border="0">

				<tbody>

	{% for row in rows %}

					<tr>

		{% for column in columns %}

			{% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}


<!-- The Master Cell -->

				{% if matrix_cell.is_master %}

						<td id="{{ matrix_cell.id }}">

							<div class="master-cell">

								<table border="0">

									<tr>

										<td align="center" width={{ matrix.width }}px>

											<div class="my-dropdown">

												<a id="dropdown_{{ matrix_cell.id }}_link" class="my-dropbtn"><i class="fa fa-bars"></i></a>

  												<div class="my-dropdown-btn-content">

					{% if authority.is_viewer %}

													<a href="{% url 'detail_matrix' matrix.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span>View Bench Details</a>

					{% else %}

													<a href="{% url 'detail_matrix' matrix.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span>View Bench Details</a>

													<a href="{% url 'edit_matrix' matrix.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Bench Details</a>

					{% endif %}

					{% if matrix_link != '' %}

						{% if matrix.blogpost != '' %}

													<a href="#my_popup_bench"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>View Bench Commentary</em></a>

													<a href="{% url 'detail_matrix_blog' matrix.id %}" target="_blank"><i class="fa fa-edit"></i><span class="menu-item">&#9;</span>Edit Bench Commentary</a>

						{% endif %}

					{% endif %}

					{% if authority.is_viewer %}

					{% else %}

													<a href="{% url 'delete_matrix' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>DELETE Bench </a>

													<a href="{% url 'append_column' matrix.id %}"><i class="fa fa-angle-double-right"></i><span class="menu-item">&#9;</span>APPEND Column</a>

													<a href="{% url 'delete_last_column' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last COLUMN?')"><i class="fa fa-angle-double-left"></i><span class="menu-item">&#9;</span>Delete LAST Column</a>

													<a href="{% url 'append_row' matrix.id %}"><i class="fa fa-angle-double-down"></i><span class="menu-item">&#9;</span>APPEND Row</a>

													<a href="{% url 'delete_last_row' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last ROW?')"><i class="fa fa-angle-double-up"></i><span class="menu-item">&#9;</span>Delete LAST Row</a>

					{% endif %}

  												</div>

											</div>

										</td>

									</tr>

								</table>

							</div>

						</td>

				{% endif %}


<!-- Row Header Cells -->

				{% if matrix_cell.is_column_header and not matrix_cell.is_row_header %}


<!-- The Bottom-Most Row Header Cell -->

					{% if matrix.get_max_row == matrix_cell.ycoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="dragRow(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="row-header-bottom-cell">

								</div>

							</div>

						</td>

					{% endif %}


<!-- The Other Row Header Cells -->

					{% if matrix.get_max_row != matrix_cell.ycoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="dragRow(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="row-header-cell" style="height:{{ matrix.height|add:"10" }}px;">

									<table border="0">

										<tr>

											<td align="center">

												<div class="my-dropdown">

													<a id="dropdown_{{ matrix_cell.id }}_link" class="my-dropbtn">

						{% if matrix_cell.title == '' %}

														<i class="fa fa-bars"></i>

						{% else %}

														<p class="vertical_text">
														{{ matrix_cell.title|truncatechars:15 }}
														</p>

						{% endif %}

													</a>

													<div class="my-dropdown-btn-content">

						{% if authority.is_viewer %}

														<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

						{% else %}

														<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

														<a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Row Header</a>

														<a href="{% url 'add_row_above' matrix.id forloop.parentloop.counter0	%}"><i class="fa fa-angle-up"></i><span class="menu-item">&#9;</span>Add Row Above</a>

														<a href="{% url 'delete_this_row' matrix.id forloop.parentloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this ROW?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>Delete This Row</a>

														<a href="{% url 'add_row_below' matrix.id forloop.parentloop.counter0 %}"><i class="fa fa-angle-down"></i><span class="menu-item">&#9;</span>Add Row Below</a>

						{% endif %}

													</div>

												</div>

											</td>

										</tr>

									</table>

								</div>

							</div>

						</td>

					{% endif %}

				{% endif %}


<!-- Column Header Cells -->

				{% if not matrix_cell.is_column_header and matrix_cell.is_row_header %}


<!-- The Right-Most Column Header Cell -->

					{% if matrix.get_max_column == matrix_cell.xcoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="dragCol(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="column-header-rightmost-cell">

									<table border="0">

										<tr>

											<td align="center">

											</td>

										</tr>

									</table>

								</div>

							</div>

						</td>

					{% endif %}


<!-- The Other Row Header Cells -->

					{% if matrix.get_max_column != matrix_cell.xcoordinate %}

						<td id="{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="dragCol(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="column-header-cell">

									<table border="0">

										<tr>

						{% if matrix_cell.title == '' %}

											<td align="right" width={{ matrix.width }}px>

						{% else %}
											<td align="left" width={{ matrix.width }}px>

						{% endif %}

												<div class="my-dropdown">

													<a id="dropdown_{{ matrix_cell.id }}" class="my-dropbtn">

						{% if matrix_cell.title == '' %}

														<i class="fa fa-bars"></i>

						{% else %}

														<em>{{ matrix_cell.title|truncatechars:15 }}</em>

						{% endif %}

													</a>

													<div class="my-dropdown-btn-content">

						{% if authority.is_viewer %}

														<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

						{% else %}

														<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

														<a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Column Header</a>

														<a href="{% url 'add_column_left' matrix.id forloop.counter0	%}"><i class="fa fa-angle-left"></i><span class="menu-item">&#9;</span>Add Column Left</a>

														<a href="{% url 'delete_this_column' matrix.id forloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this COLUMN?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>Delete This Column</a>

														<a href="{% url 'add_column_right' matrix.id forloop.counter0 %}"><i class="fa fa-angle-right"></i><span class="menu-item">&#9;</span>Add Column Right</a>

						{% endif %}

													</div>

												</div>

											</td>

										</tr>

									</table>

								</div>

							</div>

						</td>

					{% endif %}

				{% endif %}


<!-- Non Header Cells -->

				{% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}


<!-- Ordinary Cells -->

					{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}

						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}


								<div style="width:{{ matrix.width }}px; height:{{ matrix.height }}px;" class="cell" align="right">

									<div class="cell-title" style="width:{{ matrix.width|add:"-20" }}px;">{{ matrix_cell.title|truncatechars:15 }}
									</div>

									<div class="my-dropdown">

										<a id="dropdown_{{ matrix_cell.id }}_link" class="my-dropcell"><i class="fa fa-bars"></i></a>

										<div class="my-dropdown-cell-content">

						{% if authority.is_viewer %}

											<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

						{% else %}

											<a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

											<a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Cell</a>

						{% endif %}

											<a href="#my_popup_{{ matrix_cell.id }}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>View Commentary</em></a>

						{% if matrix_link != '' %}

							{% if matrix_cell.blogpost != '' %}

											<a href="{% url 'view_cell_blog' matrix.id matrix_cell.id %}" target="_blank"><i class="fa fa-edit"></i><span class="menu-item">&#9;</span>Edit Commentary</a>

							{% endif %}

						{% endif %}

										</div>

									</div>

									<div align="left">

						{% if matrix_cell.image %}

							{% if matrix_cell.image.roi == 0 %}

										<a href="{{ matrix_cell.image.viewer_url }}" target="_blank"><img alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" style="width:{{ matrix.width|add:"-20" }}px; height:{{ matrix.height|add:"-20" }}px;" src="{{ matrix_cell.image.birdseye_url }}" ></a>

							{% else %}

										<a href="{{ matrix_cell.image.viewer_url }}" target="_blank"><img alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" style="width:{{ matrix.width|add:"-20" }}px; height:{{ matrix.height|add:"-20" }}px;" src="{{ matrix_cell.image.birdseye_url }}" ></a>

							{% endif %}

						{% else %}

										<a href="#"><img alt="Comparative Pathology Workbench Logo" title="Comparative Pathology Workbench Logo" style="width:{{ matrix.width|add:"-20" }}px; height:{{ matrix.height|add:"-20" }}px;" src="/static/ccp-logo.png"></a>

						{% endif %}

									</div>

								</div>

							</div>

						</td>

					{% endif %}


<!-- Right-Most Footer Cells -->

					{% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}

						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="footer-cell-right" style="height: {{ matrix.height|add:"10" }}px;">

									<div align="left">

										<p class="text-left">

										</p>

									</div>

								</div>

							</div>

						</td>

					{% endif %}


<!-- Bottom-Most Footer Cells -->

					{% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}

						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="footer-cell-bottom">

									<div align="left">

										<p class="text-left">

										</p>

									</div>

								</div>

							</div>

						</td>

					{% endif %}


<!-- Bottom-Most and Right-Most Footer Cell -->

					{% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}

						{% csrf_token %}

						<td id="cell_{{ matrix_cell.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

						{% if authority.is_viewer %}

							<div id="cell_{{ matrix_cell.id }}">

						{% else %}

							<div draggable="true" ondragstart="drag(event)" id="cell_{{ matrix_cell.id }}">

						{% endif %}

								<div class="footer-cell-right-bottom" align="right">

									<div align="left">

										<p class="text-left">

										</p>

									</div>

								</div>

							</div>

						</td>

					{% endif %}

				{% endif %}


			{% endwith %}

		{% endfor %}

					</tr>

	{% endfor %}

				</tbody>

			</table>

		</div>


<!-- There are NO Cells - This should not happen! -->

{% else %}

		<h1>CPW:{{ matrix.id }}, "{{ matrix.title }}" has NO Cells</h1>

		<br />

		<table>

			<tr>

				<td>

					<form action="{% url 'add_cell' matrix.id %}" method="post">
{% csrf_token %}
						<input class="btn btn-danger" type="submit" value="Add Cell" />

					</form>

					<a href="{% url 'index' %}"><button class="save btn btn-success">Back</button></a>

				</td>

			</tr>

		</table>

{% endif %}

	</div>

</div>

<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />

<script type="text/javascript">

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
			content.style.display = "none";
		} else {
			content.style.display = "block";
		}
	});
}


function confirmation_cell(question) {

	var defer = $.Deferred();

	$('<div></div>')
		.html(question)
		.dialog({
			autoOpen: true,
			modal: true,
			title: 'Confirmation',
			buttons: {
				"SWAP": function () {
					defer.resolve("swap");
					$(this).dialog("close");
				},
				"MOVE": function () {
					defer.resolve("overwrite");
					$(this).dialog("close");
				},
				"COPY": function () {
					defer.resolve("overwrite_leave");
					$(this).dialog("close");
				},
				"CLOSE": function () {
					$(this).dialog('destroy').remove();
					window.location.reload();
				}
			},
			close: function () {
				$(this).dialog('destroy').remove();
				window.location.reload();
			}
		});

	return defer.promise();

	};

function confirmation_image(question) {

	var defer = $.Deferred();

	$('<div></div>')
		.html(question)
		.dialog({
			autoOpen: true,
			modal: true,
			title: 'Confirmation',
			buttons: {
				"MOVE": function () {
					defer.resolve("move");
					$(this).dialog("close");
				},
				"CLOSE": function () {
					$(this).dialog('destroy').remove();
					window.location.reload();
				}
			},
			close: function () {
				$(this).dialog('destroy').remove();
				window.location.reload();
			}
		});

	return defer.promise();

	};

function onclick(source, target, source_type){

   	if (source_type == "cell") {

		var question = "Do you want to SWAP Cells, MOVE or COPY the Source Cell to the Target Cell?";

		confirmation_cell(question).then(function (answer) {

			if (answer == "swap"){

				$.ajax({
					url: '{% url 'swap_cells' %}',
					data: {
						'source': source,
						'target': target,
						'source_type': source_type,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					dataType: 'json',
					type: 'post',
					success: function (data) {
						if (data.failure) {
							alert("Cell Swap Failed! Source: " + data.source + "  Target: " + data.target);
						}
						window.location.reload();
					}
				});
			}

			if (answer == "overwrite"){

				$.ajax({
					url: '{% url 'overwrite_cell' %}',
					data: {
						'source': source,
						'target': target,
						'source_type': source_type,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					dataType: 'json',
					type: 'post',
					success: function (data) {
						if (data.failure) {
							alert("Cell Overwrite Failed! Source: " + data.source + "  Target: " + data.target);
						}
						window.location.reload();
					}
				});
			}

			if (answer == "overwrite_leave"){

				$.ajax({
					url: '{% url 'overwrite_cell_leave' %}',
					data: {
						'source': source,
						'target': target,
						'source_type': source_type,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					dataType: 'json',
					type: 'post',
					success: function (data) {
						if (data.failure) {
							alert("Cell Overwrite and Leave Failed! Source: " + data.source + "  Target: " + data.target);
						}
						window.location.reload();
					}
				});
			}

			//window.location.reload();

		});

   	}

   	if (source_type == "image") {

		var question = "Do you want to MOVE this Image to this CELL?";

		confirmation_image(question).then(function (answer) {

			if (answer == "move"){

				$.ajax({
					url: '{% url 'import_image' %}',
					data: {
						'source': source,
						'target': target,
						'source_type': source_type,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					dataType: 'json',
					type: 'post',
					success: function (data) {
						if (data.failure) {
							alert("Image Import Failed! Source: " + data.source + "  Target: " + data.target);
						}
						window.location.reload();
					}
				});
			}

		});

   	}

}


function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev){

	ev.preventDefault();

	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];

	var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//ev.currentTarget.replaceChild(src, tgt);
	//srcParent.appendChild(tgt);

	onclick(source_id, target_id, source_type);
}


function allowColDrop(ev){
	ev.preventDefault();
}

function dragCol(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropCol(ev){

	ev.preventDefault();
	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source = source_array[1];

	var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target = target_array[1];

	//ev.currentTarget.replaceChild(src, tgt);
	//srcParent.appendChild(tgt);

	$.ajax({
		url: '{% url 'shuffle_columns' %}',
		data: {
			'source': source,
			'target': target,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		},
		dataType: 'json',
		type: 'post',
		success: function (data) {
			if (data.failure) {
				alert("Column Swap Failed! Source: " + data.source + "  Target: " + data.target);
			}
			window.location.reload();
		}
	});
}

function allowRowDrop(ev){
	ev.preventDefault();
}

function dragRow(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropRow(ev){

	ev.preventDefault();
	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source = source_array[1];

	var tgt = ev.currentTarget.firstElementChild;
	var target_array = tgt.id.split("_",2);
	var target = target_array[1];

	//ev.currentTarget.replaceChild(src, tgt);
	//srcParent.appendChild(tgt);

	$.ajax({
		url: '{% url 'shuffle_rows' %}',
		data: {
			'source': source,
			'target': target,
		  	csrfmiddlewaretoken: '{{ csrf_token }}'
		},
		dataType: 'json',
		type: 'post',
		success: function (data) {
			if (data.failure) {
				alert("Row Swap Failed! Source: " + data.source + "  Target: " + data.target);
			}
			window.location.reload();
		}
	});
}

</script>

{% inlineedit_script %}

{% endblock %}
