<!--
\file         view_matrix.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view matrix (bench) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'list_benches' %}">Workbenches</a></li>
			<li onclick="openGridRow();">CPW:{{ matrix.id|stringformat:"06d" }}, {{ matrix_comments.title }} <i class="fas fa-info-circle"></i></li>

{% endblock %}

{% block details %}

<div class="collapsible-content">
<dl>

	<dt>Id:</dt>
	<dd>CPW:{{ matrix.id|stringformat:"06d" }}</dd>

	<dt>Title:</dt>
	<dd>
		{% inlineedit "matrix.title" "blocked" %}
	</dd>

	<dt>Description:</dt>
	<dd>
		{% inlineedit "matrix.description" "blocked" %}
	</dd>

	<dt>Owner:</dt>
	<dd>{{ matrix.owner.username }}</dd>

	<dt>Cell Height:</dt>
	<dd>{{ matrix.height }}</dd>

	<dt>Cell Width:</dt>
	<dd>{{ matrix.width }}</dd>

	<dt>Created:</dt>
	<dd>{{ matrix.created|date:"Y-m-d" }} {{ matrix.created|time:"G:i:s" }}</dd>

	<dt>Last Modified:</dt>
	<dd>{{ matrix.modified|date:"Y-m-d" }} {{ matrix.modified|time:"G:i:s" }}</dd>

</dl>
</div><!-- End of collapsible-content -->

{% endblock %}

{% block content %}

<!-- The Bench Commentary Pop-up -->

<a id="popup_bench" href="#" class="bench-popup"></a>

<div style="width: 900px; height: 700px; margin-left: -450px; margin-top: -350px; background: #F9E79F;" class="bench-popup">
  <h3>Commentary for Bench: CPW:{{ matrix_comments.id|stringformat:"06d" }}, "{{ matrix_comments.title }}"</h3>
  <dl>
    <dt>Bench Title</dt>
	<dd>{{ matrix_comments.title }}</dd>
    <dt>Description</dt>
	<dd>{{ matrix_comments.description|truncatechars:20 }}</dd>
  </dl>

{% if matrix_comments.comment_list %}

  <table>
    <tr>
	  <th width="100px">Date</th>
	  <th width="100px">Time</th>
	  <th width="100px">Author</th>
	  <th>Comment</th>
	</tr>

    {% for comment in matrix_comments.comment_list %}

	<tr>
	  <td>{{ comment.date }}</td>
	  <td>{{ comment.time }}</td>
	  <td>{{ comment.author_name }}</td>
	  <td>{{ comment.content|safe|truncatechars:50 }}</td>
	</tr>

	{% endfor %}

  </table>

{% endif %}

  <a class="close x" href="#"><i class="fas fa-times-circle"></i></a>
  <a class="close word" href="#">Close</a>
</div>


<!-- The Cell Modal Pop-ups -->

{% if matrix_cells_comments %}

	{% for cell in matrix_cells_comments %}

<a id="popup_{{ cell.id }}" href="#" class="bench-popup"></a>

<!-- Modal -->
<div style="width: 900px; height: 700px; margin-left: -450px; margin-top: -350px; background: #CCFFCC;" class="bench-popup">
  <h3>Commentary for Cell: CPW:{{ cell.matrix.id|stringformat:"06d" }}_{{ cell.id }}, "{{ cell.title }}"</h3>
  <dl>
	<dt>Cell Title</dt>
	<dd>{{ cell.title }}</dd>
 	<dt>Description</dt>
 	<dd>{{ cell.description|truncatechars:20 }}</dd>
  </dl>

		{% if cell.viewer_url != '' %}

  <p><a href="{{ cell.viewer_url }}" target="_blank"><img alt="{{ cell.image_name }}" title="{{ cell.image_name }}" style="width: 250px; height: 250px;" src="{{ cell.birdseye_url }}" ></a></p>

		{% endif %}

		{% if cell.comment_list %}

  <table>
    <tr>
	  <th width="100px">Date</th>
	  <th width="100px">Time</th>
	  <th width="100px">Author</th>
	  <th>Comment</th>
	</tr>

    		{% for comment in cell.comment_list %}

	<tr>
	  <td>{{ comment.date }}</td>
	  <td>{{ comment.date }}</td>
	  <td>{{ comment.time }}</td>
	  <td>{{ comment.author_name }}</td>
	  <td>{{ comment.content|safe|truncatechars:50 }}</td>
	</tr>

			{% endfor %}

  </table>

		{% endif %}

  <a class="close x" href="#"><i class="fas fa-times-circle"></i></a>
  <a class="close word" href="#">Close</a>
</div>

	{% endfor %}

{% endif %}

<!-- Main Data Panel -->

<div class="page-body">

<div class="page-sidebar" style="overflow-y: scroll;">

{% if authority.is_viewer %}

    {% else %}

    {% if credential_flag %}

<!-- Selected or Active Image Collection -->

  <div class="collection-container">
	<div class="collection-item">
	  <div class="collection-master">
		<div class="collection-master-control">
		  <div class="collection-dropdown">
			<button class="collection-drop-button"><i class="fas fa-bars"></i></button>
			<div class="collection-dropdown-content">

        {% if collection_list %}

            {% for collection in collection_list %}

	            {% if matrix.has_last_used_collection == True %}

		            {% if matrix.last_used_collection.id == collection.collection_id %}

				<a href="{% url 'view_collection' matrix.last_used_collection.id %}"><button class="button-mini button-view"><i class="fa fa-eye"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

    		         {% endif %}

	            {% endif %}

            {% endfor %}

            {% for collection in collection_list %}

	            {% if matrix.has_last_used_collection == True %}

		            {% if matrix.last_used_collection.id == collection.collection_id %}

    		        {% else %}

	    		        {% if collection.collection_owner == credential_flag %}

		    		        {% if collection.collection_active == True %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

			    	        {% else %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button> ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

				            {% endif %}

    			        {% else %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button-mini button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

    			        {% endif %}

	    	        {% endif %}

	            {% else %}

		            {% if collection.collection_owner == credential_flag %}

			            {% if collection.collection_active == True %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

    			        {% else %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

	    		        {% endif %}

		            {% else %}

				<a href="{% url 'choose_collection' matrix.id collection.collection_id %}"><button class="button button-delete"><i class="fa fa-check-square"></i></button>  ({{ collection.collection_owner }}), {{ collection.collection_title|truncatechars:25 }}</a>

		            {% endif %}

    	        {% endif %}

            {% endfor %}

        {% endif %}

			</div>
		  </div>
		</div>
	  </div>
	</div>

        {% if collection_image_list %}

            {% for image in collection_image_list %}

	            {% if authority.is_viewer %}

	<div class="collection-item" id="image_{{ image.id }}">
	  <div class="collection-image">

    	        {% else %}

	<div class="collection-item" draggable="true" ondragstart="drag(event)" id="image_{{ image.id }}">
	  <div class="collection-image">

		  			{% csrf_token %}

		        {% endif %}

		<a href="{{ image.viewer_url }}" target="_blank"><img alt="{{ image.name }}" title="{{ image.name }}" class="image-holder" src="{{ image.birdseye_url }}"> </a>

	  </div>
	</div>

            {% endfor %}

        {% else %}

            {% if matrix.has_last_used_collection == True %}

	<div class="collection-item">
	  <div class="collection-image">
		<button class="basket-button button-info"><i class="fa fa-eye-slash"></i></button>
	  </div>
	</div>

            {% endif %}

        {% endif %}

  </div>
</div>

<!-- The Bench -->


    {% endif %}

{% endif %}

<div class="page-content">

        {% if rows %}

	        {% for row in rows %}

  <div class="flex-bench-container">

		        {% for column in columns %}

    			    {% with matrix_cell=matrix_cells|index:forloop.parentloop.counter0|index:forloop.counter0 %}


				        {% if matrix_cell.is_master %}

    <div class="flex-bench-item" id="{{ matrix_cell.id }}">
      <div class="master-cell">
        <div class="master-cell-control">
          <div class="bench-dropdown">
            <button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">
					        {% if authority.is_viewer %}

              <a href="{% url 'detail_matrix' matrix.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span>View Bench Details</a>

    					    {% else %}

			  <a href="{% url 'detail_matrix' matrix.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span>View Bench Details</a>
			  <a href="{% url 'edit_matrix' matrix.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Bench Details</a>

	    				    {% endif %}

		    			    {% if matrix_link != '' %}

			    			    {% if matrix.blogpost != '' %}

			  <a href="#popup_bench"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>View Bench Commentary</em></a>
			  <a href="{% url 'detail_matrix_blog' matrix.id %}" target="_blank"><i class="fa fa-edit"></i><span class="menu-item">&#9;</span>Edit Bench Commentary</a>

				    		    {% endif %}

					        {% endif %}

    					    {% if authority.is_viewer %}

	    				    {% else %}

			  <a href="{% url 'delete_matrix' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>DELETE Bench </a>
			  <a href="{% url 'append_column' matrix.id %}"><i class="fa fa-angle-double-right"></i><span class="menu-item">&#9;</span>APPEND Column</a>
			  <a href="{% url 'delete_last_column' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last COLUMN?')"><i class="fa fa-angle-double-left"></i><span class="menu-item">&#9;</span>Delete LAST Column</a>
			  <a href="{% url 'append_row' matrix.id %}"><i class="fa fa-angle-double-down"></i><span class="menu-item">&#9;</span>APPEND Row</a>
			  <a href="{% url 'delete_last_row' matrix.id %}" onclick="return confirm('Are you sure you want to DELETE the last ROW?')"><i class="fa fa-angle-double-up"></i><span class="menu-item">&#9;</span>Delete LAST Row</a>

		    			    {% endif %}

            </div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of master-cell-control -->
      </div><!-- End of master-cell -->
    </div><!-- End of flex-bench-item -->

			    	    {% endif %}

<!-- Row Header Cells -->

				        {% if matrix_cell.is_column_header and not matrix_cell.is_row_header %}

<!-- The Bottom-Most Row Header Cell -->

					        {% if matrix.get_max_row == matrix_cell.ycoordinate %}

    <div class="flex-bench-item" id="BMRHC_{{ matrix_cell.id }}">

								{% csrf_token %}

      <div class="bottom-right-cell" id="BMRHC_{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">

      </div><!-- End of bottom-right-cell -->
    </div><!-- End of flex-bench-item -->

		    			    {% endif %}

<!-- The Other Row Header Cells -->

    					    {% if matrix.get_max_row != matrix_cell.ycoordinate %}

      <div class="flex-bench-item" id="ORHC_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">

		  						{% csrf_token %}

      <div class="row-header-cell" style="height:{{ matrix.height }}px;" id="ORHC_{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">
        <div class="row-header-cell-title" id="ORHC_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">{{ matrix_cell.title|truncatechars:15 }}
        </div><!-- End of row-header-cell-title -->
        <div class="row-header-cell-control" id="ORHC_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">
          <div class="bench-dropdown" id="ORHC_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">
            <button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">

								{% if authority.is_viewer %}

			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

								{% else %}

			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>
			  <a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Column Header</a>
			  <a href="{% url 'add_row_above' matrix.id forloop.parentloop.counter0	%}"><i class="fa fa-angle-up"></i><span class="menu-item">&#9;</span>Add Row Above</a>
			  <a href="{% url 'delete_this_row' matrix.id forloop.parentloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this ROW?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>Delete This Row</a>
		      <a href="{% url 'add_row_below' matrix.id forloop.parentloop.counter0 %}"><i class="fa fa-angle-down"></i><span class="menu-item">&#9;</span>Add Row Below</a>

								{% endif %}

            </div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of row-header-cell-control -->
      </div><!-- End of row-header-cell -->
    </div><!-- End of flex-bench-item -->

				    	    {% endif %}

    				    {% endif %}


<!-- Column Header Cells -->

	    			    {% if not matrix_cell.is_column_header and matrix_cell.is_row_header %}

<!-- The Right-Most Column Header Cell -->

		    			    {% if matrix.get_max_column == matrix_cell.xcoordinate %}

    <div class="flex-bench-item" id="RMCHC_{{ matrix_cell.id }}">
      <div class="column-header-right-cell" id="RMCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">

      </div><!-- End of column-header-right-cell -->
    </div><!-- End of flex-bench-item -->

    					    {% endif %}

<!-- The Other Column Header Cells -->

	    				    {% if matrix.get_max_column != matrix_cell.xcoordinate %}

    <div class="flex-bench-item" id="OCHC_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">

								{% csrf_token %}

      <div class="column-header-cell" style="width:{{ matrix.width }}px;" id="OCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">
        <div class="column-header-cell-title" style="width:{{ matrix.width|add:"-62"  }}px;" id="OCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">{{ matrix_cell.title|truncatechars:15 }}
        </div><!-- End of column-header-cell-title -->
        <div class="column-header-cell-control" id="OCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">
          <div class="bench-dropdown" id="OCHC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">
            <button class="bench-drop-button"><i class="fas fa-bars"></i></button>
            <div class="bench-dropdown-content">

								{% if authority.is_viewer %}

			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

								{% else %}

			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>
			  <a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Column Header</a>
			  <a href="{% url 'add_column_left' matrix.id forloop.counter0	%}"><i class="fa fa-angle-left"></i><span class="menu-item">&#9;</span>Add Column Left</a>
			  <a href="{% url 'delete_this_column' matrix.id forloop.counter0 %}" onclick="return confirm('Are you sure you want to DELETE this COLUMN?')"><i class="fa fa-trash-alt"></i><span class="menu-item">&#9;</span>Delete This Column</a>
              <a href="{% url 'add_column_right' matrix.id forloop.counter0 %}"><i class="fa fa-angle-right"></i><span class="menu-item">&#9;</span>Add Column Right</a>

								{% endif %}

            </div><!-- End of bench-dropdown-content -->
          </div><!-- End of bench-dropdown -->
        </div><!-- End of column-header-cell-control -->
      </div><!-- End of column-header-cell -->
    </div><!-- End of flex-bench-item -->

					        {% endif %}

    				    {% endif %}

<!-- Non Header Cells -->

	    			    {% if not matrix_cell.is_column_header and not matrix_cell.is_row_header %}

<!-- Ordinary Cells -->

		    			    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}

							{% if authority.is_viewer %}

    <div class="flex-bench-item" id="cell_{{ matrix_cell.id }}">

							{% else %}

	<div class="flex-bench-item" id="cell_{{ matrix_cell.id }}" draggable="true" ondragstart="drag(event)">

								{% csrf_token %}

							{% endif %}

	  <div class="cell" id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width }}px; height:{{ matrix.height }}px;" ondrop="drop(event)" ondragover="allowDrop(event)" >
        <div id="cell_{{ matrix_cell.id }}" class="cell-title"  style="width:{{ matrix.width|add:"-62" }}px;">{{ matrix_cell.title|truncatechars:15 }}
        </div><!-- End of cell-title -->
        <div id="cell_{{ matrix_cell.id }}" class="cell-control" ondrop="drop(event)" ondragover="allowDrop(event)">
          <div id="cell_{{ matrix_cell.id }}" class="cell-dropdown" ondrop="drop(event)" ondragover="allowDrop(event)">
            <button class="cell-drop-button"><i class="fas fa-bars"></i></button>
            <div class="cell-dropdown-content">

    						    {% if authority.is_viewer %}

			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>

	    					    {% else %}

  			  <a href="{% url 'view_cell' matrix.id matrix_cell.id %}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>{{ matrix_cell.title|truncatechars:15 }}</em></a>
			  <a href="{% url 'edit_cell' matrix.id matrix_cell.id %}"><i class="fa fa-pencil-alt"></i><span class="menu-item">&#9;</span>Edit Cell</a>
			  <a href="{% url 'update_cell' matrix.id matrix_cell.id %}"><i class="fa fa-search"></i><span class="menu-item">&#9;</span>Update Cell</a>

		    				    {% endif %}

			  <a href="#popup_{{ matrix_cell.id }}"><i class="fa fa-eye"></i><span class="menu-item">&#9;</span><em>View Commentary</em></a>

			    			    {% if matrix_link != '' %}

				    			    {% if matrix_cell.blogpost != '' %}

			  <a href="{% url 'view_cell_blog' matrix.id matrix_cell.id %}" target="_blank"><i class="fa fa-edit"></i><span class="menu-item">&#9;</span>Edit Commentary</a>

					    		    {% endif %}

    						    {% endif %}

            </div><!-- End of cell-dropdown-content -->
          </div><!-- End of cell-dropdown -->
        </div><!-- End of cell-control -->
        <div id="cell_{{ matrix_cell.id }}" class="cell-body" style="width:{{ matrix.width|add:"-6" }}px; height:{{ matrix.height|add:"-32" }}px;" ondrop="drop(event)" ondragover="allowDrop(event)">

	    					    {% if matrix_cell.image %}

		    					    {% if matrix_cell.image.roi == 0 %}

          <a id="cell_{{ matrix_cell.id }}" class="cell-image" href="{{ matrix_cell.image.viewer_url }}" target="_blank" ondrop="drop(event)" ondragover="allowDrop(event)">
            <img id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width|add:"-32" }}px; height:{{ matrix.height|add:"-32" }}px;" alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" src="{{ matrix_cell.image.birdseye_url }}" ondrop="drop(event)" ondragover="allowDrop(event)">
          </a>

			    				    {% else %}

		  <a id="cell_{{ matrix_cell.id }}" class="cell-image" href="{{ matrix_cell.image.viewer_url }}" target="_blank" ondrop="drop(event)" ondragover="allowDrop(event)">
		    <img id="cell_{{ matrix_cell.id }}" style="width:{{ matrix.width|add:"-32" }}px; height:{{ matrix.height|add:"-32" }}px;" alt="{{ matrix_cell.image.name }}" title="{{ matrix_cell.image.name }}" src="{{ matrix_cell.image.birdseye_url }}" ondrop="drop(event)" ondragover="allowDrop(event)">
		  </a>

				    			    {% endif %}

					    	    {% else %}

		  <a id="cell_{{ matrix_cell.id }}" class="cell-image" style="top: 10%;" href="https://www.ed.ac.uk/comparative-pathology" ondrop="drop(event)" ondragover="allowDrop(event)">
		    <img id="cell_{{ matrix_cell.id }}" alt="The Centre for Comparative Pathology" title="The Centre for Comparative Pathology" style="width:{{ matrix.width|add:"-20" }}px;" src="/static/ccp-logo.png" ondrop="drop(event)" ondragover="allowDrop(event)">
		  </a>

						        {% endif %}

        </div><!-- End of cell-body -->
      </div><!-- End of cell -->
    </div><!-- End of flex-bench-item -->


    					    {% endif %}

<!-- Right-Most Footer Cells -->

	    				    {% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row != matrix_cell.ycoordinate %}

    <div class="flex-bench-item" id="RMFC_{{ matrix_cell.id }}">

								{% csrf_token %}

      <div class="row-footer-cell" style="height:{{ matrix.height }}px;" id="RMFC_{{ matrix_cell.id }}" ondrop="dropCol(event)" ondragover="allowColDrop(event)">
      </div><!-- bottom-right-cell -->
    </div><!-- End of flex-bench-item -->

    					    {% endif %}

<!-- Bottom-Most Footer Cells -->

	    				    {% if matrix.get_max_column != matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}

    <div class="flex-bench-item" id="BMFC_{{ matrix_cell.id }}">

								{% csrf_token %}

      <div class="column-footer-cell" style="width:{{ matrix.width }}px;" id="BMFC_{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">
      </div><!-- column-footer-cell -->
    </div><!-- End of flex-bench-item -->

    					    {% endif %}

<!-- Bottom-Most and Right-Most Footer Cell -->

	    				    {% if matrix.get_max_column == matrix_cell.xcoordinate and matrix.get_max_row == matrix_cell.ycoordinate %}

    <div class="flex-bench-item" id="BMRMFC_{{ matrix_cell.id }}">

								{% csrf_token %}

      <div class="bottom-right-cell" id="BMRMFC_{{ matrix_cell.id }}" ondrop="dropRow(event)" ondragover="allowRowDrop(event)">
      </div><!-- bottom-right-cell -->
    </div><!-- End of flex-bench-item -->

    					    {% endif %}

	    			    {% endif %}

    			    {% endwith %}

    		    {% endfor %}

  </div><!-- End of flex-bench-container -->

    	    {% endfor %}


<!-- There are NO Cells - This should not happen! -->

        {% else %}

        {% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

<script type="text/javascript">

function confirmation(question, source_type) {

	var defer = $.Deferred();

	if (source_type == "cell") {

		$('<div></div>')
			.html(question)
			.dialog({
				autoOpen: true,
				modal: true,
				title: 'Confirmation',
				buttons: {
					"SWAP": function () {
						defer.resolve("swap");
						$(this).dialog("close");
						window.location.reload();
					},
					"MOVE": function () {
						defer.resolve("overwrite");
						$(this).dialog("close");
						window.location.reload();
					},
					"COPY": function () {
						defer.resolve("overwrite_leave");
						$(this).dialog("close");
						window.location.reload();
					},
					"CLOSE": function () {
						$(this).dialog('destroy').remove();
						window.location.reload();
					}
				},
				close: function () {
					$(this).dialog('destroy').remove();
					window.location.reload();
				}
			});

	}

	if (source_type == "image") {

		$('<div></div>')
			.html(question)
			.dialog({
				autoOpen: true,
				modal: true,
				title: 'Confirmation',
				buttons: {
					"MOVE": function () {
						defer.resolve("move");
						$(this).dialog("close");
						window.location.reload();
					},
					"CLOSE": function () {
						$(this).dialog('destroy').remove();
						window.location.reload();
					}
				},
				close: function () {
					$(this).dialog('destroy').remove();
					window.location.reload();
				}
			});
	}

	return defer.promise();
}


function onclick(source, target, source_type){

	var question = "";

   	if (source_type == "cell") {

		question = "Do you want to SWAP Cells, MOVE or COPY the Source Cell to the Target Cell?";
	}

	if (source_type == "image") {

		question = "Do you want to MOVE this Image to this CELL?";
	}

	//console.log("source_type : " + source_type);

	confirmation(question, source_type).then(function (answer) {

		//console.log("answer : " + answer);

		if (answer == "swap"){

			$.ajax({
				url: '{% url 'swap_cells' %}',
				data: {
						'source': source,
						'target': target,
						'source_type': source_type,
						csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				type: 'post',
				success: function (data) {
					//console.log("Cell Swap SUCCESS! Source: " + data.source + "  Target: " + data.target);
					if (data.failure) {
						alert("Cell Swap Failed! Source: " + data.source + "  Target: " + data.target);
					}
				}
			});
		}

		if (answer == "overwrite"){

			$.ajax({
				url: '{% url 'overwrite_cell' %}',
				data: {
					'source': source,
					'target': target,
					'source_type': source_type,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				type: 'post',
				success: function (data) {
					if (data.failure) {
						alert("Cell Overwrite Failed! Source: " + data.source + "  Target: " + data.target);
					}
				}
			});
		}

		if (answer == "move"){

			$.ajax({
				url: '{% url 'import_image' %}',
				data: {
					'source': source,
					'target': target,
					'source_type': source_type,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				type: 'post',
				success: function (data) {
					//console.log("Image Import SUCCESS! Source: " + data.source + "  Target: " + data.target);
					if (data.failure) {
						alert("Image Import Failed! Source: " + data.source + "  Target: " + data.target);
					}
					window.location.reload();
				}
			});

		}

		if (answer == "overwrite_leave"){

			$.ajax({
				url: '{% url 'overwrite_cell_leave' %}',
				data: {
					'source': source,
					'target': target,
					'source_type': source_type,
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				dataType: 'json',
				type: 'post',
				success: function (data) {
					if (data.failure) {
						alert("Cell Overwrite and Leave Failed! Source: " + data.source + "  Target: " + data.target);
					}
				}
			});
		}
	});
}


function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev){

	ev.preventDefault();

	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];
	//console.log("source_id : " + source_id);
	//console.log("source_type : " + source_type);

	const data = ev.target;
	//console.log("data : " + data);

	var tgt = ev.target;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//console.log("target_id : " + target_id);
	//console.log("target_type : " + target_type);

	//ev.currentTarget.replaceChild(src, tgt);
	//srcParent.appendChild(tgt);

	onclick(source_id, target_id, source_type);


	window.location.reload();
}

function allowColDrop(ev){
	ev.preventDefault();
}

function dragCol(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropCol(ev){

	ev.preventDefault();
	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	//console.log("dropCol");

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];
	//console.log("source_id : " + source_id);
	//console.log("source_type : " + source_type);

	var tgt = ev.target;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//console.log("target_id : " + target_id);
	//console.log("target_type : " + target_type);

	if (source_type == "OCHC" && target_type != "BMRMFC"){

		//console.log("source type Allowed : " + source_type);
		//console.log("target type Allowed : " + target_type);

		$.ajax({
			url: '{% url 'shuffle_columns' %}',
			data: {
				'source': source_id,
				'target': target_id,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			dataType: 'json',
			type: 'post',
			success: function (data) {
				if (data.failure) {
					alert("Column Shuffle Failed! Source: " + data.source + "  Target: " + data.target);
				}
				window.location.reload();
			}
		});

	} else {

		//console.log("source type NOT Allowed : " + source_type);
		//console.log("target type NOT Allowed : " + target_type);
	}

	if (source_type == "cell" && target_type != "BMRMFC"){

		//console.log("source type Allowed : " + source_type);
		//console.log("target type Allowed : " + target_type);

		$.ajax({
			url: '{% url 'shuffle_columns' %}',
			data: {
				'source': source_id,
				'target': target_id,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			dataType: 'json',
			type: 'post',
			success: function (data) {
				if (data.failure) {
					alert("Column Shuffle Failed! Source: " + data.source + "  Target: " + data.target);
				}
				window.location.reload();
			}
		});

	} else {

		//console.log("source type NOT Allowed : " + source_type);
		//console.log("target type NOT Allowed : " + target_type);
	}
}

function allowRowDrop(ev){
	ev.preventDefault();
}

function dragRow(ev){
	ev.dataTransfer.setData("Text",ev.target.id);
}

function dropRow(ev){

	ev.preventDefault();
	var src = document.getElementById(ev.dataTransfer.getData("Text"));
	var srcParent = src.parentNode;

	//console.log("dropRow");

	var source_array = src.id.split("_",2);
	var source_id = source_array[1];
	var source_type = source_array[0];
	//console.log("source_id : " + source_id);
	//console.log("source_type : " + source_type);

	var tgt = ev.target;
	var target_array = tgt.id.split("_",2);
	var target_id = target_array[1];
	var target_type = target_array[0];

	//console.log("target_id : " + target_id);
	//console.log("target_type : " + target_type);

	if (source_type == "ORHC" && target_type != "BMRMFC"){

		//console.log("source type Allowed : " + source_type);
		//console.log("target type Allowed : " + target_type);

		$.ajax({
			url: '{% url 'shuffle_rows' %}',
			data: {
				'source': source_id,
				'target': target_id,
			  	csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			dataType: 'json',
			type: 'post',
			success: function (data) {
				if (data.failure) {
					alert("Row Shuffle Failed! Source: " + data.source + "  Target: " + data.target);
				}
				window.location.reload();
			}
		});
	} else {

		//console.log("source type NOT Allowed : " + source_type);
		//console.log("target type NOT Allowed : " + target_type);
	}

	if (source_type == "cell" && target_type != "BMRMFC"){

		//console.log("source type Allowed : " + source_type);
		//console.log("target type Allowed : " + target_type);

		$.ajax({
			url: '{% url 'shuffle_rows' %}',
			data: {
				'source': source_id,
				'target': target_id,
			  	csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			dataType: 'json',
			type: 'post',
			success: function (data) {
				if (data.failure) {
					alert("Row Shuffle Failed! Source: " + data.source + "  Target: " + data.target);
				}
				window.location.reload();
			}
		});
	} else {

		//console.log("source type NOT Allowed : " + source_type);
		//console.log("target type NOT Allowed : " + target_type);
	}
}

</script>

{% inlineedit_script %}

{% endblock %}
