<!--
\file		  view_image_link.html
\author	      Mike Wicks
\date		  March 2021
\version	  $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The amend cell template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% load inlineedit %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li>
				<a href="{% url 'view_all_image_links' %}">ALL Image Links</a>
			</li>
			<li>
				<a href="{% url 'link_images' 0 0 %}">Link Images</a>
			</li>
			<li>An Image Link</li>
			<li>
				{{ image_link.id  }}
			</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">


<!-- Page Side Bar -->
<div class="page-sidebar" style="overflow-y: scroll;">

</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">
{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="panel-alert">
    <p>{{ message }}</p>
  </div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="panel-success">
	<p>{{ message }}</p>
  </div>
		{% endif %}
    {% endfor %}
{% endif %}

  <h1>Image Link {{ image_link.id }}</h1>
  <p>An Image Link</p>
  <hr>
  <br />

  <!-- <div class="flex-bench-container"> -->
  <div>

	  <ul class="cell-list">
		<li>
			<div class="cell-image-gallery">
  				<div class="cell-container-gallery">
				  <h3>Image A</h3>

				  <div id="image_parent">
			  	  	<div id="image_parent">
			  	  	  <div class="cell" id="image_parent" style="width: 384px; height: 384px;">
			  	  	    <div id="image_parent" class="cell-body" style="top: 12px; left: 12px; width: 350px; height: 350px;">
{% if image_link.parent_image.server.is_accessible %}
	{% if request.get_host == 'localhost:8000' %}
						  <div id="I_{{ image_link.parent_image.id }}_{{ image_link.parent_image.server.uid }}@{{ image_link.parent_image.server.url_server }}" class="loginStatus_out">
							<a href="https://{{ image_link.parent_image.server.url_server }}/webclient/login/?url=http://{{ request.get_host }}{% url 'view_image_link' image_link.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
						  </div>
						  <div id="O_{{ image_link.parent_image.id }}_{{ image_link.parent_image.server.uid }}@{{ image_link.parent_image.server.url_server }}" class="loginStatus_in">
							<a href="{{ image_link.parent_image.viewer_url }}" target="_blank"><img id="image_{{ image_link.parent_image.id }}" alt="{{ image_link.parent_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.parent_image.name }}" class="image-holder" src="{{ image_link.parent_image.birdseye_url }}"> </a>
						  </div>
	{% else %}
						  <div id="I_{{ image_link.parent_image.id }}_{{ image_link.parent_image.server.uid }}@{{ image_link.parent_image.server.url_server }}" class="loginStatus_out">
							<a href="https://{{ image_link.parent_image.server.url_server }}/webclient/login/?url=https://{{ request.get_host }}{% url 'view_image_link' image_link.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
						  </div>
						  <div id="O_{{ image_link.parent_image.id }}_{{ image_link.parent_image.server.uid }}@{{ image_link.parent_image.server.url_server }}" class="loginStatus_in">
							<a href="{{ image_link.parent_image.viewer_url }}" target="_blank"><img id="image_{{ image_link.parent_image.id }}" alt="{{ image_link.parent_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.parent_image.name }}" class="image-holder" src="{{ image_link.parent_image.birdseye_url }}"> </a>
						  </div>
	{% endif %}
{% else %}
				          <a href="{{ image_link.parent_image.viewer_url  }}" target="_blank"><img alt="{{ image_link.parent_image.name }}" title="{{ image_link.parent_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.parent_image.name }}" src="{{ image_link.parent_image.birdseye_url }}" ></a>
{% endif %}
			  	  		</div>
			  	  	  </div>
			  	  	</div>
			  	  </div>

				  <br />
{% if image_link.parent_image.server.type.name == 'WORDPRESS' %}
		  		  <a href="{% url 'webgallery_show_wordpress_image' image_link.parent_image.server.id image_link.parent_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.parent_image.server.type.name == 'OMERO_5.4.7' %}
		  		  <a href="{% url 'webgallery_show_image' image_link.parent_image.server.id image_link.parent_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.parent_image.server.type.name == 'EBI_SCA' %}
		  		  <a href="{% url 'webgallery_show_ebi_sca_image' image_link.parent_image.server.id image_link.parent_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.parent_image.server.type.name == 'CPW' %}
		  		  <a href="{% url 'webgallery_show_cpw_image' image_link.parent_image.server.id image_link.parent_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
  			    </div>
				<br />
  			</div>
		</li>
  		<li>
			<div class="cell-image-gallery">
  				<div class="cell-container-gallery">
				  <h3>Image B</h3>

				  <div id="image_child">
			  	  	<div id="image_child">
			  	  	  <div class="cell" id="image_child" style="width: 384px; height: 384px;">
			  	  	    <div id="image_child" class="cell-body" style="top: 12px; left: 12px; width: 350px; height: 350px;">
{% if image_link.child_image.server.is_accessible %}
	{% if request.get_host == 'localhost:8000' %}
						  <div id="I_{{ image_link.child_image.id }}_{{ image_link.child_image.server.uid }}@{{ image_link.child_image.server.url_server }}" class="loginStatus_out">
							<a href="https://{{ image_link.child_image.server.url_server }}/webclient/login/?url=http://{{ request.get_host }}{% url 'view_image_link' image_link.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
						  </div>
						  <div id="O_{{ image_link.child_image.id }}_{{ image_link.child_image.server.uid }}@{{ image_link.child_image.server.url_server }}" class="loginStatus_in">
							<a href="{{ image_link.child_image.viewer_url }}" target="_blank"><img id="image_{{ image_link.child_image.id }}" alt="{{ image_link.child_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.child_image.name }}" class="image-holder" src="{{ image_link.child_image.birdseye_url }}"> </a>
						  </div>
	{% else %}
						  <div id="I_{{ image_link.child_image.id }}_{{ image_link.child_image.server.uid }}@{{ image_link.child_image.server.url_server }}" class="loginStatus_out">
							<a href="https://{{ image_link.child_image.server.url_server }}/webclient/login/?url=https://{{ request.get_host }}{% url 'view_image_link' image_link.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
						  </div>
						  <div id="O_{{ image_link.child_image.id }}_{{ image_link.child_image.server.uid }}@{{ image_link.child_image.server.url_server }}" class="loginStatus_in">
							<a href="{{ image_link.child_image.viewer_url }}" target="_blank"><img id="image_{{ image_link.child_image.id }}" alt="{{ image_link.child_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.child_image.name }}" class="image-holder" src="{{ image_link.child_image.birdseye_url }}"> </a>
						  </div>
	{% endif %}
{% else %}
				          <a href="{{ image_link.child_image.viewer_url  }}" target="_blank"><img alt="{{ image_link.child_image.name }}" title="{{ image_link.child_image.name }}" style="width:350px; height:350px; float: left" title="{{ image_link.child_image.name }}" src="{{ image_link.child_image.birdseye_url }}" ></a>
{% endif %}
			  	  		</div>
			  	  	  </div>
			  	  	</div>
			  	  </div>

				  <br />
{% if image_link.child_image.server.type.name == 'WORDPRESS' %}
				  <a href="{% url 'webgallery_show_wordpress_image' image_link.child_image.server.id image_link.child_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.child_image.server.type.name == 'OMERO_5.4.7' %}
				  <a href="{% url 'webgallery_show_image' image_link.child_image.server.id image_link.child_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.child_image.server.type.name == 'EBI_SCA' %}
				  <a href="{% url 'webgallery_show_ebi_sca_image' image_link.child_image.server.id image_link.child_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
{% if image_link.child_image.server.type.name == 'CPW' %}
				  <a href="{% url 'webgallery_show_cpw_image' image_link.child_image.server.id image_link.child_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
{% endif %}
  			    </div>
				<br />
  			</div>
  		</li>
		<li>
			<div class="cell-image-gallery" style="width: 600px;">
  				<div class="cell-container-gallery">
					<h3>Supplementary Information</h3>

					<dl class="artefact">
						<dt>Comment</dt>
						<dd>{% inlineedit "image_link.artefact.comment" "blocked" %}</dd>
						<dt>Uploaded</dt>
						<dd>{{ image_link.artefact.uploaded_at }}</dd>
						<dt>Attachment</dt>
						<dd>
{% if image_link.artefact.has_location %}
							<a href="{{ image_link.artefact.url }}">{{ image_link.artefact.get_location_minus_path }}</a>
{% else %}
							No Attachment!
{% endif %}
						</dd>
					</dl>

  			    </div>
  				<br />
  			</div>
  		</li>
  	</ul>

  </div><!-- End of amend-cell-container -->
  <br />

</div><!-- End of page-content -->

</div><!-- End of page-body -->


{% block extrajs %}

<script type="text/javascript">

// FUNCTION
async function makeJSONRequest(method, url, data) {

    const options = {
        method: method, // *GET, POST, PUT, DELETE, etc.
        credentials: 'include', // include, *same-origin, omit
    }

    if (method == 'POST') {

        const csrf_token = getCookie('csrftoken');

        options.headers = {
            'x-csrftoken': csrf_token
        }
    }

    if (data) {

        options.body = data;
    }

    // Do the fetch and check status...
    const response = await fetch(url, options);

    if (response.status != 200) {

        throw response;
    }

    // If OK, parse JSON response into native JavaScript objects
    return response.json();
}


// FUNCTION
function getCookie(name) {

    var cookieValue = null;

    if (document.cookie && document.cookie != '') {

        var cookies = document.cookie.split(';');

        for (var i = 0; i < cookies.length; i++) {

            var cookie = cookies[i].trim();

            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {

                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


// FUNCTION
function getParameterByName(name, url = window.location.href) {

    name = name.replace(/[\[\]]/g, '\\$&');

    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);

    if (!results) return null;

    if (!results[2]) return '';

    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}


// FUNCTION
async function loginStatusPresent(divname) {

    var projects_url = getUrl('url:projects');

    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

	    document.getElementById(divname).style.display = 'display';

		console.log("loginStatusPresent : " + divname + " ; display" )

    }).catch(rsp => {

		console.log("loginStatusPresent : " + divname + " ; none" )

		document.getElementById(divname).style.display = 'none';
    });

}


// FUNCTION
async function loginStatusAbsent(divname) {

    var projects_url = getUrl('url:projects');

    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

		console.log("loginStatusAbsent : " + divname + " ; none" )

	    document.getElementById(divname).style.display = 'none';

    }).catch(rsp => {

		console.log("loginStatusAbsent : " + divname + " ; display" )

		document.getElementById(divname).style.display = 'display';
    });

}


// FUNCTION
async function server_present(server_url, divname) {

    // List of supported versions
    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

    // Get base_url from last version in the list
    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
    latest_base_url = versions[versions.length - 1]["url:base"]

    // Get the list of top-level urls as starting points,
    base_urls = await makeJSONRequest('GET', latest_base_url);

    // Also get CSRF token needed for any POST requests (login, logout etc)
    // Header of this response sets a cookie. NB: We can ingore the response JSON
    await makeJSONRequest('GET', getUrl('url:token'));

    // Try to load Projects (will show Login form if we're not logged in)
    loginStatusPresent(divname);
}


// FUNCTION
async function server_absent(server_url, divname) {

    // List of supported versions
    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

    // Get base_url from last version in the list
    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
    latest_base_url = versions[versions.length - 1]["url:base"]

    // Get the list of top-level urls as starting points,
    base_urls = await makeJSONRequest('GET', latest_base_url);

    // Also get CSRF token needed for any POST requests (login, logout etc)
    // Header of this response sets a cookie. NB: We can ingore the response JSON
    await makeJSONRequest('GET', getUrl('url:token'));

    // Try to load Projects (will show Login form if we're not logged in)
    loginStatusAbsent(divname);
}


// FUNCTION
function getUrl(name) {

    return base_urls[name];
}


// MAINLINE

// When page first loads, if we have a server...
//const server_url = getParameterByName("server");

collection_in = document.getElementsByClassName("loginStatus_in");

for (var i = 0; i < collection_in.length; i++) {

	nodeHTML = collection_in[i];
	text = nodeHTML.id;
	//console.log("IN text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_present(server_url, nodeHTML.id);
}

collection_out = document.getElementsByClassName("loginStatus_out");

for (var i = 0; i < collection_out.length; i++) {

	nodeHTML = collection_out[i]
	text = nodeHTML.id;
	//console.log("OUT text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_absent(server_url, nodeHTML.id);
}

</script>

{% endblock extrajs %}

{% inlineedit_script %}

{% endblock %}
