<!--
\file         view_collection.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view collection template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'list_collections' %}">List Collections</a>
		</li>

		<li>
			ALL Collections
		</li>

		<li>
			Images
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div id="search-source-container" class="standard-grid-container">

	<div id="search-source-left" class="standard-grid-item">
	</div>

	<div id="search-source-middle" class="standard-grid-item">

		<h1>Search Sources</h1>

		<p>Search the sources with a URL (OMERO sources ONLY!):</p>

		<form action="{% url 'search_image' search_from 0 %}" method="post">

			{% csrf_token %}

			{% include 'includes/form.html' %}

		</form>

		<br />
		<hr>
		<br />

	</div>

	<div id="search-source-right" class="standard-grid-item">
	</div>

</div>

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>All Collections</h1>

		<p>You can view {{ image_list|length }} Images from {{ collection_list|length }} Collections</p>

		<hr>

		<br />

{% if credential_flag %}

	{% if image_list %}

		{% for image in image_list %}

			{% if forloop.first %}

	    <table border="0">

        	<tr>
    	        <th width="100px">Action</th>
	            <th width="100px">ROI</th>
            	<th width="350px">Server</th>
        	    <th>Image</th>
				<th width="350px">Collection</th>
				<th width="350px">Bench</th>
			</tr>

	        <tr>
        	    <td>&nbsp;</td>
				<td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
            	<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			{% endif %}

    	    <tr>

	            <td style="vertical-align: top;">

			{% if image.server.type.name == 'WORDPRESS' %}

					<a href="{% url 'webgallery_show_wordpress_image' image.server.id image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% else %}

					<a href="{% url 'webgallery_show_image' image.server.id image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% endif %}

			{% if image.owner.username == credential_flag %}

					<br />

					<a href="{% url 'webgallery_delete_image' image.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>

			{% endif %}

	            </td>

			{% if image.roi == 0 %}

            	<td>&nbsp;</td>

			{% else %}

        	    <td style="vertical-align: top;">
    	        	<strong>ROI</strong>
	            </td>

			{% endif %}

            	<td style="vertical-align: top;">
            		{{ image.server.name }}<br />({{ image.server.url_server }})
        	    </td>

    	        <td style="vertical-align: top;">
					<a href="{{ image.viewer_url  }}" target="_blank"><img alt="{{ image.name }}" title="{{ image.name }}" style="width:256px; height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" ></a>
        	    </td>

				<td style="vertical-align: top;">

			{% for collection in image.collections.all %}

					<a href="{% url 'view_collection' collection.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>  "{{ collection.title }}"<br />(Owned By {{ collection.owner.username }})<br />

			{% endfor %}

				</td>

				<td style="vertical-align: top;">

			{% for cell in image.image.all %}

					<a href="{% url 'matrix' cell.matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>  "{{ cell.matrix.title }}"<br />(Owned By {{ cell.matrix.owner.username }})<br />

			{% endfor %}

				</td>
			</tr>

			{% if forloop.last %}

	        <tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
            	<td>&nbsp;</td>
        	    <td>&nbsp;</td>
    	        <td>&nbsp;</td>
			</tr>

        	<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
			</tr>

	    </table>

			{% endif %}

	    {% endfor %}

	{% else %}

		<p>No Images are available.</p>

	{% endif %}

{% else %}

		<p>No Images are allowed yet.</p>

{% endif %}

	</div>

	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
