<!--
\file         view_collection.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The view collection template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_collections' %}">List Collections</a></li>
			<li><a data-value="{{ collection.id }}" href="#" class="link-button btn btn-primary">Collection {{ collection.id|stringformat:"06d" }}</a></li>
			<li>Images</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	<div class="panel-alert">
		<p>{{ message }}</p>
	</div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	<div class="panel-success">
		<p>{{ message }}</p>
	</div>
		{% endif %}
    {% endfor %}
{% endif %}

	<h1>Search Sources</h1>
	<p>Search the sources with a URL (OMERO source ONLY!):</p>
	<form action="{% url 'search_image' search_from collection.id|stringformat:"06d" %}" method="post">
{% csrf_token %}
{% include 'includes/form.html' %}
	</form>
	<br />
	<hr>
	<br />
	<h1>Collection {{ collection.id|stringformat:"06d" }}, "{{ collection.title }}"</h1>
	<p>You have collected {{ collection_image_list|length }} Images (Owned By {{ collection.owner.username }})</p>
	<hr>
	<br />

{% if collection_image_list %}
	{% for collection_image in collection_image_list %}
		{% if forloop.first %}
	<table border="0">

		<tr>
			<th style="width: 100px; position: sticky; top: 0;">Action</th>
			<th style="width: 100px; position: sticky; top: 0;"">ROI</th>
			<th style="width: 350px; position: sticky; top: 0;">Server</th>
			<th style="position: sticky; top: 0;">Image</th>
			<th style="width: 350px; position: sticky; top: 0;">Collection</th>
			<th style="width: 350px; position: sticky; top: 0;">Bench</th>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endif %}
		<tr>
			<td style="vertical-align: top;">
		{% if collection_image.server.type.name == 'WORDPRESS' %}
				<a href="{% url 'webgallery_show_wordpress_image' collection_image.server.id collection_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
		{% endif %}
		{% if collection_image.server.type.name == 'OMERO_5.4.7' %}
				<a href="{% url 'webgallery_show_image' collection_image.server.id collection_image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
		{% endif %}
		{% if collection_image.server.type.name == 'EBI_SCA' %}
				<a href="{% url 'webgallery_show_ebi_sca_image' collection_image.server.id collection_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
		{% endif %}
		{% if collection_image.server.type.name == 'CPW' %}
				<a href="{% url 'webgallery_show_cpw_image' collection_image.server.id collection_image.name %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
		{% endif %}
		{% if collection_image.owner.username == user.username %}
				<a href="{% url 'webgallery_delete_collection_image' collection.id collection_image.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
		{% endif %}
			</td>
		{% if collection_image.roi == 0 %}
			<td>&nbsp;</td>
		{% else %}
			<td style="vertical-align: top;">
				<strong>ROI</strong>
			</td>
		{% endif %}
			<td style="vertical-align: top;">
				{{ collection_image.server.name }}<br />( {{ collection_image.server.url_server }} )
			</td>
			<td style="vertical-align: top; width:256px;" >
		{% if collection_image.server.is_accessible %}
			{% if request.get_host == 'localhost:8000' %}
				<div id="I_{{ collection_image.id }}_{{ collection_image.server.uid }}@{{ collection_image.server.url_server }}" class="loginStatus_out">
					<a href="https://{{ collection_image.server.url_server }}/webclient/login/?url=http://{{ request.get_host }}{% url 'view_collection' collection.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
				</div>
				<div id="O_{{ collection_image.id }}_{{ collection_image.server.uid }}@{{ collection_image.server.url_server }}" class="loginStatus_in">
					<a href="{{ collection_image.viewer_url }}" target="_blank"><img id="image_{{ collection_image.id }}" alt="{{ collection_image.name }}" style="width:256px; height:256px; float: left" title="{{ collection_image.name }}" class="image-holder" src="{{ collection_image.birdseye_url }}"> </a>
				</div>
			{% else %}
				<div id="I_{{ collection_image.id }}_{{ collection_image.server.uid }}@{{ collection_image.server.url_server }}" class="loginStatus_out">
					<a href="https://{{ collection_image.server.url_server }}/webclient/login/?url=https://{{ request.get_host }}{% url 'view_collection' collection.id %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button></a>
				</div>
				<div id="O_{{ collection_image.id }}_{{ collection_image.server.uid }}@{{ collection_image.server.url_server }}" class="loginStatus_in">
					<a href="{{ collection_image.viewer_url }}" target="_blank"><img id="image_{{ collection_image.id }}" alt="{{ collection_image.name }}" style="width:256px; height:256px; float: left" title="{{ collection_image.name }}" class="image-holder" src="{{ collection_image.birdseye_url }}"> </a>
				</div>
			{% endif %}
		{% else %}
				<a href="{{ collection_image.viewer_url  }}" target="_blank"><img alt="{{ collection_image.name }}" title="{{ collection_image.name }}" style="width:256px; height:256px; float: left" title="{{ collection_image.name }}" src="{{ collection_image.birdseye_url }}" ></a>
		{% endif %}
			</td>
			<td style="vertical-align: top;">
		{% for collection in collection_image.collections.all %}
				<table>
					<tr>
						<td><a href="{% url 'view_collection' collection.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a></td>
						<td>"{{ collection.title }}"<br />(Owned By {{ collection.owner.username }})</td>
					</tr>
				</table>
		{% endfor %}
			</td>
			<td style="vertical-align: top;">
		{% for cell in collection_image.image.all %}
				<table>
					<tr>
						<td><a href="{% url 'matrix' cell.matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a></td>
						<td>"{{ cell.matrix.title }}"<br />(Owned By {{ cell.matrix.owner.username }})</td>
					</tr>
				</table>
		{% endfor %}
			</td>
		</tr>
		{% if forloop.last %}
	</table>
		{% endif %}
	{% endfor %}
{% else %}
	<p>No Images are available.</p>
{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}

{% block extrajs %}

<script language="javascript">

	// FUNCTION
	async function makeJSONRequest(method, url, data) {

	    const options = {
	        method: method, // *GET, POST, PUT, DELETE, etc.
	        credentials: 'include', // include, *same-origin, omit
	    }

	    if (method == 'POST') {

	        const csrf_token = getCookie('csrftoken');

	        options.headers = {
	            'x-csrftoken': csrf_token
	        }
	    }

	    if (data) {

	        options.body = data;
	    }

	    // Do the fetch and check status...
	    const response = await fetch(url, options);

	    if (response.status != 200) {

	        throw response;
	    }

	    // If OK, parse JSON response into native JavaScript objects
	    return response.json();
	}


	// FUNCTION
	function getCookie(name) {

	    var cookieValue = null;

	    if (document.cookie && document.cookie != '') {

	        var cookies = document.cookie.split(';');

	        for (var i = 0; i < cookies.length; i++) {

	            var cookie = cookies[i].trim();



	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {

	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}


	// FUNCTION
	function getParameterByName(name, url = window.location.href) {

	    name = name.replace(/[\[\]]/g, '\\$&');

	    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
	        results = regex.exec(url);

	    if (!results) return null;

	    if (!results[2]) return '';

	    return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}


	// FUNCTION
	async function loginStatusPresent(divname) {

	    var projects_url = getUrl('url:projects');

	    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

			console.log("loginStatusPresent : " + divname + " ; display" );
			document.getElementById(divname).style.display = 'display';

	    }).catch(rsp => {

			console.log("loginStatusPresent : " + divname + " ; none" );
			document.getElementById(divname).style.display = 'none';
	    });

	}


	// FUNCTION
	async function loginStatusAbsent(divname) {

	    var projects_url = getUrl('url:projects');

	    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

			console.log("loginStatusAbsent : " + divname + " ; none" );
		    document.getElementById(divname).style.display = 'none';

	    }).catch(rsp => {

			console.log("loginStatusAbsent : " + divname + " ; display" );
			document.getElementById(divname).style.display = 'display';
	    });

	}


	// FUNCTION
	async function server_present(server_url, divname) {

	    // List of supported versions
	    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

	    // Get base_url from last version in the list
	    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
	    latest_base_url = versions[versions.length - 1]["url:base"]

	    // Get the list of top-level urls as starting points,
	    base_urls = await makeJSONRequest('GET', latest_base_url);

	    // Also get CSRF token needed for any POST requests (login, logout etc)
	    // Header of this response sets a cookie. NB: We can ingore the response JSON
	    await makeJSONRequest('GET', getUrl('url:token'));

	    // Try to load Projects (will show Login form if we're not logged in)
	    loginStatusPresent(divname);
	}


	// FUNCTION
	async function server_absent(server_url, divname) {

	    // List of supported versions
	    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

	    // Get base_url from last version in the list
	    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
	    latest_base_url = versions[versions.length - 1]["url:base"]

	    // Get the list of top-level urls as starting points,
	    base_urls = await makeJSONRequest('GET', latest_base_url);

	    // Also get CSRF token needed for any POST requests (login, logout etc)
	    // Header of this response sets a cookie. NB: We can ingore the response JSON
	    await makeJSONRequest('GET', getUrl('url:token'));

	    // Try to load Projects (will show Login form if we're not logged in)
	    loginStatusAbsent(divname);
	}


	// FUNCTION
	function getUrl(name) {

	    return base_urls[name];
	}


	// MAINLINE

	// When page first loads, if we have a server...
	//const server_url = getParameterByName("server");

	collection_in = document.getElementsByClassName("loginStatus_in");

	for (var i = 0; i < collection_in.length; i++) {

		nodeHTML = collection_in[i];
		text = nodeHTML.id;
		//console.log("IN text : " + text);
		myArray = text.split("@");
		server_url = 'https://' + myArray[1] + '/';

		server_present(server_url, nodeHTML.id);
	}

	collection_out = document.getElementsByClassName("loginStatus_out");

	for (var i = 0; i < collection_out.length; i++) {

		nodeHTML = collection_out[i]
		text = nodeHTML.id;
		//console.log("OUT text : " + text);
		myArray = text.split("@");
		server_url = 'https://' + myArray[1] + '/';

		server_absent(server_url, nodeHTML.id);
	}


    function onLinkButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
            var dialogs = [
                dialog{{ collection.id }}
                ];
                var target = "dialog" + n.toString();
                eval(target).open(event);
	}

    $(document).ready(function() {

        $('.link-button').on('click', onLinkButtonClicked);

        dialog{{ collection.id }} = new Dialog({
            url: "{% url 'collection_read' collection.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Collection {{ collection.id|stringformat:"06d" }} ...',
            button_save_label: null,
            enable_trace: true
        });
    });

</script>

{% endblock extrajs %}
