{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
		
		<li class="breadcrumb-item active">
			People
		</li>
	
	</ol>

<h1>People</h1>

<br />

<p>The Contributors to the Comparative Pathology Workbench Project:</p>

<hr>

<div class="row">

<div class="col-md-4">
    	
<h3>Prof. Mark Arends</h3>

<p><img src="{% static 'profile/prof_mark_arends.jpg' %}" alt="Prof Mark Arends" height=150px></p>

<p><a href="https://www.ed.ac.uk/pathology/people/staff-students/mark-arends">Professor Arends</a>
 directs the <a href="https://www.ed.ac.uk/comparative-pathology">Centre for Comparative Pathology</a> and leads the colorectal
cancer pathology research group, working on animal models of adenomatous polyposis
pathology using well-characterised mouse3, rat4 and pig5 mutant-APC models and human
FAP for cross-species comparison.</p>

</div>

<div class="col-md-4">
		
<h3>Prof. Richard Baldock</h3>

<p><img src="{% static 'profile/prof_richard_baldock.jpg' %}" alt="Prof Richard Baldock" height=150px></p>

<p><a href="https://www.ed.ac.uk/mrc-human-genetics-unit/research/baldock-group">Professor Baldock</a> has led 
the <a href="http://www.emouseatlas.org/emap/home.html">Mouse Atlas programme6</a> at the
<a href="https://www.ed.ac.uk/igmm">IGMM</a> and developed the core concepts used by many spatial atlas resources
internationally, anatomy ontologies and the 3D spatial frameworks and techniques for spatial
data mapping7 and visualisation8.</p>

</div>

<div class="col-md-4">
		
<h3>Prof. Albert Burger</h3>

<p><img src="{% static 'profile/prof_albert_burger.jpg' %}" alt="Prof Albert Burger" height=150px></p>

<p><a href="https://researchportal.hw.ac.uk/en/persons/albert-georg-burger">Professor Albert Burger</a> leads 
the <a href="http://www.macs.hw.ac.uk/bisel/index.shtml">Biomedical Informatics Systems Engineering Lab(BISEL)</a> 
at <a href"https://www.hw.ac.uk/">Heriot- Watt University</a>. He has closely worked with 
the Mouse Atlas program forover 15 years. His research expertise focuses on distributed 
bioinformatics systems, including integration of distributed, heterogeneous databases and 
web service infrastructures.</p>

</div>
	    
</div>

<br />

<hr>

<div class="row">

<div class="col-md-4">

<h3>Dr. Ken Macleod</h3> 

<p><img src="{% static 'profile/dr_ken_macleod.jpg' %}" alt="Dr Ken Macleod" height=150px></p>

<p><a href="https://researchportal.hw.ac.uk/en/persons/kenneth-mcleod">Dr Ken Macleod</a> works 
as a Research Associate with Prof. Burger, in the <a href="http://www.macs.hw.ac.uk/bisel/index.shtml">Biomedical 
Informatics Systems Engineering Lab(BISEL)</a> at <a href"https://www.hw.ac.uk/">Heriot- Watt University</a>, and has developed the conceptual models in this project.</p>

</div>

<div class="col-md-4">

<h3>Mr Mike Wicks</h3>

<p><img src="{% static 'profile/mr_mike_wicks.jpg' %}" alt="Mr Mike Wicks" height=150px></p>

<p><a href="https://www.ed.ac.uk/pathology/people/staff-students/mike-wicks">Mr Mike Wicks</a> is the Workbench Programmer for Prof. Arends in the <a href="https://www.ed.ac.uk/comparative-pathology">Centre for Comparative Pathology</a>, and has built the Comparative Workbench system in this project.</p>

</div>

<div class="col-md-4">
</div>

</div>


	<hr>

	<br />

{% endblock %}
