<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example</title>

  <link rel="stylesheet" href="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/libraries/foundation-6/css/foundation.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/ebi-global.css" type="text/css" media="all" />

  <style>
    /* Override EBI VF styles for components that use React Select */
    #target input {
      height: unset;
      box-shadow: none;
      margin: 0;
    }
    /* Fix for Highcharts tooltip being clipped */
    .highcharts-container {
      overflow: visible !important;
    }
    svg {
      overflow: visible !important;
    }
  </style>

  </head>
  
  <body>
    <h1>A HEADING</h1>
    
    <div id="target"></div>

<script defer src="../../../static/bundles/vendors.bundle.js"></script>
<script defer src="../../../static/bundles/TSnePlotWidgetDemo.bundle.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    TSnePlotWidgetDemo.render({
		experimentAccession: '{{ experimentAccession }}',
		geneId: '{{ geneId }}'
	}, 'target');
  })
</script>

  </body>
</html>
