<!--
\file         list_imaging_hosts.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list imaging hosts (Servers) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li>Sources</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="panel-alert">
  <p>{{ message }}</p>
</div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="panel-success">
  <p>{{ message }}</p>
</div>
		{% endif %}
    {% endfor %}
{% endif %}

<h1>Search Sources</h1>
<p>Search the sources with a URL (OMERO source ONLY!):</p>
<form action="{% url 'search_image' search_from 0 %}" method="post">
		{% csrf_token %}
{% include 'includes/form.html' %}
</form>
<br />
<hr>
<br />

{% if server_list %}
	{% for server in server_list %}
		{% if forloop.first %}
<table border="0">
  <tr>
    <th>Action</th>
	<th>Owner</th>
	<th>Name</th>
	<th>URL</th>
	<th>Type</th>
  </tr>
  <tr>
    <td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
  </tr>
		{% endif %}
  <tr id="server-{{server.id}}" class="{% if request.GET.selected_record == server.id|stringformat:'s' %}selected{% endif %}">
    <td>
        {% if readBoolean %}
    		{% if server.owner == request.user or request.user.is_superuser %}
      <div class="generic-dropdown">
        <button class="generic-drop-button btn button button-add"><i class="fas fa-bars"></i></button>
        <div class="generic-dropdown-content">
    			{% if server.is_wordpress %}
          <a href="{% url 'webgallery_show_wordpress' server.id 1 %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
    			{% if server.is_omero547 %}
          <a href="{% url 'webgallery_show_imaging_server' server.id %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
    			{% if server.is_ebi_sca %}
          <a href="{% url 'webgallery_show_ebi_sca_upload_server' server.id %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
				{% if server.is_cpw %}
          <a href="{% url 'webgallery_show_cpw_upload_server' server.id %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
          <a data-value="{{ server.id }}" href="#" class="link-button btn btn-primary"><i class="fa fa-info"></i> Info.</a>
          <a href="{% url 'server_create_update' server.id %}" onclick="open_server_edit_dialog(event, 'Updating Server {{server.id}} ...'); return false;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
          <a href="{% url 'server_delete' server.id %}" onclick="delete_server(event, 'Deleting {{server.id}}'); return false;"><i class="fa-solid fa-trash-can"></i> Delete</a>
    			{% if server.is_accessible %}
    				{% if request.get_host == 'localhost:8000' %}
          <div id="I_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_out">
            <a href="https://{{ server.url_server }}/webclient/login/?url=http://{{ request.get_host }}{% url 'list_imaging_hosts' %}"><i class="fa fa-sign-in-alt"></i> Login</a>
          </div>
          <div id="O_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_in">
          </div>
    				{% else %}
          <div id="I_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_out">
            <a href="https://{{ server.url_server }}/webclient/login/?url=https://{{ request.get_host }}{% url 'list_imaging_hosts' %}"><i class="fa fa-sign-in-alt"></i> Login</a>
          </div>
          <div id="O_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_in">
          </div>
    				{% endif %}
    			{% endif %}
        </div><!-- End of generic-dropdown-content -->
      </div><!-- End of generic-dropdown -->
    		{% else %}
      <div class="generic-dropdown">
        <button class="generic-drop-button btn button button-add"><i class="fas fa-bars"></i></button>
        <div class="generic-dropdown-content">
    			{% if server.is_wordpress %}
          <a href="{% url 'webgallery_show_wordpress' server.id 1 %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
    			{% if server.is_omero547 %}
          <a href="{% url 'webgallery_show_imaging_server' server.id %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
    			{% if server.is_ebi_sca %}
          <a href="{% url 'webgallery_show_ebi_sca_upload_server' server.id %}"><i class="fa fa-eye"></i> View</a>
    			{% endif %}
				{% if server.is_cpw %}
          <a href="{% url 'webgallery_show_cpw_upload_server' server.id %}"><i class="fa fa-eye"></i> View</a>
				{% endif %}
          <a data-value="{{ server.id }}" href="#" class="link-button btn btn-primary"><i class="fa fa-info"></i> Info.</a>
				{% if server.is_accessible %}
					{% if request.get_host == 'localhost:8000' %}
          <div id="I_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_out">
            <a href="https://{{ server.url_server }}/webclient/login/?url=http://{{ request.get_host }}{% url 'list_imaging_hosts' %}"><i class="fa fa-sign-in-alt"></i> Login</a>
          </div>
          <div id="O_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_in">
          </div>
					{% else %}
          <div id="I_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_out">
            <a href="https://{{ server.url_server }}/webclient/login/?url=https://{{ request.get_host }}{% url 'list_imaging_hosts' %}"><i class="fa fa-sign-in-alt"></i> Login</a>
          </div>
          <div id="O_{{ server.id }}_{{ server.uid }}@{{ server.url_server }}" class="loginStatus_in">
          </div>
					{% endif %}
				{% endif %}
        </div><!-- End of generic-dropdown-content -->
      </div><!-- End of generic-dropdown -->
			{% endif %}
		{% endif %}
    </td>
    <td>{{ server.owner.username }}</td>
    <td>{{ server.name }}</td>
    <td>{{ server.url_server }}</td>
    <td>{{ server.type.name }}</td>
  </tr>
		{% if forloop.last %}
  <tr>
    <td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      {% if user.username != 'guest' %}
      <a href="{% url 'server_create_update' %}" class="btn button button-add" onclick="open_server_edit_dialog(event, 'Create a Server ...'); return false;"><i class="fa fa-plus"></i> Add</a>
			{% endif %}
    </td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
  </tr>
</table>
		{% endif %}
	{% endfor %}
{% else %}
<p>No Sources are available.</p>
{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}

{% block extrajs %}
<script type="text/javascript">

// FUNCTION
async function makeJSONRequest(method, url, data) {

    const options = {
        method: method, // *GET, POST, PUT, DELETE, etc.
        credentials: 'include', // include, *same-origin, omit
    }

    if (method == 'POST') {

        const csrf_token = getCookie('csrftoken');

        options.headers = {
            'x-csrftoken': csrf_token
        }
    }

    if (data) {

        options.body = data;
    }

    // Do the fetch and check status...
    const response = await fetch(url, options);

    if (response.status != 200) {

        throw response;
    }

    // If OK, parse JSON response into native JavaScript objects
    return response.json();
}


// FUNCTION
function getCookie(name) {

    var cookieValue = null;

    if (document.cookie && document.cookie != '') {

        var cookies = document.cookie.split(';');

        for (var i = 0; i < cookies.length; i++) {

            var cookie = cookies[i].trim();

            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {

                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


// FUNCTION
function getParameterByName(name, url = window.location.href) {

    name = name.replace(/[\[\]]/g, '\\$&');

    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);

    if (!results) return null;

    if (!results[2]) return '';

    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}


// FUNCTION
async function loginStatusPresent(divname) {

    var projects_url = getUrl('url:projects');

    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

	    document.getElementById(divname).style.display = 'display';

    }).catch(rsp => {

		document.getElementById(divname).style.display = 'none';
    });

}


// FUNCTION
async function loginStatusAbsent(divname) {

    var projects_url = getUrl('url:projects');

    const data = await makeJSONRequest('GET', projects_url).then(rsp => {

	    document.getElementById(divname).style.display = 'none';

    }).catch(rsp => {

		document.getElementById(divname).style.display = 'display';
    });

}


// FUNCTION
async function server_present(server_url, divname) {

    // List of supported versions
    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

    // Get base_url from last version in the list
    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
    latest_base_url = versions[versions.length - 1]["url:base"]

    // Get the list of top-level urls as starting points,
    base_urls = await makeJSONRequest('GET', latest_base_url);

    // Also get CSRF token needed for any POST requests (login, logout etc)
    // Header of this response sets a cookie. NB: We can ingore the response JSON
    await makeJSONRequest('GET', getUrl('url:token'));

    // Try to load Projects (will show Login form if we're not logged in)
    loginStatusPresent(divname);
}


// FUNCTION
async function server_absent(server_url, divname) {

    // List of supported versions
    const versions = await makeJSONRequest('GET', server_url + 'api/').then(rsp => rsp.data);

    // Get base_url from last version in the list
    //latest_base_url = versions[versions.length - 1]["url:base"].replace("http", protocol);
    latest_base_url = versions[versions.length - 1]["url:base"]

    // Get the list of top-level urls as starting points,
    base_urls = await makeJSONRequest('GET', latest_base_url);

    // Also get CSRF token needed for any POST requests (login, logout etc)
    // Header of this response sets a cookie. NB: We can ingore the response JSON
    await makeJSONRequest('GET', getUrl('url:token'));

    // Try to load Projects (will show Login form if we're not logged in)
    loginStatusAbsent(divname);
}


// FUNCTION
function getUrl(name) {

    return base_urls[name];
}


// MAINLINE

// When page first loads, if we have a server...
//const server_url = getParameterByName("server");

collection_in = document.getElementsByClassName("loginStatus_in");

for (var i = 0; i < collection_in.length; i++) {

	nodeHTML = collection_in[i];
	text = nodeHTML.id;
	console.log("IN text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_present(server_url, nodeHTML.id);
}

collection_out = document.getElementsByClassName("loginStatus_out");

for (var i = 0; i < collection_out.length; i++) {

	nodeHTML = collection_out[i]
	text = nodeHTML.id;
	console.log("OUT text : " + text);
	myArray = text.split("@");
	server_url = 'https://' + myArray[1] + '/';

	server_absent(server_url, nodeHTML.id);
}

	function open_server_edit_dialog(event, title) {
	  event.preventDefault();
	  var url = $(event.target).attr('href');
	  dialog_edit.options.url = url;
	  dialog_edit.options.title = '<i class="fa fa-calculator"></i> ' + title;
	  dialog_edit.open(event);
	}

	function delete_server(event, title) {
	  event.preventDefault();
	  var url = $(event.target).attr('href');
	  FrontendForms.confirmRemoteAction(
	    url, {
	      title: title,
	      text: 'Are you sure?',
	      confirmButtonClass: 'btn-danger',
	      icon: 'question'
	    },
	    function (data) {

	      // FrontendForms.reload_page(true);
	      var row = $('tr#server-' + data.object_id);
	      row.remove();

	      Swal.fire({
	        text: 'Server "' + data.object_id + '" has been deleted',
	        icon: 'warning'
	      })
	    },
	    data = true // set to any value to obtain POST
	  );
	}


	$(document).ready(function () {

	  dialog_edit = new Dialog({
	    dialog_selector: '#dialog_generic',
	    html: '<h1>Loading ...</h1>',
	    width: '600px',
	    min_height: '200px',
	    button_save_initially_hidden: true,
	    enable_trace: true,
	    callback: function (event_name, dialog, params) {
	      switch (event_name) {
	        case "submitting":
	          FrontendForms.overlay_show('.dialog-body');
	          break;
	        case "loaded":
	          FrontendForms.overlay_hide('.dialog-body');
	          break;
	        case "submitted":
	          var object_id = dialog.element.find('input[name=object_id]').val();
	          // Reload page, with last selection enhanced
	          var url = new URL(document.location.href);
	          url.searchParams.set('selected_record', object_id);
	          FrontendForms.gotourl(url, show_layer=true);
	          break;
	      }
	    }
	  });

	});

    function onLinkButtonClicked(event) {
        event.preventDefault();
        var n = $(event.target).data('value');
    {% if server_list %}
    	{% for server in server_list %}
            {% if forloop.first %}
        var dialogs = [dialog{{ server.id }},
            {% else %}
                {% if forloop.last %}
                       dialog{{ server.id }}];
                       var target = "dialog" + n.toString();
                       eval(target).open(event);
        }
                {% else %}
                       dialog{{ server.id }},
                {% endif %}
            {% endif %}
        {% endfor %}
	{% endif %}

    $(document).ready(function() {

        $('.link-button').on('click', onLinkButtonClicked);

    {% if server_list %}
		{% for server in server_list %}
        dialog{{ server.id }} = new Dialog({
            url: "{% url 'server_read' server.id %}",
            dialog_selector: '#dialog_generic',
            html: '<h1>Loading ...</h1>',
            width: '600px',
            min_height: '200px',
            title: '<i class="fa fa-calculator"></i> Server {{server.id}} ...',
            button_save_label: null,
            enable_trace: true
        });
        {% endfor %}
	{% endif %}
    });

</script>
{% endblock extrajs %}
