<!--
\file         list_images.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list images template (with Search)
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a class="link-button btn btn-primary" href="{% url 'list_collections' %}">Collections</a></li>
			<li><a class="link-button btn btn-primary" href="{% url 'list_images' %}">Images</a></li>

{% if tagBoolean %}

	{% if allBoolean %}
	<!-- A Tag, All Collections -->
			<li>Images for All Collections, with Tag "{{ tag.name }}"</li>

	{% else %}
	<!-- A Tag, A Collection -->
			<li>Images for Collection: "{{ collection_id|stringformat:"06d" }}", with Tag "{{ tag.name }}"</li>

	{% endif %}

{% else %}

	{% if allBoolean %}
	<!-- No Tag, All Collections -->
			<li>Images for All Collections</li>

	{% else %}
	<!-- No Tag, A Collection -->
			<li>Images for Collection: "{{ collection_id|stringformat:"06d" }}"</li>

	{% endif %}

{% endif %}

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="panel-alert">
    <p>{{ message }}</p>
  </div>
		{% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="panel-success">
    <p>{{ message }}</p>
  </div>
		{% endif %}
    {% endfor %}
{% endif %}
{% if not allBoolean %}
	{% if collection.is_locked %}
  <div class="panel-alert">
	<p>Collection {{ collection.id|stringformat:"06d" }} is LOCKED pending Update!!</p>
  </div>
	{% endif %}
{% endif %}

<!-- <p>tagBoolean: {{ tagBoolean }}; allBoolean: {{ allBoolean }}; tag_id: {{ tag_id }}</p> -->

{% if tagBoolean %}

	{% if allBoolean %}

<!-- A Tag, All Collections -->

<h1>Search Images From All Your Collections, with Tag "{{ tag.name }}"</h1>
		{% if hidden_image_list|length == 0 %}
<p>You have collected {{ image_list|length }} Images from {{ collection_list|length }} Collections</p>
		{% endif %}
		{% if hidden_image_list|length == 1 %}
<p>You have collected {{ image_list|length }} Image (and {{ hidden_image_list|length }} Hidden Images) from {{ collection_list|length }} Collections</p>
		{% endif %}
		{% if hidden_image_list|length > 1 %}
<p>You have collected {{ image_list|length }} Images (and {{ hidden_image_list|length }} Hidden Images) from {{ collection_list|length }} Collections</p>
		{% endif %}

	{% else %}

<!-- A Tag, A Collection -->

		{% if collection.id == user.profile.active_collection.id %}
<h1 class="active">Search Images from the ACTIVE Collection "{{ collection.id|stringformat:"06d" }}", "{{ collection.title }}", with Tag "{{ tag.name }}"</h1>
			{% if collection_hidden_image_list|length == 0 %}
				{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images in this Collection</p>
				{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (Owned By {{ collection.owner.username }}) in this Collection</p>
				{% endif %}
			{% else %}
				{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
				{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
				{% endif %}
			{% endif %}
		{% else %}
			{% if collection.owner == user %}
<h1 class="inactive">Search Images from the Collection "{{ collection.id|stringformat:"06d" }}", "{{ collection.title }}", with Tag "{{ tag.name }}"</h1>
				{% if collection_hidden_image_list|length == 0 %}
					{% if request.user.username == collection.owner.username %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> You have collected {{ collection_image_list|length }} Images in this Collection</p>
					{% else %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> "{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images in this Collection</p>
					{% endif %}
				{% else %}
					{% if request.user.username == collection.owner.username %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% else %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> "{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% endif %}
				{% endif %}
			{% else %}
<h1 class="inactive">Collection {{ collection.id|stringformat:"06d" }}, "{{ collection.title }}", with Tag "{{ tag.name }}"</h1>
				{% if collection_hidden_image_list|length == 0 %}
					{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images in this Collection</p>
					{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images in this Collection</p>
					{% endif %}
				{% else %}
					{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}

	{% endif %}

{% else %}

	{% if allBoolean %}

<!-- No Tag, All Collections -->

<h1>Search Images From All Your Collections</h1>
		{% if hidden_image_list|length == 0 %}
<p>You have collected {{ image_list|length }} Images from {{ collection_list|length }} Collections</p>
		{% else %}
<p>You have collected {{ image_list|length }} Images (and {{ hidden_image_list|length }} Hidden Images) from {{ collection_list|length }} Collections</p>
		{% endif %}

	{% else %}

<!-- No Tag, A Collection -->

		{% if collection.id == user.profile.active_collection.id %}
<h1 class="active">Search Images from the ACTIVE Collection "{{ collection.id|stringformat:"06d" }}", "{{ collection.title }}"</h1>
			{% if collection_hidden_image_list|length == 0 %}
				{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images in this Collection</p>
				{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (Owned By {{ collection.owner.username }}) in this Collection</p>
				{% endif %}
			{% else %}
				{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
				{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
				{% endif %}
			{% endif %}
		{% else %}
			{% if collection.owner == user %}
<h1 class="inactive">Search Images from the Collection "{{ collection.id|stringformat:"06d" }}", "{{ collection.title }}"</h1>
				{% if collection_hidden_image_list|length == 0 %}
					{% if request.user.username == collection.owner.username %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> You have collected {{ collection_image_list|length }} Images in this Collection</p>
					{% else %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> "{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images in this Collection</p>
					{% endif %}
				{% else %}
					{% if request.user.username == collection.owner.username %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% else %}
<p><a href="{% url 'activate_in_collection' collection.id %}"><button class="button button-delete"><i class="fa-solid fa-bell"></i></button></a> "{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% endif %}
				{% endif %}
			{% else %}
<h1 class="inactive">Collection {{ collection.id|stringformat:"06d" }}, "{{ collection.title }}"</h1>
				{% if collection_hidden_image_list|length == 0 %}
					{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images in this Collection</p>
					{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images in this Collection</p>
					{% endif %}
				{% else %}
					{% if request.user.username == collection.owner.username %}
<p>You have collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% else %}
<p>"{{ collection.owner.username }}" has collected {{ collection_image_list|length }} Images (and {{ collection_hidden_image_list|length }} Hidden Images) in this Collection</p>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}

	{% endif %}

{% endif %}


{% if tagBoolean %}

	{% if allBoolean %}

<!-- A Tag, All Collections -->
<!-- <p>A Tag, All Collections: {{ tag_id }}</p> -->
<!-- <form action="{% url 'list_images' 0 tag_id %}" method="get"> -->
<form action="{% url 'list_images' %}" method="get">

	{% else %}

<!-- A Tag, A Collection -->
<!-- <p>A Tag: {{ tag_id }}, A Collection: {{ collection_id }}</p> -->
<!-- <form action="{% url 'list_images' collection_id tag_id %}" method="get"> -->
<form action="{% url 'list_images' collection_id %}" method="get">

	{% endif %}

{% else %}

	{% if allBoolean %}

<!-- No Tag, All Collections -->
<!-- <p>No Tag, All Collections</p> -->
<form action="{% url 'list_images' %}" method="get">

	{% else %}

<!-- No Tag, A Collection -->
<!-- <p>No Tag, A Collection: {{ collection_id }}</p> -->
<form action="{% url 'list_images' collection_id %}" method="get">

	{% endif %}

{% endif %}
{% include 'includes/form_search_images.html' %}
<br />
  <button class="button button-add" type="submit">Search</button>
  <button class="button button-delete" onclick="clearForm(this.form);" >Clear</button>
</form>
<br />
<hr>
<br />

{% if image_summary_list %}
	{% for image_summary in image_summary_list %}
		{% if forloop.first %}
<table border=0>
  <tr>
    <th>Action</th>
{% include 'includes/sort_links_table_headings.html' %}
  </tr>
  <tr>
    <td colspan="11" style="border-bottom:2px solid Black;">&nbsp;</td>
  </tr>
		{% endif %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-A">
	{% if readBoolean %}
    <td>
        <div class="generic-dropdown">
            <button class="generic-drop-button btn button button-add"><i class="fas fa-bars"></i></button>
            <div class="generic-dropdown-content">
        {% if image_summary.is_wordpress %}
              <a class="link-button btn btn-primary" href="{% url 'webgallery_show_wordpress_image' image_summary.image_server_id image_summary.image_identifier %}"><i class="fa fa-info"></i> Image Info.</a>
        {% endif %}
        {% if image_summary.is_omero547 %}
              <a class="link-button btn btn-primary" href="{% url 'webgallery_show_image' image_summary.image_server_id image_summary.image_identifier %}"><i class="fa fa-info"></i> Image Info.</a>
        {% endif %}
        {% if image_summary.is_ebi_sca %}
              <a class="link-button btn btn-primary" href="{% url 'webgallery_show_ebi_sca_image' image_summary.image_server_id image_summary.image_name %}"><i class="fa fa-info"></i> Image Info.</a>
        {% endif %}
        {% if image_summary.is_cpw %}
              <a class="link-button btn btn-primary" href="{% url 'webgallery_show_cpw_image' image_summary.image_server_id image_summary.image_name %}"><i class="fa fa-info"></i> Image Info.</a>
        {% endif %}

        {% if collection.is_not_locked %}
			  <a class="link-button btn btn-primary" href="{% url 'webgallery_edit_image' image_summary.image_id %}"><i class="fa fa-edit"></i> Tag Image</a>
			{% for image_collection in image_summary.get_collections %}
				{% if image_summary.image_owner == user.username or user.username == 'admin' %}
			  <a class="link-button btn btn-primary" href="{% url 'webgallery_delete_collection_image' image_collection.id image_summary.image_id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')"><i class="fa fa-trash"></i> Delete</a>
				{% endif %}
				{% if image_summary.exists_parent_image_links or image_summary.exists_child_image_links %}
			  <a class="link-button btn btn-primary" href="{% url 'view_a_and_b_image_links' image_summary.image_id %}"><i class="fa fa-chain"></i> Links</a>
				{% endif %}
			  <a class="link-button btn btn-primary" href="{% url 'collection_ordering_selection' image_collection.id image_summary.image_id image_summary.image_ordering_permitted_id %}" onclick="open_image_ordering_edit_dialog(event, 'Updating Image Ordering {{ image_collection.id|stringformat:"06d" }} ...'); return false;"><i class="fa fa-edit"></i> Edit Image Ordering</a>
              <a class="link-button btn btn-primary" href="{% url 'list_images' image_collection.id %}"><i class="fa fa-eye"></i> View Collection "{{ image_collection.id|stringformat:"06d" }}"</a>
			{% endfor %}
	    	{% if image_summary.has_matrices %}
				{% for image_matrix in image_summary.get_matrices %}
			<a class="link-button btn btn-primary" href="{% url 'matrix' image_matrix.id %}"><i class="fa fa-eye"></i> View Bench: "CPW:{{ image_matrix.id|stringformat:"06d" }}"</a>
				{% endfor %}
			{% endif %}
		{% endif %}
		
			</div><!-- End of generic-dropdown-content -->
        </div><!-- End of generic-dropdown -->
    </td>
	{% else %}
    <td>&nbsp;</td>
	{% endif %}
		
	<td colspan="2" rowspan="7">
		<a href="{{ image_summary.image_viewer_url  }}" target="_blank"><img alt="{{ image_summary.image_name }}" title="{{ image_summary.image_name }}" style="width:256px; height:256px; float: left" title="{{ image_summary.image_name }}" src="{{ image_summary.image_birdseye_url }}" ></a>
    </td>
	<td><strong>Name:</strong></td>
	<td colspan="7">{{ image_summary.image_name }}</td>
</tr>

<tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-B">
    <td colspan="1">&nbsp;</td>
	{% if image_summary.image_comment == '' %}
	<td><strong>Comment:</strong></td>
	<td colspan="7">No Comments</td>
	{% else %}
	<td><strong>Comment:</strong></td>
	<td colspan="7">{{ image_summary.image_comment }}</td>
	{% endif %}
  </tr>

  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-C">
	<td colspan="1">&nbsp;</td>
	<td><strong>Owner:</strong></td>
	<td colspan="1">{{ image_summary.image_owner }}</td>
	<td><strong>Server:</strong></td>
	<td colspan="1">{{ image_summary.image_server }}</td>
	<td><strong>ROI:</strong></td>
	<td colspan="1">{{ image_summary.image_roi }}</td>
	<td><strong>Hidden:</strong></td>
	<td colspan="1">{{ image_summary.image_hidden }}</td>
  </tr>

  {% for image_collection in image_summary.get_collections %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-D">
    <td colspan="1">&nbsp;</td>
	{% if forloop.first %}
	<td><strong>Collection:</strong></td>
	{% else %}
	<td>&nbsp;</td>
	{% endif %}
	<td colspan="7"><a href="{% url 'list_images' image_collection.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a> "{{ image_collection.id|stringformat:"06d" }}"; "{{ image_collection.title }}"; (Owned By {{ image_collection.owner }})</td>
  </tr>
  {% endfor %}

  {% if image_summary.has_matrices %}
	  {% for image_matrix in image_summary.get_matrices %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-E">
    <td colspan="1">&nbsp;</td>
	{% if forloop.first %}
	<td><strong>Bench:</strong></td>
	{% else %}
	<td>&nbsp;</td>
	{% endif %}
	<td colspan="7"><a href="{% url 'matrix' image_matrix.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a> "CPW:{{ image_matrix.id|stringformat:"06d" }}"; "{{ image_matrix.title }}"; (Owned By {{ image_matrix.owner }})</td>
  </tr>
	  {% endfor %}
  {% else %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-E">
    <td colspan="1">&nbsp;</td>
	<td><strong>Bench:</strong></td>
	<td colspan="7">Image NOT Used in a Bench!</td>
  </tr>
  {% endif %}

  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-F">
    <td colspan="1">&nbsp;</td>
    {% if user.is_superuser %}
	<td><strong>Ordering:</strong></td>
	<td colspan="2">{{ image_summary.image_ordering }}</td>
	<td><strong>Ordering Permitted:</strong></td>
	<td colspan="3">{{ image_summary.image_ordering_permitted }}</td>
	{% else %}
	<td><strong>Ordering:</strong></td>
	<td colspan="7">{{ image_summary.image_ordering }}</td>
	{% endif %}
  </tr>

    {% if image_summary.has_tags %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-G">
    <td colspan="3">&nbsp;
	</td>
    <td><strong>Tags:</strong>
	</td>
    <td colspan="7">
		{% for tag in image_summary.get_tags %}
		<a href="{% url 'list_images' collection_id tag.id %}" class="badge badge-info">{{ tag.name }}</a>
		{% endfor %}
	</td>
  </tr>
  {% else %}
  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-H">
    <td colspan="10">&nbsp;
	</td>
  </tr>
  {% endif %}

  <tr id="image_summary-{{image_summary.image_id}}{{image_summary.image_ordering_permitted_id}}-I">
    <td colspan="11" style="border-bottom:2px solid Black;">&nbsp;</td>
  </tr>
		{% if forloop.last %}
</table>
		{% endif %}
	{% endfor %}
{% include 'includes/pagination.html' %}
{% else %}
<p>No Images are available.</p>
{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}

{% block extrajs %}

<script language="javascript">

	function clearForm(oForm) {

		var elements = oForm.elements;

		oForm.reset();

		for(i=0; i<elements.length; i++) {

			field_type = elements[i].type.toLowerCase();

			switch(field_type) {

				case "text":
				case "password":
				case "textarea":
		    	case "hidden":
					elements[i].value = "";
					break;

				case "radio":
				case "checkbox":
	  				if (elements[i].checked) {
	   					elements[i].checked = false;
					}
					break;

				case "select-one":
				case "select-multi":
	            	elements[i].selectedIndex = -1;
					break;

				default:
					break;
			}
		}
	}


	function open_image_ordering_edit_dialog(event, title) {
	  event.preventDefault();
	  var url = $(event.target).attr('href');
	  dialog_edit.options.url = url;
	  dialog_edit.options.title = '<i class="fa fa-calculator"></i> ' + title;
	  dialog_edit.open(event);
	}

	$(document).ready(function () {

	  dialog_edit = new Dialog({
	    dialog_selector: '#dialog_generic',
	    html: '<h1>Loading ...</h1>',
	    width: '600px',
	    min_height: '200px',
	    button_save_initially_hidden: true,
	    enable_trace: true,
	    callback: function (event_name, dialog, params) {
	      switch (event_name) {
	        case "submitting":
	          FrontendForms.overlay_show('.dialog-body');
	          break;
	        case "loaded":
	          FrontendForms.overlay_hide('.dialog-body');
	          break;
	        case "submitted":
	          var object_id = dialog.element.find('input[name=object_id]').val();
	          // Reload page, with last selection enhanced
	          var url = new URL(document.location.href);
	          FrontendForms.gotourl(url, show_layer=true);
	          break;
	      }
	    }
	  });

	});

{% if collection.is_locked %}

	setTimeout(function(){
	   window.location.reload(1);
	}, {{ environment_summary.environment_window_refresh_time_milliseconds }});


{% endif %}

</script>

{% endblock extrajs %}