{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:home' %}">
					Home
				</a>
			</li>
	
			<li class="breadcrumb-item active">
				Authorization
			</li>
	
		</ol>
		
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>Authorization</h1>
		<br />

		<p>Authorisation Functions</p>
		<hr>

		<h2>Users</h2>
		<br />

{% if user_list %}

    {% for userlist in user_list %}
	
		{% if forloop.first %}
	
	    <table>

    	    <tr>
        	    <th width="250px">Action</th>
				<th width="200px">User Name</th>
				<th width="200px">Full Name</th>
				<th width="250px">Email</th>
				<th>Is Super User?</th>
			</tr>

    	    <tr>
    	    	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
			</tr>

		{% endif %}
	
    	    <tr>

		{% if user.is_superuser %}
            
        	    <td>
					<a href="{% url 'matrices:detail_user' userlist.id %}">
						<button class="save btn btn-primary"><i class="fa fa-info"></i></button>
					</a>
					<a href="{% url 'matrices:edit_user' userlist.id %}">
						<button class="save btn btn-warning"><i class="fa fa-edit"></i></button>
					</a>
					<a href="{% url 'matrices:delete_user' userlist.id %}" onclick="return confirm('Are you sure you want to DELETE this USER?')">
						<button class="save btn btn-danger"><i class="fa fa-trash"></i></button>
					</a>
					<a href="{% url 'matrices:list_user_bench_authorisation' userlist.id %}">
						<button class="save btn btn-info"><i class="fa fa-universal-access"></i></button>
					</a>
	            </td>

		{% else %}
	
        	    <td>
					<a href="{% url 'matrices:detail_user' userlist.id %}">
						<button class="save btn btn-primary"><i class="fa fa-info"></i></button>
					</a>
        	    </td>

		{% endif %}

	            <td>
					{{ userlist.username }}
        	    </td>
            	<td>
					{{ userlist.get_full_name }}
	            </td>
    	        <td>
					{{ userlist.email }}
            	</td>
	            <td>	
					{{ userlist.is_superuser }}
        	    </td>
			</tr>

		{% if forloop.last %}
	
    	    <tr>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>
		</table>

		{% endif %}
	
    {% endfor %}

{% else %}

		<p>No users are available.</p>
	
{% endif %}

		<hr>
	
		<h2>Blog Credentials</h2>
		<br />

{% if credential_list %}

	{% for credential in credential_list %}
	
		{% if forloop.first %}
	
	    <table>

    	    <tr>
	            <th width="150px">Action</th>
        	    <th width="100px">Owner</th>
            	<th width="200px">User Name</th>
	            <th width="200px">Wordpress Id</th>

		{% if user.is_superuser %}

    	        <th width="350px">Application Password</th>

		{% else %}

        	    <th width="350px">&nbsp;</td>

		{% endif %}
            
			</tr>

    	    <tr>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>

		{% endif %}
	
	        <tr>

		{% if user.is_superuser %}
            
    	        <td>
					<a href="{% url 'matrices:detail_blog_credential' credential.id %}">
						<button class="save btn btn-primary"><i class="fa fa-info"></i></button>
					</a>
					<a href="{% url 'matrices:edit_blog_credential' credential.id %}">
						<button class="save btn btn-warning"><i class="fa fa-edit"></i></button>
					</a>
					<a href="{% url 'matrices:delete_blog_credential' credential.id %}" onclick="return confirm('Are you sure you want to DELETE this Blog COMMAND?')">
						<button class="save btn btn-danger"><i class="fa fa-trash"></i></button>
					</a>
    	        </td>

		{% else %}
	
        	    <td>
					<a href="{% url 'matrices:detail_blog_credential' credential.id %}">
						<button class="save btn btn-primary"><i class="fa fa-info"></i></button>
					</a>
    	        </td>
	
		{% endif %}

    	        <td>
        	    	{{ credential.owner.username }}
	            </td>
		        <td>
					{{ credential.username }}
            	</td>
	            <td>
    	        	{{ credential.wordpress }}
        	    </td>

		{% if user.is_superuser %}

	            <td>
    	        	{{ credential.apppwd }}
        	    </td>

		{% else %}

            	<td>&nbsp;</td>

		{% endif %}

			</tr>

		{% if forloop.last %}
	
    	    <tr>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>

        	<tr>

			{% if user.is_superuser %}
    
            	<td>
					<a href="{% url 'matrices:new_blog_credential' %}">
						<button class="save btn btn-success"><i class="fa fa-plus"></i></button>
					</a>
    	        </td>

			{% else %}

        	    <td>&nbsp;</td>

			{% endif %}
	
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
			</tr>

	    </table>

		{% endif %}
	
    {% endfor %}

{% else %}

		<p>No Blog Credentials are available.</p>
	    
	{% if user.is_superuser %}
    
		<p>
			<a href="{% url 'matrices:new_blog_credential' %}">
				<button class="save btn btn-success"><i class="fa fa-plus"></i></button>
			</a>
		</p>

	{% else %}

		<p>&nbsp;
		</p>

	{% endif %}
	
{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
