{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
    
<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			Authorization
		</li>
	
	</ul>

</div>

		

<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Authorization</h1>

		<p>Authorisation Functions</p>
		
		<hr>

		<h2>Users</h2>
		
		<br />

{% if user_list %}

    {% for userlist in user_list %}
	
		{% if forloop.first %}
	
	    <table>

    	    <tr>
        	    <th width="250px">Action</th>
				<th width="200px">User Name</th>
				<th width="200px">Full Name</th>
				<th width="250px">Email</th>
				<th>Is Super User?</th>
			</tr>

    	    <tr>
    	    	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
			</tr>

		{% endif %}
	
    	    <tr>

		{% if user.is_superuser %}
            
        	    <td>
					<a href="{% url 'detail_user' userlist.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_user' userlist.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_user' userlist.id %}" onclick="return confirm('Are you sure you want to DELETE this USER?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
					<a href="{% url 'list_user_bench_authorisation' userlist.id %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button></a>
	            </td>

		{% else %}
	
        	    <td>
					<a href="{% url 'detail_user' userlist.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
        	    </td>

		{% endif %}

	            <td>
					{{ userlist.username }}
        	    </td>
            	<td>
					{{ userlist.get_full_name }}
	            </td>
    	        <td>
					{{ userlist.email }}
            	</td>
	            <td>	
					{{ userlist.is_superuser }}
        	    </td>
			</tr>

		{% if forloop.last %}
	
    	    <tr>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>
		</table>

		{% endif %}
	
    {% endfor %}

{% else %}

		<p>No users are available.</p>
	
{% endif %}

		<hr>
	
		<h2>Blog Credentials</h2>
		<br />

{% if credential_list %}

	{% for credential in credential_list %}
	
		{% if forloop.first %}
	
	    <table>

    	    <tr>
	            <th width="150px">Action</th>
        	    <th width="100px">Owner</th>
            	<th width="200px">User Name</th>
	            <th width="200px">Wordpress Id</th>

		{% if user.is_superuser %}

    	        <th width="350px">Application Password</th>

		{% else %}

        	    <th width="350px">&nbsp;</td>

		{% endif %}
            
			</tr>

    	    <tr>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>

		{% endif %}
	
	        <tr>

		{% if user.is_superuser %}
            
    	        <td>
					<a href="{% url 'detail_blog_credential' credential.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_blog_credential' credential.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_blog_credential' credential.id %}" onclick="return confirm('Are you sure you want to DELETE this Blog COMMAND?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
    	        </td>

		{% else %}
	
        	    <td>
					<a href="{% url 'detail_blog_credential' credential.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
    	        </td>
	
		{% endif %}

    	        <td>
        	    	{{ credential.owner.username }}
	            </td>
		        <td>
					{{ credential.username }}
            	</td>
	            <td>
    	        	{{ credential.wordpress }}
        	    </td>

		{% if user.is_superuser %}

	            <td>
    	        	{{ credential.apppwd }}
        	    </td>

		{% else %}

            	<td>&nbsp;</td>

		{% endif %}

			</tr>

		{% if forloop.last %}
	
    	    <tr>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
			</tr>

        	<tr>

			{% if user.is_superuser %}
    
            	<td>
					<a href="{% url 'new_blog_credential' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a>
    	        </td>

			{% else %}

        	    <td>&nbsp;</td>

			{% endif %}
	
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
			</tr>

	    </table>

		{% endif %}
	
    {% endfor %}

{% else %}

		<p>No Blog Credentials are available.</p>
	    
	{% if user.is_superuser %}
    
		<p>
			<a href="{% url 'new_blog_credential' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a>
		</p>

	{% else %}

		<p>&nbsp;
		</p>

	{% endif %}
	
{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
