{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:home' %}">
					Home
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:maintenance' %}">
					Maintenance
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:detail_command' command.id %}">
					API Command {{ command.id }}
				</a>
			</li>
		
			<li class="breadcrumb-item active">
				API Command Details
			</li>
		
		</ol>
	
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>API Command {{ command.id }}</h1>
		<br />

		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd><strong>{{ command.name }}</strong></dd>
			<dt>Type:</dt>
			<dd>{{ command.type.name }}</dd>
			<dt>Protocol:</dt>
			<dd>{{ command.protocol.name	 }}</dd>
			<dt>Application:</dt>
			<dd>{{ command.application }}</dd>
			<dt>Preamble:</dt>
			<dd>{{ command.preamble }}</dd>
			<dt>Postamble:</dt>
			<dd>{{ command.postamble }}</dd>
		</dl>

		<br />

		<a href="{% url 'matrices:maintenance' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.is_superuser %}
            
		<a href="{% url 'matrices:edit_command' command.id %}">
			<button class="save btn btn-warning">Edit</button>
		</a>

{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
