{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:authorisation' %}">
				Authorisation
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:detail_blog_credential' credential.id %}">
				Blog Credential {{ credential.id }}
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			Blog Credential Details
		</li>
	
	</ol>
	
	<h1>Blog Credential {{ credential.id }}</h1>
	<br />

		<dl class="dl-horizontal">

			<dt>Wordpress Id:</dt>
			<dd><strong>{{ credential.wordpress }}</strong></dd>

			<dt>User Name:</dt>
			<dd>{{ credential.username }}</dd>

			<dt>Application Password:</dt>
			<dd>{{ credential.apppwd }}</dd>

		</dl>

		<br />

		<a href="{% url 'matrices:authorisation' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.id == blog.owner_id or user.is_superuser %}
            
		<a href="{% url 'matrices:edit_blog_credential' credential.id %}">
			<button class="save btn btn-warning">Edit</button>
		</a>

{% endif %}

{% endblock %}
