{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}">
					Home
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'maintenance' %}">
					Maintenance
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'detail_type' type.id %}">
					Server Type {{ type.id }}
				</a>
			</li>
		
			<li class="breadcrumb-item active">
				Server Type Details
			</li>
	
		</ol>
			
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>Server Type {{ type.id }}</h1>
		<br />

		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd>{{ type.name }}</dd>
		</dl>

		<br />

		<a href="{% url 'maintenance' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.is_superuser %}
            
		<a href="{% url 'edit_type' type.id %}">
			<button class="save btn btn-warning">Edit</button>
		</a>

{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
