{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}">
					Home
				</a>
			</li>

{% if user.is_superuser %}
	
			<li class="breadcrumb-item">
				<a href="{% url 'authorisation' %}">
					Authorisation
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'detail_user' subject.id %}">
					User {{ subject.id }}
				</a>
			</li>
	
{% endif %}
	
			<li class="breadcrumb-item active">
				User Details
			</li>
	
		</ol>
	
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>User {{ subject.id }}</h1>
		<br />

		<dl class="dl-horizontal">
			<dt>ID:</dt>
			<dd>{{ subject.id }}</dd>
			<dt>User</dt>
			<dd>{{ subject.username }}</dd>
			<dt>Name</dt>
			<dd>{{ subject.get_full_name }}</dd>
			<dt>Email</dt>
			<dd>{{ subject.email }}</dd>
			<dt>Is Active?</dt>
			<dd>{{ subject.is_active }}</dd>
			<dt>Is Super User?</dt>
			<dd>{{ subject.is_superuser }}</dd>
			<dt>Last Login Date</dt>
			<dd>{{ subject.last_login }}</dd>
			<dt>Date Joined</dt>
			<dd>{{ subject.date_joined }}</dd>
		</dl>

		<br />

		<a href="{% url 'authorisation' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.is_superuser %}

		<a href="{% url 'edit_user' subject.id %}">
			<button class="save btn btn-warning">EDIT</button>
		</a>

{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
