{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<br />
	<h1>Blog Credential {{ credential.id }}</h1>
	<br />

		<dl class="dl-horizontal">

			<dt>Wordpress Id:</dt>
			<dd><strong>{{ credential.wordpress }}</strong></dd>

			<dt>User Name:</dt>
			<dd>{{ credential.username }}</dd>

			<dt>Application Password:</dt>
			<dd>{{ credential.apppwd }}</dd>

		</dl>

		<br />

		<a href="{% url 'matrices:maintenance' %}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

{% endblock %}
