{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<br />
	<h1>API Command {{ command.id }}</h1>
	<br />

		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd><strong>{{ command.name }}</strong></dd>
			<dt>Type:</dt>
			<dd>{{ command.type.name }}</dd>
			<dt>Protocol:</dt>
			<dd>{{ command.protocol.name	 }}</dd>
			<dt>Application:</dt>
			<dd>{{ command.application }}</dd>
			<dt>Preamble:</dt>
			<dd>{{ command.preamble }}</dd>
			<dt>Postamble:</dt>
			<dd>{{ command.postamble }}</dd>
		</dl>

		<br />

		<a href="{% url 'matrices:maintenance' %}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

{% endblock %}
