{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'detail_server' server.id %}">Source {{ server.id }}</a>
		</li>
	
		<li class="breadcrumb-item active">
			Source Details
		</li>
	
	</ul>

</div>
    
		
<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Source {{ server.id }}</h1>

		<hr>
		
		<br />

		<dl class="standard">
			<dt>Name</dt>
			<dd>{{ server.name }}</dd>
			<dt>URL</dt>
			<dd>{{ server.url_server }}</dd>
			<dt>Type</dt>
			<dd>{{ server.type.name }}</dd>
		</dl>

		<br />

		<a href="{% url 'list_imaging_hosts' %}"><button class="button button-add">BACK</button></a>

		<a href="{% url 'edit_server' server.id %}"><button class="button button-edit">Edit</button></a>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
