{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			User Details
		</li>
	
	</ol>
	
	<h1>User {{ user.id }}</h1>
	<br />

		<dl class="dl-horizontal">
			<dt>ID:</dt>
			<dd>{{ user.id }}</dd>
			<dt>User</dt>
			<dd>{{ user.username }}</dd>
			<dt>Name</dt>
			<dd>{{ user.get_full_name }}</dd>
			<dt>Email</dt>
			<dd>{{ user.email }}</dd>
			<dt>Is Active?</dt>
			<dd>{{ user.is_active }}</dd>
			<dt>Is Super User?</dt>
			<dd>{{ user.is_superuser }}</dd>
			<dt>Last Login Date</dt>
			<dd>{{ user.last_login }}</dd>
			<dt>Date Joined</dt>
			<dd>{{ user.date_joined }}</dd>
		</dl>

		<br />

		<a href="{% url 'matrices:home' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

		<a href="{% url 'matrices:edit_user_general' user.id %}">
			<button class="save btn btn-warning">EDIT</button>
		</a>


{% endblock %}
