{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:list_imaging_hosts' %}">
				Sources
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:detail_server' server.id %}">
				Source {{ server.id }}
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			Source Details
		</li>
	
	</ol>
	
	<h1>Source {{ server.id }}</h1>
	<br />

		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd>{{ server.name }}</dd>
			<dt>URL:</dt>
			<dd>{{ server.url }}</dd>
			<dt>Type:</dt>
			<dd>{{ server.type.name }}</dd>
		</dl>

		<br />

		<a href="{% url 'matrices:list_imaging_hosts' %}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.id == blog.owner_id or user.is_superuser %}
            
		<a href="{% url 'matrices:edit_server' server.id %}">
			<button class="save btn btn-warning">Edit</button>
		</a>

{% endif %}


{% endblock %}
