{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:home' %}">
					Home
				</a>
			</li>

			<li class="breadcrumb-item">
				<a href="{{ request.META.HTTP_REFERER }}">
					Permissions
				</a>
			</li>

			<li class="breadcrumb-item">
				Permission {{ authorisation.id }}
			</li>
		
			<li class="breadcrumb-item active">
				Permission Details
			</li>
	
		</ol>
			
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>Permission {{ authorisation.id }}</h1>
		<br />

		<dl class="dl-horizontal">
			<dt>Bench Id:</dt>
			<dd>{{ authorisation.matrix.id }}</dd>
			<dt>User:</dt>
			<dd>{{ authorisation.permitted.username }}</dd>
			<dt>Authority:</dt>
			<dd>{{ authorisation.authority.name }}</dd>
		</dl>

		<br />

		<a href="{{ request.META.HTTP_REFERER }}">
			<button class="save btn btn-success">BACK</button>
		</a>

{% if user.is_superuser %}
            
{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
