{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'authorisation' %}">Authorisation</a>
		</li>
	
		<li>
			<a href="{% url 'detail_blog_credential' credential.id %}">Blog Credential {{ credential.id }}</a>
		</li>
		
		<li>
			Blog Credential Details
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>EDIT Blog Command {{ credential.id }}</h1>

		<hr>

		<br />

		<form method="POST" class="post-form">
		
{% csrf_token %}

{% include 'includes/form.html' %}

			<br />
	
	    	<button type="submit" class="button button-delete">Save</button>

		</form>

		<br />

		<a href="{% url 'authorisation' %}"><button class="button button-add">CANCEL</button></a>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
