{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:maintenance' %}">
				Maintenance
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:detail_type' type.id %}">
				Server Type {{ type.id }}
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			Server Type EDIT
		</li>
	
	</ol>
	
	<h1>EDIT Server Type {{ type.id }}</h1>
	<br />

	<form method="POST" class="post-form">
		
{% csrf_token %}

{% include 'includes/form.html' %}

	    <button type="submit" class="save btn btn-danger">Save</button>

	</form>

	<a href="{% url 'matrices:maintenance' %}">
		<button class="save btn btn-success">CANCEL</button>
	</a>

{% endblock %}
