<!--
\file         home.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The home template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

  <div class="home-grid-container">

	<div class="home-grid-item">
      <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>How To</h3>
		  <p>Learn more about how to use the Workbench</p>
		  <br />
		  <a href="{% url 'howto' %}"><button class="button button-view">How To &raquo;</button></a>
		</div>
	  </div>
	</div>

{% if credential_flag == '' %}

	{% if request.user.username == '' %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
		<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
    	<div class="card-container">
          <h3>Login</h3>
		  <p>Login to the Workbench</p>
		  <br />
		  <br />
		  <a href="{% url 'login' %}"><button class="button button-add">Login &raquo;</button></a>
		</div>
	  </div>
	</div>

	{% else %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>WARNING!</h3>
		  <div class="panel-alert">
			<strong>Danger!</strong> Contact the CPW Administration Team to complete your Account Setup!
		  </div>
		</div>
	  </div>
	</div>

	{% endif %}

	{% if request.user.username == '' %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>Registration</h3>
		  <p>Register to use the Workbench</p>
		  <br />
		  <br />
		  <a href="{% url 'signup' %}"><button class="button button-delete">Register &raquo;</button></a>
		</div>
	  </div>
	</div>

	{% else %}

	{% endif %}

{% else %}

	{% if matrix_list %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>Browse</h3>
		  <p>Browse All Permitted Benches in the Workbench ({{ matrix_list|length }})</p>
		  <br />
		  <a href="{% url 'list_benches' %}"><button class="button button-view">Benches &raquo;</button></a>
		</div>
	  </div>
	</div>

	{% else %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
		<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>ADD</h3>
		  <p>Add a NEW Bench!</p>
		  <br />
		  <a href="{% url 'new_matrix' %}"><button class="button button-add">ADD &raquo;</button></a>
		</div>
	  </div>
	</div>

	{% endif %}

	<div class="home-grid-item">
	  <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>Logout</h3>
		  <p>Logout of the Workbench</p>
		  <br />
		  <br />
		  <a href="{% url 'logout' %}"><button class="button button-delete">Logout &raquo;</button></a>
		</div>
	  </div>
	</div>

{% endif %}

  </div><!-- End of home-grid-container -->

  <div class="home-grid-container">

	<div class="home-grid-item">
	  <div class="card">
		<br />
		<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>About</h3>
		  <br />
		  <p>Learn more about the Project</p>
		  <br />
		  <br />
		  <a href="{% url 'about' %}"><button class="button button-view">About &raquo;</button></a>
	    </div>
	  </div>
	</div>

	<div class="home-grid-item">
	  <div class="card">
		<br />
	    <a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>Contributors</h3>
		  <br />
		  <p>Learn more about the Project Contributors</p>
		  <br />
		  <a href="{% url 'people' %}"><button class="button button-view">Contributors &raquo;</button></a>
		</div>
	  </div>
	</div>

	<div class="home-grid-item">
	  <div class="card">
        <br />
		<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>
		<div class="card-container">
		  <h3>Centre for Comparative Pathology</h3>
		  <p>Learn more about the Centre for Comparative Pathology</p>
		  <br />
		  <a href="https://www.ed.ac.uk/comparative-pathology"><button class="button button-view">About &raquo;</button></a>
	    </div>
	  </div>
	</div>

  </div><!-- End of home-grid-container -->

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
