{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="home-grid-container">

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>How To</h3>

				<p>Learn more about how to use the Workbench</p>

				<br />
				<br />

				<a href="{% url 'howto' %}"><button class="button button-view">How To &raquo;</button></a>

			</div>

		</div>

	</div>


{% if credential_flag == '' %}

	<div class="home-grid-item">
	</div>

	{% if request.user.username == '' %}

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Login</h3>

				<p>Login to the Workbench</p>

				<br />
				<br />
				<br />

				<a href="{% url 'login' %}"><button class="button button-add">Login &raquo;</button></a>

			</div>

		</div>

	</div>

	{% else %}

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>WARNING!</h3>

				<br />
				<br />

				<div class="panel-alert">
					<strong>Danger!</strong> Contact the CPW Administration Team to complete your Account Setup!
				</div>

			</div>

		</div>

	</div>

	{% endif %}

	<div class="home-grid-item">
	</div>

	{% if request.user.username == '' %}

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Registration</h3>

				<p>Register to use the Workbench</p>

				<br />
				<br />
				<br />

				<a href="{% url 'signup' %}"><button class="button button-delete">Register &raquo;</button></a>

			</div>

		</div>

	</div>

	{% else %}

	<div class="home-grid-item">

	</div>

	{% endif %}

	<div class="home-grid-item">
	</div>

{% else %}

	{% if matrix_list %}

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Browse</h3>

				<p>Browse All Permitted Benches in the Workbench ({{ matrix_list|length }})</p>

				<br />
				<br />

				<a href="{% url 'list_benches' %}"><button class="button button-view">Benches &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

	{% else %}

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>ADD</h3>

				<p>Add a NEW Bench!</p>

				<a href="{% url 'new_matrix' %}"><button class="button button-add">ADD &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

	{% endif %}

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Logout</h3>

				<p>Logout of the Workbench</p>

				<br />
				<br />
				<br />

				<a href="{% url 'logout' %}"><button class="button button-delete">Logout &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

{% endif %}

</div>

<br />

<div class="home-grid-container">

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>About</h3>

				<br />

				<p>Learn more about the Project</p>

				<br />
				<br />

				<a href="{% url 'about' %}"><button class="button button-view">About &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Contributors</h3>

				<br />

				<p>Learn more about the Project Contributors</p>

				<br />

				<a href="{% url 'people' %}"><button class="button button-view">Contributors &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

	<div class="home-grid-item">

		<div class="card">

			<a href="http://www.comparativepathology.ed.ac.uk"><img class="card-image" src="{% static 'ccp-logo.png' %}" alt="Logo" height=100px></a>

			<div class="card-container">

				<h3>Centre for Comparative Pathology</h3>

				<p>Learn more about the Centre for Comparative Pathology</p>

				<br />

				<a href="https://www.ed.ac.uk/comparative-pathology"><button class="button button-view">About &raquo;</button></a>

			</div>

		</div>

	</div>

	<div class="home-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
