{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<br />
	
	<ol class="breadcrumb">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			Image
		</li>
	
	</ol>
	
	<hr>

	<h1>Browse Image Cart</h1>
	<br />

	<p>Browse the list of Images you have collected</p>

	<hr>

	<br />

	<br />
	<h2>Images</h2>
	<br />

{% if image_list %}

	{% for image in image_list %}
	
		{% if forloop.first %}
	
    <table>
        <tr>
            <th>Image</th>
            <th>Server</th>
            <th>Action</th>
		</tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>

		{% endif %}
	
        <tr>
            <td>
				<a href="{{ image.viewer_url  }}" target="_blank">
					<img  style="width:256px; height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" >
				</a>
            </td>
            <td>{{ image.server.name }}, ( {{ image.server.url }} )</td>
            <td>
				<a href="{% url 'matrices:webgallery_show_image' image.server.id image.identifier %}">	            	
	            	<button class="save btn btn-info">View Image Details &raquo;</button>
				</a>
				<a href="{% url 'matrices:webgallery_delete_image' image.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')">
					<button class="save btn btn-danger">DELETE!</button>
				</a>
            </td>
		</tr>

		{% if forloop.last %}
	
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>

    </table>

		{% endif %}
	
    {% endfor %}

{% else %}

	<p>No Images are available.</p>

{% endif %}

{% endblock %}
