<!--
\file         list_benches.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list benches template
-->

{% extends 'includes/base.html' %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li>Benches</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Benches</h1>

	<p>Search the list of Benches</p>

	<form action="{% url 'list_benches' %}" method="get">

		{% include 'includes/formsearch.html' %}

		<button class="button button-add" type="submit">Search</button>
		<button class="button button-delete" onclick="clearForm(this.form);" >Clear</button>

	</form>

	<br />
	<hr>
	<br />

{% if object_list %}

	{% for matrix_summary in matrix_summary_list %}

		{% if forloop.first %}

		<table>
			<tr>
				<th>Action</th>

{% include 'includes/sort_links_table_headings.html' %}

			</tr>

			<tr>
				<td width="250px">&nbsp;</td>
				<td width="150px">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

		{% endif %}

			<tr>

		{% if credential_flag == '' %}

				<td>&nbsp;</td>

		{% else %}

				<td>

			{% if matrix_summary.matrix_authorisation_authority == 'VIEWER' %}

					<a href="{% url 'matrix' matrix_summary.matrix_id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
					<a href="{% url 'detail_matrix' matrix_summary.matrix_id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% endif %}

			{% if matrix_summary.matrix_authorisation_authority == 'EDITOR' %}

					<a href="{% url 'matrix' matrix_summary.matrix_id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
					<a href="{% url 'detail_matrix' matrix_summary.matrix_id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_matrix' matrix_summary.matrix_id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_matrix' matrix_summary.matrix_id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>

			{% endif %}

			{% if matrix_summary.matrix_authorisation_authority == 'OWNER' %}

					<a href="{% url 'matrix' matrix_summary.matrix_id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
					<a href="{% url 'detail_matrix' matrix_summary.matrix_id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_matrix' matrix_summary.matrix_id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_matrix' matrix_summary.matrix_id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
					<a href="{% url 'list_bench_bench_authorisation' matrix_summary.matrix_id %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button></a>

			{% endif %}

			{% if matrix_summary.matrix_authorisation_authority == 'ADMIN' %}

					<a href="{% url 'matrix' matrix_summary.matrix_id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>
					<a href="{% url 'detail_matrix' matrix_summary.matrix_id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_matrix' matrix_summary.matrix_id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_matrix' matrix_summary.matrix_id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
					<a href="{% url 'list_bench_bench_authorisation' matrix_summary.matrix_id %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button></a>

			{% endif %}

				</td>

		{% endif %}

				<td>CPW:{{ matrix_summary.matrix_id|stringformat:"06d" }}</td>
				<td>{{ matrix_summary.matrix_title|truncatechars:75 }}</td>
				<td>{{ matrix_summary.matrix_created|date:'Y/m/d' }}</td>
				<td>{{ matrix_summary.matrix_modified|date:'Y/m/d' }}</td>
				<td>{{ matrix_summary.matrix_owner }}</td>
				<td>{{ matrix_summary.matrix_authorisation_authority }}</td>

			</tr>

		{% if forloop.last %}

			<tr>

			{% if credential_flag %}

				<td><a href="{% url 'new_matrix' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></td>

			{% else %}

				<td>&nbsp;</td>

			{% endif %}

				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

		</table>

		{% endif %}

	{% endfor %}

{% include 'includes/pagination.html' %}

{% else %}

		<p>No Benches are available.</p>

	{% if credential_flag %}

		<p><a href="{% url 'new_matrix' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% else %}

		<p>You are not authorised to add Benches yet!</p>

	{% endif %}

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

<script>

	$(function () {
  		$("#id_created_before").datetimepicker({format: 'd/m/Y H:i',});
	});

	$(function () {
  		$("#id_created_after").datetimepicker({format: 'd/m/Y H:i',});
	});

	$(function () {
		$("#id_modified_before").datetimepicker({format: 'd/m/Y H:i',});
	});

	$(function () {
		$("#id_modified_after").datetimepicker({format: 'd/m/Y H:i',});
	});

</script>

<script>

	function clearForm(oForm) {

		var elements = oForm.elements;

		oForm.reset();

		for(i=0; i<elements.length; i++) {

			field_type = elements[i].type.toLowerCase();

			switch(field_type) {

				case "text":
				case "password":
				case "textarea":
		    	case "hidden":
					elements[i].value = "";
					break;

				case "radio":
				case "checkbox":
	  				if (elements[i].checked) {
	   					elements[i].checked = false;
					}
					break;

				case "select-one":
				case "select-multi":
	            	elements[i].selectedIndex = -1;
					break;

				default:
					break;
			}
		}
	}

</script>

{% endblock %}
