<!--
\file         list_collection_authorisation.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list collection authorisations template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_collections' %}">List Collections</a></li>
			<li>{{ text_flag }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Browse {{ text_flag }}</h1>

	<p>Browse the list of {{ text_flag }}</p>

	<hr>

	<br />

{% if collection_authorisation_list %}

	{% for collection_authorisation in collection_authorisation_list %}

		{% if forloop.first %}

	<table border="0">
		<tr>
			<th width="150px">Action</th>
			<th width="200px">Collection</th>
			<th width="200px">Owner</th>
			<th width="200px">Permitted</th>
			<th width="200px">Authority</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

		{% endif %}

		<tr>
			<td>
				<a href="{% url 'detail_collection_authorisation' collection_authorisation.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

		{% if collection_id == '' %}

				<a href="{% url 'edit_collection_authorisation' collection_authorisation.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>

		{% else %}

				<a href="{% url 'edit_collection_collection_authorisation' collection_id collection_authorisation.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>

		{% endif %}

				<a href="{% url 'delete_collection_authorisation' collection_authorisation.id %}" onclick="return confirm('Are you sure you want to DELETE this COLLECTION AUTHORISATION?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
			</td>

			<td>{{ collection_authorisation.collection.id }}</td>

			<td>{{ collection_authorisation.collection.owner.username }}</td>

			<td>{{ collection_authorisation.permitted.username }}</td>

			<td>{{ collection_authorisation.collection_authority.name }}</td>
		</tr>

		{% if forloop.last %}

	</table>

		{% endif %}

	{% endfor %}


	{% if collection_id == '' %}

	<p><a href="{% url 'new_collection_authorisation' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% else %}

	<p><a href="{% url 'new_collection_collection_authorisation' collection_id %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% endif %}

{% else %}

	<p>No Permissions are available.</p>

	{% if collection_id == '' %}

	<p><a href="{% url 'new_collection_authorisation' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% else %}

	<p><a href="{% url 'new_collection_collection_authorisation' collection_id %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% endif %}

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
