<!--
\file         list_imaging_hosts.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list imaging hosts (Servers) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			Sources
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Browse Sources</h1>

		<p>Browse the list of Sources</p>

		<hr>

		<br />

{% if server_list %}

	{% for server in server_list %}

		{% if forloop.first %}

	    <table border="0">

    	    <tr>
        	    <th width="200px">Action</th>
            	<th width="150px">Owner</th>
	            <th>Name</th>
    	        <th>URL</th>
        	    <th>Type</th>
			</tr>

    	    <tr>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
			</tr>

		{% endif %}

	        <tr>

		{% if credential_flag %}

			{% if user.id == server.owner.id or user.is_superuser %}

	            <td>

				{% if server.type.name == 'WORDPRESS' %}

					<a href="{% url 'webgallery_show_wordpress' server.id 1 %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>

				{% else %}

					<a href="{% url 'webgallery_show_imaging_server' server.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>

				{% endif %}

					<a href="{% url 'detail_server' server.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
					<a href="{% url 'edit_server' server.id %}"><button class="save button button-edit"><i class="fa fa-edit"></i></button></a>
					<a href="{% url 'delete_server' server.id %}" onclick="return confirm('Are you sure you want to DELETE this Image Server?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
    	        </td>

			{% else %}

	            <td>

				{% if server.type.name == 'WORDPRESS' %}

					<a href="{% url 'webgallery_show_wordpress' server.id 1 %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>

				{% else %}

					<a href="{% url 'webgallery_show_imaging_server' server.id %}"><button class="button button-view"><i class="fa fa-eye"></i></button></a>

				{% endif %}

					<a href="{% url 'detail_server' server.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>
	            </td>

			{% endif %}

		{% else %}

    	        <td>&nbsp;</td>

		{% endif %}

        	    <td>{{ server.owner.username }}</td>
            	<td>{{ server.name }}</td>
	            <td>{{ server.url_server }}</td>
    	        <td>{{ server.type.name }}</td>
			</tr>

		{% if forloop.last %}

	        <tr>
    	        <td>&nbsp;</td>
        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
			</tr>

	        <tr>

			{% if credential_flag %}

    	        <td>
					<a href="{% url 'new_server' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a>
	            </td>

			{% else %}

    	        <td>&nbsp;</td>

			{% endif %}

        	    <td>&nbsp;</td>
            	<td>&nbsp;</td>
	            <td>&nbsp;</td>
    	        <td>&nbsp;</td>
			</tr>

    	</table>

		{% endif %}

    {% endfor %}

{% else %}

		<p>No Sources are available.</p>

{% endif %}

	</div>

	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
