<!--
\file         list_bench_authorisation.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list bench authorisation template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'list_benches' %}">List Benches</a></li>
			<li>{{ text_flag }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Browse {{ text_flag }}</h1>

	<p>Browse the list of {{ text_flag }}</p>

	<hr>

	<br />

{% if authorisation_list %}

	{% for authorisation in authorisation_list %}

		{% if forloop.first %}

	<table border="0">
		<tr>
			<th width="150px">Action</th>
			<th width="200px">Bench</th>
			<th width="200px">Owner</th>
			<th width="200px">Permitted</th>
			<th width="200px">Authority</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

		{% endif %}

		<tr>
			<td>
				<a href="{% url 'detail_bench_authorisation' authorisation.id %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

		{% if matrix_id == '' %}

				<a href="{% url 'edit_bench_authorisation' authorisation.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>

		{% else %}

				<a href="{% url 'edit_bench_bench_authorisation' matrix_id authorisation.id %}"><button class="button button-edit"><i class="fa fa-edit"></i></button></a>

		{% endif %}

				<a href="{% url 'delete_bench_authorisation' authorisation.id %}" onclick="return confirm('Are you sure you want to DELETE this BENCH AUTHORISATION?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
			</td>

			<td>CPW:{{ authorisation.matrix.id|stringformat:"06d" }}</td>
			<td>{{ authorisation.matrix.owner.username }}</td>
			<td>{{ authorisation.permitted.username }}</td>
			<td>{{ authorisation.authority.name }}</td>
		</tr>

		{% if forloop.last %}

	</table>

		{% endif %}

	{% endfor %}

	{% if matrix_id == '' %}

	<p><a href="{% url 'new_bench_authorisation' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% else %}

	<p><a href="{% url 'new_bench_bench_authorisation' matrix_id%}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% endif %}

{% else %}

	<p>No Permissions are available.</p>

	{% if matrix_id == '' %}

	<p><a href="{% url 'new_bench_authorisation' %}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% else %}

	<p><a href="{% url 'new_bench_bench_authorisation' matrix_id%}"><button class="button button-add"><i class="fa fa-plus"></i></button></a></p>

	{% endif %}

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
