<!--
\file         list_image_cart.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The list image cart template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li>Images</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Browse Images</h1>

	<p>Browse the list of Images you have collected</p>

	<hr>

	<br />

{% if credential_flag %}

	{% if image_list %}

		{% for image in image_list %}

			{% if forloop.first %}

	<table border="0">
		<tr>
			<th width="150px">Action</th>
			<th width="100px">ROI</th>
			<th>Server</th>
			<th>Image</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>

			{% endif %}

		<tr>
			<td>

			{% if image.server.type.name == 'WORDPRESS' %}

				<a href="{% url 'webgallery_show_wordpress_image' image.server.id image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% else %}

				<a href="{% url 'webgallery_show_image' image.server.id image.identifier %}"><button class="button button-info"><i class="fa fa-info"></i></button></a>

			{% endif %}

				<a href="{% url 'webgallery_delete_image' image.id %}" onclick="return confirm('Are you sure you want to DELETE this IMAGE?')"><button class="button button-delete"><i class="fa fa-trash"></i></button></a>
			</td>

			{% if image.roi == 0 %}

			<td>&nbsp;</td>

			{% else %}

			<td><strong>ROI</strong></td>

			{% endif %}

			<td>{{ image.server.name }}<br />( {{ image.server.url_server }} )</td>

			<td><a href="{{ image.viewer_url  }}" target="_blank"><img alt="{{ image.name }}" title="{{ image.name }}" style="height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" ></a></td>
		</tr>

			{% if forloop.last %}

	</table>

			{% endif %}

		{% endfor %}

	{% else %}

	<p>No Images are available.</p>

	{% endif %}

{% else %}

	<p>No Images are allowed yet.</p>

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
