{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li class="breadcrumb-item">
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>
	
		<li class="breadcrumb-item active">
			NEW Source
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>NEW Source</h1>

		<hr>

		<br />

{% if credential_flag %}

	    <form method="POST" class="post-form">
		
{% csrf_token %}

{% include 'includes/form.html' %}

			<br />

	        <button type="submit" class="button button-delete">Save</button>

	    </form>

		<br />

		<a href="{% url 'list_imaging_hosts' %}"><button class="button button-add">CANCEL</button></a>

{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
