{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
	<ol class="breadcrumb">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:list_imaging_hosts' %}">
				Sources
			</a>
		</li>
	
		<li class="breadcrumb-item active">
			NEW Source
		</li>
	
	</ol>
	
	<h1>NEW Source</h1>
	<br />

{% if credential_flag %}

	    <form method="POST" class="post-form">
		
{% csrf_token %}

{% include 'includes/form.html' %}

	        <button type="submit" class="save btn btn-danger">Save</button>

	    </form>

		<a href="{% url 'matrices:list_imaging_hosts' %}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

{% endif %}

{% endblock %}
