{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}
    
<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}">
					Home
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'list_imaging_hosts' %}">
					Sources
				</a>
			</li>
	
			<li class="breadcrumb-item active">
				NEW Source
			</li>
	
		</ol>
	
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>NEW Source</h1>
		<br />

{% if credential_flag %}

	    <form method="POST" class="post-form">
		
{% csrf_token %}

{% include 'includes/form.html' %}

	        <button type="submit" class="save btn btn-danger">Save</button>

	    </form>

		<a href="{% url 'list_imaging_hosts' %}">
			<button class="save btn btn-success">CANCEL</button>
		</a>

{% endif %}

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
