<!DOCTYPE html>
<html lang="en">

{% load custom %}

{% load static %}

<head>

	<meta charset="utf-8">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="{% static 'styles.css' %}">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<title>{% block title %}Comparative Pathology Workbench{% endblock %}</title>
	
</head>

<body>

	<div class="container">
	
	<nav class="navbar navbar-expand-lg navbar-light">

		<div class="navbar-brand abs">
		
			<a class="navbar-brand" href="{% url 'matrices:home' %}">
				<strong>Comparative Pathology Workbench</strong>
			</a>
			
		</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
	
				<ul class="navbar-nav mr-auto">


					<li class="nav-item dropdown">
	
{% if matrix_list %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Benches ({{ matrix_list.count }})</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					
							<li><a class="dropdown-item" href="{% url 'matrices:list_matrix' %}">All Benches</a></li>

			                <li class="dropdown-submenu">

			                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" data-toggle="dropdown">My Benches</a>

			                    <ul class="dropdown-menu">	

									<li><a class="dropdown-item" href="{% url 'matrices:index' %}">My Benches</a></li>
		
		{% for matrix in matrix_list %}

									<li><a class="dropdown-item" href="{% url 'matrices:matrix' matrix.id %}">CPW:{{ matrix.id|stringformat:"06d" }}, {{ matrix.title }}</a></li>
	
		{% endfor %}

								</ul>

							<li><a class="dropdown-item" href="{% url 'matrices:new_matrix' %}">Add New Bench</a></li>

						</ul>
{% else %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Benches</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					
							<li><a class="dropdown-item" href="#">No Benches are available!</a></li>

						</ul>

{% endif %}

					</li>

					<li class="nav-item dropdown">
	
{% if server_list %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sources ({{ server_list.count }})</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					

		{% for server in server_list %}

			{% if forloop.first %}
		
							<li><a class="dropdown-item" href="{% url 'matrices:list_imaging_hosts' %}">Sources</a></li>
			
			{% endif %}
			
			{% if server.type.name == 'WORDPRESS' %}
	
							<li><a class="dropdown-item" href="{% url 'matrices:webgallery_show_wordpress' server.id 1 %}">{{ server.name }}</a></li>

			{% else %}
	
							<li><a class="dropdown-item" href="{% url 'matrices:webgallery_show_imaging_server' server.id %}">{{ server.name }}</a></li>

			{% endif %}

	
		{% endfor %}

						</ul>

{% else %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servers</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					
							<li><a class="dropdown-item" href="#">No Sources are available!</a>

						</ul>

{% endif %}

					</li>

					<li class="nav-item dropdown">
	
{% if image_list %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images ({{ image_list.count }})</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					

		{% for image in image_list %}

			{% if forloop.first %}
		
							<li><a class="dropdown-item" href="{% url 'matrices:list_image_cart' %}">List Your Image Collection</a></li>
			
			{% endif %}

			{% if image.roi == 0 %}
			
				{% if image.server.type.name == 'WORDPRESS' %}

							<li><a class="dropdown-item" href="{% url 'matrices:webgallery_show_wordpress_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}</a></li>

				{% else %}
	
							<li><a class="dropdown-item" href="{% url 'matrices:webgallery_show_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}</a></li>
	
				{% endif %}
	
		{% else %}

							<li><a class="dropdown-item" href="{% url 'matrices:webgallery_show_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}, (ROI)</a></li>
	
			{% endif %}

		{% endfor %}

						</ul>
{% else %}

						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Images</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">
					
							<li><a class="dropdown-item" href="#">No Images are available!</a></li>

						</ul>

{% endif %}

					</li>

					<li class="nav-item dropdown">
	
						<a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
	
						<ul class="dropdown-menu" aria-labelledby="dropdown07">

							<li><a class="dropdown-item" href="{% url 'matrices:about' %}">About</a></li>
			
							<li><a class="dropdown-item" href="{% url 'matrices:people' %}">People</a></li>

							<li><a class="dropdown-item" href="{% url 'matrices:howto' %}">How To</a></li>

						</ul>

					</li>

				</ul>

				<ul class="navbar-nav ml-auto">

{% if user.is_authenticated %}

					<li class="nav-item dropdown">
			            
			            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            	{{ user.username }}
			            </a>
            			
            			<ul class="dropdown-menu" aria-labelledby="dropdown01">

							<li><a class="dropdown-item" href="{% url 'matrices:detail_user_general' user.id %}">
			                    My account
		                    </a>
        		
        		            <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a></li>
				
        		            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
				
							<li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

	{% if user.is_superuser %}

							<li><a class="dropdown-item" href="{% url 'matrices:maintenance' %}">Maintenance</a></li>

							<li><a class="dropdown-item" href="{% url 'matrices:authorisation' %}">Authorisation</a></li>

	{% endif %}

						</ul>

            		</li>
            		
{% else %}

					<li class="nav-item dropdown">
			            
			            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            	User
			            </a>
            			
            			<ul class="dropdown-menu" aria-labelledby="dropdown01">

							<li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>

							<li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>

						</ul>

            		</li>
            		
{% endif %}

				</ul>

			</div>


	</nav>
	
	</div>
	
	<main role="main" class="container">
    
	{% block content %}

	
	{% endblock %}
	
	</main>

	<!-- Footer -->
	<footer class="footer">

		<!-- Footer Links -->
		<div class="container">

			<div>

				<!-- Grid row -->
				<div class="row">

					<!-- Grid column -->
					<div class="col-md-3 mx-auto">

						<!-- Links -->
						<!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4" >Links</h5> -->

						<ul class="list-unstyled">
							<li>
								<a href="https://www.chanzuckerberg.com/"><img src="https://chanzuckerberg.com/wp-content/themes/czi/img/logo.svg" style="background-color: #FFFFFF;" height="70" width="125"></a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 mx-auto">

						<!-- Links -->
						<ul class="list-unstyled">
							<li>
								<a href="https://www.humancellatlas.org/"><img src="https://www.humancellatlas.org/bundles/hca/img/logo.png" style="background-color: #FFFFFF;" height="55" width="140"></a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 mx-auto">

						<!-- Links -->
						<ul class="list-unstyled">
							<li>
								<a href="https://www.hw.ac.uk/"><img src="{% static 'HW-Logo.jpg' %}" style="background-color: #FFFFFF;" height="55" width="125"></a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 mx-auto">

						<!-- Links -->
						<ul class="list-unstyled">
							<li>
								<a href="https://www.ed.ac.uk/pathology"><img src="https://www.ed.ac.uk/sites/all/themes/uoe/assets/logo.png" style="background-color: #FFFFFF;" height="55" width="220"></a>
							</li>
						</ul>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row -->

			</div>

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center">
			&copy; University of Edinburgh | 
			<a href="https://www.ed.ac.uk/about/website/privacy/">Privacy & Cookies</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->		

<script>

 $(document).ready(function(){
		$("textarea").attr({"rows": "10",
							"cols": "50"
		});
});

</script>

<script>

$(document).ready(function(){
	
	$("#matrix_info").on("hide.bs.collapse", function(){
		$(".btn-expand").html('<i class="fa fa-plus"></i>');
	});
	
	$("#matrix_info").on("show.bs.collapse", function(){
		$(".btn-expand").html('<i class="fa fa-minus"></i>');
	});

});


/*!
 * Bootstrap 4 multi dropdown navbar ( https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-navbar/ )
 * Copyright 2017.
 * Licensed under the GPL license
 */


$( document ).ready( function () {
    $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
        var $el = $( this );
        $el.toggleClass('active-dropdown');
        var $parent = $( this ).offsetParent( ".dropdown-menu" );
        if ( !$( this ).next().hasClass( 'show' ) ) {
            $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
        }
        var $subMenu = $( this ).next( ".dropdown-menu" );
        $subMenu.toggleClass( 'show' );
        
        $( this ).parent( "li" ).toggleClass( 'show' );

        $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
            $( '.dropdown-menu .show' ).removeClass( "show" );
            $el.removeClass('active-dropdown');
        } );
        
         if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
            $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
        }

        return false;
    } );
} );

</script>
		
</body>

</html>