<!--
\file         base.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The base header and footer include template
-->

<!DOCTYPE html>
<html lang="en">

{% load custom %}

{% load static %}

<head>

	<meta charset="utf-8">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}" />
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}" >
	<link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-icon-192x192.png' %}" />
	<link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
	<link rel="manifest" href="{% static 'manifest.json' %}" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

	{% if settings.LOCATION == 'CZI' %}

	<!-- CZI -->
	<link rel="stylesheet" href="{% static 'styles_czi_less.css' %}" />

	{% endif %}

	{% if settings.LOCATION == 'CANADA' %}

	<!-- CANADA -->
	<link rel="stylesheet" href="{% static 'styles_canada_less.css' %}">

	{% endif %}

	{% if settings.LOCATION == 'COELIAC' %}

	<!-- COELIAC -->
	<link rel="stylesheet" href="{% static 'styles_coeliac_less.css' %}">

	{% endif %}

	<title>{% block title %}Comparative Pathology Workbench{% endblock %}</title>

</head>

<body>


<!-- Navigation Bar -->

<div class="nav-grid-container">

	<div class="nav-grid-item">

		<div class="my-navbar">

			<a href="{% url 'home' %}"><strong>Comparative Pathology Workbench</strong></a>

		</div>
	</div>

	<div class="nav-grid-item">

<!-- BENCHES -->

		<div class="my-subnav">

{% if matrix_list %}

			<button class="my-subnavbtn">Benches ({{ matrix_list|length }}) <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

	{% for matrix in matrix_list %}

		{% if forloop.first %}

				<a href="{% url 'list_benches' %}">List Benches ({{ matrix_list|length }})</a>

				<div class="my-nav-dropdown">

					<button class="my-subnav-dropbtn">All Benches <i class="fa fa-caret-down"></i></button>

					<div class="my-nav-dropdown-content">

		{% endif %}

						<a href="{% url 'matrix' matrix.matrix_id %}">CPW:{{ matrix.matrix_id|stringformat:"06d" }}, {{ matrix.matrix_title|truncatechars:25 }}</a>

		{% if forloop.last %}

					</div>

				</div>

		{% endif %}

	{% endfor %}

	{% if user.is_authenticated %}

				<a href="{% url 'new_matrix' %}">Add New Bench</a>

	{% endif %}

			</div>

{% else %}

			<button class="my-subnavbtn">Benches <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

				<a class="dropdown-item" href="#">No Benches are available!</a>

			</div>

{% endif %}


		</div>


<!-- COLLECTIONS -->

		<div class="my-subnav">

{% if collection_list %}

			<button class="my-subnavbtn">Collections ({{ collection_list|length }}) <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

	{% for collection in collection_list %}

		{% if forloop.first %}

				<a href="{% url 'list_collections' %}">List Collections ({{ collection_list|length }})</a>

				<div class="my-nav-dropdown">

					<button class="my-subnav-dropbtn">Collections <i class="fa fa-caret-down"></i></button>

					<div class="my-nav-dropdown-content">

		{% endif %}

						<a href="{% url 'view_collection' collection.collection_id %}">{{ collection.collection_id|stringformat:"06d" }}, {{ collection.collection_title|truncatechars:25 }}, ({{ collection.collection_owner }})</a>

		{% if forloop.last %}

					</div>

				</div>

		{% endif %}

	{% endfor %}

	{% if user.is_authenticated %}

				<a href="{% url 'new_collection' %}">Add New Collection</a>

	{% endif %}

			</div>

{% else %}

			<button class="my-subnavbtn">Collections <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

				<a class="dropdown-item" href="#">No Collections are available!</a>

			</div>

{% endif %}

		</div>


<!-- IMAGES -->

		<div class="my-subnav">

<!-- Do you have some Images to look at? -->

{% if image_list %}

			<button class="my-subnavbtn">Images ({{ image_list.count }}) <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

	{% for image in image_list %}

		{% if forloop.first %}

				<a href="{% url 'view_active_collection' %}">List Your ACTIVE Image Collection</a>

				<div class="my-nav-dropdown">

					<button class="my-subnav-dropbtn">Your Images <i class="fa fa-caret-down"></i></button>

					<div class="my-nav-dropdown-content">

		{% endif %}

		{% if image.roi == 0 %}

			{% if image.server.type.name == 'WORDPRESS' %}

						<a href="{% url 'webgallery_show_wordpress_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}</a>

			{% else %}

						<a href="{% url 'webgallery_show_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}</a>

			{% endif %}

		{% else %}

						<a href="{% url 'webgallery_show_image' image.server.id image.identifier %}">{{ image.identifier }}, {{ image.name }}, (ROI)</a>

		{% endif %}

		{% if forloop.last %}

					</div>

				</div>

		{% endif %}

	{% endfor %}

			</div>

{% else %}

			<button class="my-subnavbtn">Images <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

				<a class="dropdown-item" href="#">No Images are available!</a>

			</div>

{% endif %}

		</div>


<!-- SERVERS -->

		<div class="my-subnav">

<!-- Do you have some Servers to look at? -->

{% if server_list %}

			<button class="my-subnavbtn">Sources ({{ server_list.count }}) <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content">

	{% for server in server_list %}

		{% if forloop.first %}

				<a href="{% url 'list_imaging_hosts' %}">All Sources</a>

				<div class="my-nav-dropdown">

					<button class="my-subnav-dropbtn">All Sources <i class="fa fa-caret-down"></i></button>

					<div class="my-nav-dropdown-content">

						<a href="{% url 'list_imaging_hosts' %}">All Sources</a>

		{% endif %}

		{% if server.type.name == 'WORDPRESS' %}

						<a href="{% url 'webgallery_show_wordpress' server.id 1 %}">{{ server.name }}</a>

		{% else %}

						<a href="{% url 'webgallery_show_imaging_server' server.id %}">{{ server.name }}</a>

		{% endif %}

		{% if forloop.last %}

					</div>

				</div>

		{% endif %}

	{% endfor %}

			</div>

{% else %}

			<button class="my-subnavbtn">Sources <i class="fa fa-caret-down"></i>
			</button>

			<div class="my-subnav-content">

				<a class="dropdown-item" href="#">No Sources are available!</a>

			</div>

{% endif %}

		</div>


<!-- ABOUT -->

		<div class="my-subnav">

			<button class="my-subnavbtn">About <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content-nodrop">

				<a href="{% url 'about' %}">About</a>

				<a href="{% url 'people' %}">People</a>

				<a href="{% url 'howto' %}">How To</a>

			</div>

		</div>


<!-- PROFILE RIGHT -->

{% if user.is_superuser %}

		<div class="my-subnav-right">

			<button class="my-subnavbtn-right">ADMIN<i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content-right">

				<a href="{% url 'authorisation' %}">Authorisation</a>

				<a href="{% url 'maintenance' %}">Maintenance</a>

				<a href="{% url 'admin:index' %}">ADMIN</a>

				<a href="{% url 'api-root' %}">API</a>

				<a href="{% url 'collectivization' %}">Setup Default Collections</a>

				<a href="{% url 'mailer' %}">Send Test Email</a>

			</div>

		</div>

{% endif %}

		<div class="my-subnav-right">

{% if user.is_authenticated %}

			<button class="my-subnavbtn-right">{{ user.username }} <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content-right">

				<a href="{% url 'logout' %}">Logout</a>

	{% if user.is_superuser %}

				<a href="{% url 'list_my_bench_authorisation' %}">My Bench Permissions</a>

				<a href="{% url 'list_bench_authorisation' %}">All Bench Permissions</a>

				<a href="{% url 'list_my_collection_authorisation' %}">My Collection Permissions</a>

				<a href="{% url 'list_collection_authorisation' %}">All Collection Permissions</a>

	{% else %}

				<a href="{% url 'list_my_bench_authorisation' %}">My Bench Permissions</a>

				<a href="{% url 'list_my_collection_authorisation' %}">My Collection Permissions</a>

	{% endif %}

				<a href="{% url 'password_change' %}">Change Password</a>

				<a href="{% url 'detail_user' user.id %}">My Account</a>

			</div>

{% else %}

			<button class="my-subnavbtn-right">User <i class="fa fa-caret-down"></i></button>

			<div class="my-subnav-content-right">

				<a href="{% url 'login' %}">Login</a>

				<a href="{% url 'signup' %}">Register</a>

			</div>

{% endif %}

		</div>

{% if user.is_authenticated %}

		<div class="my-subnav">

			<div class="search-container">

				<form action="{% url 'list_benches' %}" method="get">

					<input id="id_search" type="text" placeholder="Search ..." name="search">

					<button type="submit"><i class="fa fa-search"></i></button>

				</form>

		    </div>

		</div>

{% endif %}

	</div>

</div>

<!-- <main role="main"> -->

	{% block content %}


	{% endblock %}

<!-- </main> -->

<div class="my-footer">

	<div class="footer-grid-container">

		<div>
		</div>

		<div>
			<a href="https://helmsleytrust.org/"><img src="{% static 'helmsley.png' %}" style="background-color: #FFFFFF;" width="170" /></a>
		</div>

		<div>
			<a href="https://www.humancellatlas.org/"><img src="{% static 'HCA-logo-1500x500.jpeg' %}" style="background-color: #FFFFFF;" width="170" /></a>
		</div>

		<div>
			<a href="https://www.ed.ac.uk/pathology"><img src="https://www.ed.ac.uk/sites/all/themes/uoe/assets/logo.png" style="background-color: #FFFFFF;" width="220" /></a>
		</div>

		<div>
			<a href="https://www.hw.ac.uk/"><img src="{% static 'HW-Logo.jpg' %}" style="background-color: #FFFFFF;" width="125" /></a>
		</div>

		<div>
			<a href="https://www.chanzuckerberg.com/"><img src="https://chanzuckerberg.com/wp-content/themes/czi/img/logo.svg" style="background-color: #FFFFFF;" width="125" /></a>
		</div>

		<div>
		</div>

	</div>

</div>

</body>

</html>
