<!--
\file         mailer.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The mailer template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'execute_command' %}">Execute Command</a></li>
			<li>Mailer Test Page</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">

	<!-- Tab links -->
	<div class="tab">
		<button class="tablinks"><a href="{% url 'execute_command' %}">Execute Command</a></button>
		<button class="tablinks"><a href="{% url 'collectivization' %}">Setup Default Collections</a></button>
		<button class="tablinks"><a href="{% url 'renaming' %}">Rename Images</a></button>
		<button class="tablinks active"><a href="{% url 'mailer' %}">Send Test Email</a></button>
		<button class="tablinks"><a href="{% url 'charttidyup' %}">Clean Up Charts</a></button>
		<button class="tablinks"><a href="{% url 'thumbnails' %}">Generate Thumbnails</a></button>
	</div>

</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>The Mailer Test Page</h1>

	<p>The Mailer Test Page</p>

	<hr>

	<br />

	<h3>The Mailer Test Page</h3>

	<p>An email has been sent!</p>

	<dl class="standard">
		<dt>To</dt>
		<dd>{{ email_to }}</dd>
		<dt>From</dt>
		<dd>{{ email_from }}</dd>
		<dt>Subject</dt>
		<dd>{{ subject }}</dd>
		<dt>Message</dt>
		<dd>{{ message }}</dd>
	</dl>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
