
/* NOTE to Self                                     */
/* padding with 4 numbers: Top Right Bottom Left    */
/* padding with 3 numbers: Top Right&&Left Bottom   */
/* padding with 2 numbers: Top&&Bottom Right&&Left  */
/* padding with 1 number : Top&&Bottom&&Right&&Left */


text-left {
	font-family				: Verdana, Geneva, sans-serif;
	color					: #000000;				/* Black */ 
}

.vertical_text{
	width					: 1px;
	word-wrap				: break-word;
	font-style				: italic;
}


 /* Dropdown Button */
.dropbtn {
	background-color		: #F9E79F;				/* Pale Yellow */ 
	color					: #FFFFFF;				/* White */ 
	padding					: 5px 5px 5px 5px;
	font-size				: 16px;
	border					: none;
	cursor					: pointer;
}

.dropmaster {
	background-color		: #F9E79F;				/* Pale Yellow */ 
	color					: #FFFFFF;				/* White */ 
	padding					: 5px 5px 5px 5px;
	font-size				: 16px;
	border					: none;
	cursor					: pointer;
}

 /* Dropdown Button */
.dropcell {
	background-color		: #CCFFCC;				/* Light Green */ 
	color					: #FFFFFF;				/* White */ 
	padding					: 0px 0px 0px 0px;
	font-size				: 16px;
	border					: none;
	cursor					: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	 position				: relative;
	 display				: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	 display				: none;
	 position				: absolute;
	 z-index				: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	 color					: #000000;				/* Black */ 
	 text-decoration		: none;
	 display				: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color		: #DDDDDD;				/* Medium Grey */ 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display					: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color		: #F9E79F;				/* Pale Yellow */ 
} 

.dropdown-toggle.active-dropdown::after {
	transform				: rotate(-90deg);
}




