
#row-main {
    overflow-x: hidden;
}


#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
	width: 5%;
}

.footer {
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 90px;
	line-height: 70px; /* Vertically center the text there */
	background-color: #FFFFFF;
}
.footer-copyright {
	width: 100%;
	height: 90px;
	line-height: 90px; /* Vertically center the text there */
	/* Set the fixed height of the footer here */
	background-color: #FFFFFF;
}

.navbar.navbar-expand-lg.navbar-light {
	max-width: 100%;
	background-color: #e3f2fd;
 	/*padding-top: 4.5rem;*/
}

body {
	min-height: 75rem;
	margin-bottom: 60px;
	/*padding-top: 4.5rem;*/
}

.bg-custom {
    background-color: #e3f2fd !important;
}

nav.container {
	padding-right: 0px;
	padding-left: 0px;
}

main.container {
	min-height: 60rem;
	/*padding-top: 4.5rem;*/
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	color: #73AD21;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	color: #73AD21;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	color: #73AD21;
}

textarea {
	width: 1050px;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.breadcrumb.subheading {
	max-width: 100%;
	background-color: #e3f2fd;
 	/*padding-top: 4.5rem;*/
}

