/* COELIAC SPECIFIC STYLINGS */

/* NAV BAR and SUB-NAV BAR Stylings */

.my-navbar {
	overflow				: hidden;
	padding					: 10px 10px 10px 10px;
	background-color		: #FCBA03;				/* Orangey Yellow */
}

.my-navbar a {
	float					: left;
	font-size				: 25px;
	color					: #000000;				/* Black */
	text-align				: left;
	padding					: 10px 10px 10px 10px;
	text-decoration			: none;
}

.my-subnav {
	float					: left;
	overflow				: hidden;
	background-color		: #FCBA03;				/* Orangey Yellow */
}

.my-subnav .my-subnavbtn {
	font-size				: 14px;	
	border					: none;
	outline					: none;
	color					: #000000;				/* Black */
	padding					: 32px 16px 21.5px 16px;
	background-color		: inherit;
	font-family				: inherit;
	margin					: 0;
}

.my-subnav-right {
	float					: right;
	overflow				: hidden;
	background-color		: #FCBA03;				/* Orangey Yellow */
}

.my-subnav-right .my-subnavbtn-right {
	font-size				: 14px;	
	border					: none;
	outline					: none;
	color					: #000000;				/* Black */
	padding					: 32px 16px 21.5px 16px;
	background-color		: inherit;
	font-family				: inherit;
	margin					: 0;
}

.my-navbar a:hover, .my-subnav:hover .my-subnavbtn {
	background-color		: #C6C6C6;				/* Medium Grey */ 
	/*border-radius			: 5px 5px 5px 5px;*/
}

.my-subnav:hover .my-subnavbtn {
	background-color		: #F5F3F2;				/* Extremely Light Grey */
	/* border-radius			: 5px 5px 5px 5px; */
}

.my-subnav-right:hover .my-subnavbtn-right {
	background-color		: #F5F3F2;				/* Extremely Light Grey */
	/* border-radius			: 5px 5px 5px 5px; */
}


.nav-grid-item {
	padding				: 0px 0px 0px 0px;
	font-size				: 10px;
	text-align				: left;
	background-color		: #FCBA03;				/* Orangey Yellow */
}


/* BREADCRUMB Stylings */

ul.my-breadcrumb {
	list-style				: none;
	background-color		: #FCBA03;				/* Orangey Yellow */
	padding					: 10px 6px 10px 25px;
	margin					: 0px 0px 0px 0px;
}

ul.my-breadcrumb li {
	display					: inline;
	font-size				: 14px;
}

ul.my-breadcrumb li+li:before {
	padding					: 8px;
	color					: #000000;				/* Black */
	content					: "/\00a0";
}

ul.my-breadcrumb li a {
	color					: #0275D8;				/* Bright Blue */ 
	text-decoration			: none;
}

ul.my-breadcrumb li a:hover {
	color					: #01447E;				/* Dark Blue */ 
	text-decoration			: underline;
}
