<!--
\file         collectivization.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The renaming template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div>

	<ul class="my-breadcrumb">


	    <li class="breadcrumb-item">
		    <a href="{% url 'home' %}">Home</a>
		</li>

		<li class="breadcrumb-item active">
			Tidy up the Chart Folder on the Webserver
		</li>

	</ul>

</div>


<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Chart Tidy Up</h1>

		<p>Deletes Any Image on the Webserver, that is NOT in the Image Table!</p>

		<hr>

		<br />

		<h3>Messages</h3>

{% if out_message_list %}

    {% for out_message in out_message_list %}

		{% if forloop.first %}

	    	<ol>

		{% endif %}

    	    	<li>
					{{ out_message }}
				</li>

		{% if forloop.last %}

			</ol>

		{% endif %}

    {% endfor %}

{% else %}

	<p>No Messages are available.</p>

{% endif %}

	</div>

	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />

{% endblock %}
