{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

{% if user.is_superuser %}
	
		<li>
			<a href="{% url 'authorisation' %}">Authorisation</a>
		</li>
	
		<li>
			<a href="{% url 'detail_user' subject.id %}">User {{ subject.id }}</a>
		</li>
	
{% endif %}
	
		<li class="breadcrumb-item active">
			User Details
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>User {{ subject.id }}</h1>

		<hr>
		
		<br />

		<dl class="standard">
			<dt>ID</dt>
			<dd>{{ subject.id }}</dd>
			<dt>User</dt>
			<dd>{{ subject.username }}</dd>
			<dt>Name</dt>
			<dd>{{ subject.get_full_name }}</dd>
			<dt>Email</dt>
			<dd>{{ subject.email }}</dd>
			<dt>Is Active?</dt>
			<dd>{{ subject.is_active }}</dd>
			<dt>Is Super User?</dt>
			<dd>{{ subject.is_superuser }}</dd>
			<dt>Last Login Date</dt>
			<dd>{{ subject.last_login }}</dd>
			<dt>Date Joined</dt>
			<dd>{{ subject.date_joined }}</dd>
		</dl>

		<br />

{% if user.is_superuser %}

		<a href="{% url 'authorisation' %}"><button class="button button-add">BACK</button></a>

		<a href="{% url 'edit_user' subject.id %}"><button class="button button-edit">EDIT</button></a>

{% else %}

		<a href="{% url 'home' %}"><button class="button button-add">BACK</button></a>

{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
