<!--
\file         detail_blog_credential.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The detail blog credential template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="{% url 'authorisation' %}">Authorisation</a></li>
			<li><a href="{% url 'detail_blog_credential' credential.id %}">Blog Credential {{ credential.id }}</a></li>
			<li>Blog Credential Details</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<div class="page-content">

	<h1>Blog Credential {{ credential.id }}</h1>

	<hr>

	<br />

	<dl class="standard">

		<dt>Wordpress Id</dt>
		<dd>{{ credential.wordpress }}</dd>

		<dt>User Name</dt>
		<dd>{{ credential.username }}</dd>

		<dt>Application Password</dt>
		<dd>{{ credential.apppwd }}</dd>

	</dl>

	<br />

	<a href="{% url 'authorisation' %}"><button class="button button-add">BACK</button></a>

	<a href="{% url 'edit_blog_credential' credential.id %}"><button class="button button-edit">Edit</button></a>

</div><!-- End of page-content -->

{% endblock %}
