<!--
\file         show_image.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show image template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'webgallery_show_imaging_server' server.id %}">{{ server.name }}</a></li>

	{% if image.name != 'ERROR' %}

			<li><a href="{% url 'webgallery_show_group' server.id group.id %}">{{ group.name|truncatechars:20 }}</a></li>

			{% for project in projects %}

			<li><a href="{% url 'webgallery_show_project' server.id project.id 1 %}">{{ project.name|truncatechars:20 }}</a></li>

			{% endfor %}

			{% for dataset in datasets %}

			<li><a href="{% url 'webgallery_show_dataset' server.id dataset.id %}">{{ dataset.name|truncatechars:20 }}</a></li>

			{% endfor %}

			<li>{{ image.name|truncatechars:20 }}</li>

	{% endif %}

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}

	{% for message in messages %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

	<div class="panel-alert">

		<p>{{ message }}</p>

	</div>

		{% endif %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

	<div class="panel-success">

		<p>{{ message }}</p>

	</div>

		{% endif %}

    {% endfor %}

{% endif %}


{% if image.name == 'ERROR' %}

	<p>Image {{ image.id }} Does NOT Exist!</p>

{% else %}

	<h1>{{ image.name|truncatechars:20 }}</h1>

	<hr>

	<h3>Tags</h3>
    <p>Existing Tags for this Image: 
	{% for used_tag in local_image.tags.all %}
	<a href="{% url 'webgallery_untag_image' local_image.id used_tag.slug %}" class="badge badge-danger" onclick="return confirm('Are you sure you want to REMOVE this TAG?')">#{{ used_tag }}</a>
	{% endfor %}
	</p>
	
	<form id="search" method="POST" action="{% url 'autocompleteTag' local_image.id %}">

		{% csrf_token %}

		<div class="form-container">
			<div class="form-row">
				<div class="form-col-15">
					<label for="txtSearch">Add Tags:</label>
			  	</div>
			  	<div class="form-col-5">
			  	</div>
			  	<div class="form-col-20">
					<input type="text" name="txtSearch" maxlength="255" required id="txtSearch">
			  	</div>
			  	<div class="form-col-5">&nbsp;
			  	</div>
			  	<div class="form-col-50">
	{% if unused_tags %}
					<p>Common Tags to reuse:
		{% for unused_tag in unused_tags %}
					<a href="{% url 'webgallery_tag_image' local_image.id unused_tag.slug %}" class="badge badge-success">#{{ unused_tag.name }}</a>
		{% endfor %}
					</p>
	{% endif %}
			  	</div>
			  	<div class="form-col-5">
			  	</div>
			</div>
		</div>

	</form>
	   
	<br />

    <hr>

    <h3>Image Information</h3>

    <br />

	<dl class="standard">
		<dt>Image Name</dt>
		<dd>{{ image.name }}</dd>
    	<dt>Image Description</dt>
	    <dd>{{ image.description }}</dd>
	</dl>

	<table>
    	<tr>
        	<td>Image:</td>
            <td>
				<a href="{{ image.viewer_url  }}" target="_blank"><img style="height:256px; float: left" alt="{{ image.name }}" title="{{ image.name }}" src="{{ local_image.birdseye_url }}" ></a>
			</td>
		</tr>
    	<tr>
        	<td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>
		<tr>
	       	<td>Dimensions (XY):</td>
		    <td>{{ image.sizeX }} x {{ image.sizeY }}</td>
	    </tr>
    	<tr>
	         <td>Pixels Type:</td>
		     <td>{{ image.pixelstype }}</td>
	    </tr>
		<tr>
	        <td>Pixels Size (XYZ) (&#181m):</td>
		    <td>{{ image.pixelsizeX|floatformat:4 }} x {{ image.pixelsizeY|floatformat:4 }}</td>
	    </tr>
    	<tr>
	    	<td>Z-sections/Timepoints:</td>
		    <td>{{ image.sizeZ }} x {{ image.sizeT }}</td>
	    </tr>
    </table>

	<br />
	<br />

	<hr>

	<h3>Regions Of Interest (ROIs)</h3>

	<p>Image has {{ image.roi_count }} ROIs</p>

	{% for roi in rois %}

	<table>

		{% for shape in roi.shapes %}

	   	<tr>
	       	<td>&nbsp;</td>
	        <td>&nbsp;</td>
		</tr>
    	<tr>
    		<td>ROI ID:</td>
		    <td>{{ shape.id }}</td>
		</tr>
    	<tr>
	       	<td>Coordinates:</td>
		    <td>X: {{ shape.centre_x }}, Y: {{ shape.centre_y }}, Width: {{ shape.width }}, Height: {{ shape.height }}</td>
		</tr>
    	<tr>
	        <td>{{ shape.type }}</td>
		    <td>
				<a href="{{ shape.viewer_url }}" target="_blank"><img style="width:256px;" alt="{{ shape.type }}" title="{{ shape.type }}" src="{{ shape.shape_url }}" ></a>
		    </td>
	    </tr>
	    <tr>
	       	<td>&nbsp;</td>
		    <td>&nbsp;</td>
		</tr>

		<hr>

		{% endfor %}

    </table>

	{% endfor %}

	<br />
	<br />

	<hr>

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

<script>
	$(document).ready(function(){ 
		$("#txtSearch").autocomplete({
			source: "{% url 'autocompleteTag' local_image.id %}",
			minLength: 2,
			open: function(){
				setTimeout(function () {
					$('.ui-autocomplete').css('z-index', 99);
				}, 0);
			}
		  });
	});
</script>


{% endblock %}
