<!--
\file         show_image.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show image template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'webgallery_show_imaging_server' server.id %}">{{ server.name }}</a></li>

	{% if image.name != 'ERROR' %}

			<li><a href="{% url 'webgallery_show_group' server.id group.id %}">{{ group.name|truncatechars:20 }}</a></li>

			{% for project in projects %}

			<li><a href="{% url 'webgallery_show_project' server.id project.id 1 %}">{{ project.name|truncatechars:20 }}</a></li>

			{% endfor %}

			{% for dataset in datasets %}

			<li><a href="{% url 'webgallery_show_dataset' server.id dataset.id %}">{{ dataset.name|truncatechars:20 }}</a></li>

			{% endfor %}

			<li>{{ image.name|truncatechars:20 }}</li>

	{% endif %}

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<!-- Page Side Bar -->
<div class="page-sidebar">
	<div class="collection-container">
  
{% if image_flag %}

		<div class="collection-item">
		  <div class="collection-menu">
			<a href="{% url 'list_images' user.profile.active_collection.id %}">
			  <button class="button button-view">
				  <div class="tooltipcolumn">
				  <i class="fa-solid fa-eye"></i>
				  <span class="tooltipcolumntext"> View Active Image Collection ({{user.profile.active_collection.get_formatted_id}}, {{user.profile.active_collection.title}})</span>
				</div>
			  </button>
			</a>
		  </div>
		</div>
		
		<div class="collection-item">
		  <div class="collection-menu">
			<a href="#" onclick="open_active_collection_selection_dialog(event, 'Select Active Collection ...'); return false;">
			  <button class="button button-add">
				  <div class="tooltipcolumn">
				  <i class="fa-solid fa-bell"></i>
				  <span class="tooltipcolumntext"> Select Active Collection</span>
				</div>
			  </button>
			</a>
		  </div>
		</div>
	
		<div class="collection-item">
		  <div class="collection-menu">
			<a href="{% url 'webgallery_add_image' server.id image.id 0 add_from 0 %}" onclick="return confirm('Are you sure you want to ADD this Image to Your ACTIVE Image Collection?')">
			  <button class="button button-add">
				  <div class="tooltipcolumn">
				  <i class="fa-solid fa-plus"></i>
				  <span class="tooltipcolumntext"> Add Image to Active Image Collection ({{user.profile.active_collection.get_formatted_id}}, {{user.profile.active_collection.title}})</span>
				</div>
			  </button>
			</a>
		  </div>
		</div>

{% endif %}

	</div>
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}

	{% for message in messages %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

	<div class="panel-alert">

		<p>{{ message }}</p>

	</div>

		{% endif %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

	<div class="panel-success">

		<p>{{ message }}</p>

	</div>

		{% endif %}

    {% endfor %}

{% endif %}


{% if image.name == 'ERROR' %}

	<p>Image {{ image.id }} Does NOT Exist!</p>

{% else %}

	<h1>{{ image.name|truncatechars:20 }}</h1>

	<br />

    <h3>Image Information</h3>

	<hr>

	<dl class="standard">
		<dt>Image Name</dt>
		<dd>{{ image.name }}</dd>
    	<dt>Image Description</dt>
	    <dd>{{ image.description }}</dd>
	</dl>

	<table>
    	<tr>
        	<td>Image:</td>
            <td>
	
	{% if local_image %}
				<a href="{{ image.viewer_url  }}" target="_blank"><img style="height:256px; float: left" alt="{{ image.name }}" title="{{ image.name }}" src="{{ local_image.birdseye_url }}" ></a>
	{% else %}
				<a href="{{ image.viewer_url  }}" target="_blank"><img style="height:256px; float: left" alt="{{ image.name }}" title="{{ image.name }}" src="{{ image.birdseye_url }}" ></a>
	{% endif %}
			</td>
		</tr>
    	<tr>
        	<td>&nbsp;</td>
            <td>&nbsp;</td>
		</tr>
		<tr>
	       	<td>Dimensions (XY):</td>
		    <td>{{ image.sizeX }} x {{ image.sizeY }}</td>
	    </tr>
    	<tr>
	         <td>Pixels Type:</td>
		     <td>{{ image.pixelstype }}</td>
	    </tr>
		<tr>
	        <td>Pixels Size (XYZ) (&#181m):</td>
		    <td>{{ image.pixelsizeX|floatformat:4 }} x {{ image.pixelsizeY|floatformat:4 }}</td>
	    </tr>
    	<tr>
	    	<td>Z-sections/Timepoints:</td>
		    <td>{{ image.sizeZ }} x {{ image.sizeT }}</td>
	    </tr>
    </table>

	{% if tag_list %}

	<br />
	<br />

	<hr>

	<h3>Tags</h3>

	<p>Existing Server Tags for this Image: 
		{% for tag in tag_list %}
		<a class="badge badge-danger">{{ tag }}</a>
		{% endfor %}
	</p>
	
	{% endif %}

	{% if rois %}

	<br />
	<br />

	<hr>

	<h3>Regions Of Interest (ROIs)</h3>

	<p>Image has {{ image.roi_count }} ROIs</p>

		{% for roi in rois %}

	<table>

			{% for shape in roi.shapes %}

	   	<tr>
	       	<td>&nbsp;</td>
	        <td>&nbsp;</td>
		</tr>
    	<tr>
    		<td>ROI ID:</td>
		    <td>{{ shape.id }}</td>
		</tr>
    	<tr>
	       	<td>Coordinates:</td>
		    <td>X: {{ shape.centre_x }}, Y: {{ shape.centre_y }}, Width: {{ shape.width }}, Height: {{ shape.height }}</td>
		</tr>
    	<tr>
	        <td>{{ shape.type }}</td>
		    <td>
				<a href="{{ shape.viewer_url }}" target="_blank"><img style="width:256px;" alt="{{ shape.type }}" title="{{ shape.type }}" src="{{ shape.shape_url }}" ></a>
		    </td>
	    </tr>
	    <tr>
	       	<td>&nbsp;</td>
		    <td>&nbsp;</td>
		</tr>
		<tr>
	       	<td>&nbsp;</td>
		    <td>

				{% if image_flag %}

				<a class="dropdown-item" href="{% url 'webgallery_add_image' server.id image.id shape.id add_from 0 %}" title="Add ROI to Image Collection" onclick="return confirm('Are you sure you want to ADD this ROI to Your ACTIVE Image Collection?')"><button class="button button-add"><i class="fas fa-plus"></i></button></a>

	        	{% else %}

				<div class="panel-alert">
					<p>You have NO Active Image Collections! Please create a Collection <a href="{% url 'list_collection' %}">HERE</a></p>
				</div>

	        	{% endif %}

		    </td>
		</tr>
	    <tr>
    		<td>&nbsp;</td>
		    <td>

		    	{% if image_flag %}

				<br />
				<a class="dropdown-item" href="{% url 'list_images' user.profile.active_collection.id %}" title="View Active Image Collection"><button class="button button-view"><i class="fas fa-eye"></i></button></a>

	        	{% else %}

				<div class="panel-alert">
					<p>You have NO Active Image Collections! Please create a Collection <a href="{% url 'list_collection' %}">HERE</a></p>
				</div>

	        	{% endif %}

		    </td>
		</tr>
	    <tr>
	       	<td>&nbsp;</td>
		    <td>&nbsp;</td>
		</tr>

		<hr>

			{% endfor %}

    </table>

		{% endfor %}

	{% endif %}

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% block extrajs %}

<script type="text/javascript">

	// MAINLINE

	function open_active_collection_selection_dialog(event, title) {
		event.preventDefault();

		var url = "{% url 'active_collection_selection' user.id %}";

		dialog_edit.options.url = url;
	  	dialog_edit.options.title = '<i class="fa fa-calculator"></i> ' + title;
	  	dialog_edit.open(event);
	}
	
	
	$(document).ready(function () {
	  dialog_edit = new Dialog({
		dialog_selector: '#dialog_generic',
		html: '<h1>Loading ...</h1>',
		width: '600px',
		min_height: '200px',
		button_save_initially_hidden: true,
		enable_trace: true,
		callback: function (event_name, dialog, params) {
		  switch (event_name) {
			case "submitting":
			  FrontendForms.overlay_show('.dialog-body');
			  break;
			case "loaded":
			  FrontendForms.overlay_hide('.dialog-body');
			  break;
			case "submitted":
			  // Reload page, with last selection enhanced
			  // var object_id = dialog.element.find('input[name=object_id]').val();
			  var url = new URL(document.location.href);
			  //url.searchParams.set('selected_record', object_id);
			  FrontendForms.gotourl(url, show_layer=true);
			  break;
		  }
		}
	  });
	});

</script>

{% endblock extrajs %}
{% endblock %}
