<!--
\file         base.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The base header and footer include template
-->

<!DOCTYPE html>
<html lang="en">

{% load custom %}

{% load static %}

<head>

  <meta charset="utf-8">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}" >
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-icon-192x192.png' %}" />
  <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}" />
  <link rel="manifest" href="{% static 'manifest.json' %}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}" />
  <meta name="theme-color" content="#ffffff" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

  <!-- <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->

  <link rel='stylesheet' href="{% static 'my_frontend_forms.css' %}">
  <link rel="stylesheet" href="{% static 'frontend_forms/css/frontend_forms.css' %}">

  {% if environment.is_development %}
  <!-- DEVELOPMENT -->
  <link rel="stylesheet" href="{% static 'styles_development.css' %}" />
  {% endif %}
  {% if environment.is_czi %}
  <!-- CZI -->
  <link rel="stylesheet" href="{% static 'styles_czi.css' %}" />
  {% endif %}
  {% if environment.is_canada %}
  <!-- CANADA -->
  <link rel="stylesheet" href="{% static 'styles_canada.css' %}">
  {% endif %}
  {% if environment.is_coeliac %}
  <!-- COELIAC -->
  <link rel="stylesheet" href="{% static 'styles_coeliac.css' %}">
  {% endif %}
  <!-- block extrastyle -->
  {% block extrastyle %}

  {% endblock extrastyle %}
  <!-- END block extrastyle -->

  <script src="{% static 'my_frontend_forms.js' %}"></script>

  <script src="{% url 'frontend_forms:javascript-catalog' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> -->

  <title>{% block title %}Comparative Pathology Workbench{% endblock %}</title>

</head>

<body>

  <div class="page-container">

      {% include 'frontend_forms/dialogs.html' %}

    <div class="page-header">

        <div class="grid-container-header">

  		  <div class="grid-item-header-logo">
            <a href="https://www.ed.ac.uk/comparative-pathology">
              <img style="width: 125px;" alt="CCP" title="Centre for Comparative Pathology" src="https://workbench-czi-cpw.mvm.ed.ac.uk/static/ccp-logo.png" >
            </a>
          </div><!-- End of grid-item-header-logo -->

          <div class="grid-item-header-title">
            <a href="{% url 'home' %}"><strong>Comparative Pathology Workbench</strong></a>
          </div><!-- End of grid-item-header-title -->

  		<div class="grid-item-header-search">
  		  <form action="{% url 'list_global' %}" method="get">
              <input id="id_search" type="text" placeholder="Search ..." name="search" method="get">
  			<button type="submit" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #28A745; border-radius: 5px; color: White; background-color: #28A745; font-size: 1em;"><i class="fa fa-search"></i></button>
  		  </form>
          </div><!-- End of grid-item-header-search -->

          <div class="grid-item-header-user">
            <div class="header-dropdown"  style="float:right;">

  {% if user.is_authenticated %}

              <button class="header-drop-button">{{ user.username }} <i class="fa fa-caret-down"></i></button>
              <div class="header-dropdown-content"  style="right: 0; min-width: 360px;">
                <a href="{% url 'home' %}"><button class="button button-add"><i class="fa fa-home-alt"></i></button> Home</a>
                <a href="{% url 'logout' %}"><button class="button button-delete"><i class="fa fa-sign-out-alt"></i></button> Logout</a>

    {% if user.is_superuser %}

                <a href="{% url 'list_my_bench_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> My Bench Permissions</a>
                <a href="{% url 'list_bench_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> All Bench Permissions</a>
                <a href="{% url 'list_my_collection_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> My Collection Permissions</a>
                <a href="{% url 'list_collection_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> All Collection Permissions</a>
                <a href="{% url 'authorisation' %}"><button class="button button-edit"><i class="fa fa-key"></i></button> Authorisation</a>
                <a href="{% url 'maintenance' %}"><button class="button button-edit"><i class="fa fa-key"></i></button> Maintenance</a>
                <a href="{% url 'admin:index' %}"><button class="button button-edit"><i class="fa fa-key"></i></button> ADMIN</a>
                <a href="{% url 'api-root' %}"><button class="button button-edit"><i class="fa fa-key"></i></button> API</a>

    {% else %}

      {% if user.username != 'guest' %}

                <a href="{% url 'list_my_bench_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> My Bench Permissions</a>
                <a href="{% url 'list_my_collection_authorisation' %}"><button class="button button-auth"><i class="fa fa-universal-access"></i></button> My Collection Permissions</a>

      {% endif %}
  
    {% endif %}

                <a href="{% url 'password_change' %}"><button class="button button-edit"><i class="fa fa-key"></i></button> Change Password</a>
                <a href="{% url 'view_constrained_user' user.id %}"><button class="button button-info"><i class="fa fa-info-circle"></i></button> My Profile</a>
              </div><!-- End of header-dropdown-content -->

  {% else %}

              <button class="header-drop-button">User <i class="fa fa-caret-down"></i></button>
              <div class="header-dropdown-content"  style="right: 0; min-width: 360px;">
                <a href="{% url 'login' %}"><button class="button button-add"><i class="fa fa-sign-in-alt"></i></button> Login</a>
                <a href="{% url 'signup' %}"><button class="button button-delete"><i class="fa fa-user-plus"></i></button> Sign Up</a>
              </div><!-- End of header-dropdown-content -->

  {% endif %}

            </div><!-- End of header-dropdown -->
          </div><!-- End of grid-item-header-user -->

          <div class="grid-item-header-bench">
            <div class="header-dropdown">

  {% if matrix_list %}

              <button class="header-drop-button"><a href="{% url 'list_benches' %}">Benches ({{ matrix_list|length }})</a></button>

  {% else %}

              <button class="header-drop-button">Benches <i class="fa fa-caret-down"></i></button>

              <div class="header-dropdown-content">
                <a class="dropdown-item" href="#">No Benches are available!</a>
              </div><!-- End of header-dropdown-content -->

  {% endif %}

            </div><!-- End of header-dropdown -->
          </div><!-- End of grid-item-header-bench -->

          <div class="grid-item-header-collection">
            <div class="header-dropdown">

  {% if collection_list %}

              <button class="header-drop-button"><a href="{% url 'list_collections' %}">Collections ({{ collection_list|length }})</a></button>

  {% else %}

              <button class="header-drop-button">Collections <i class="fa fa-caret-down"></i></button>

              <div class="header-dropdown-content">
                <a class="dropdown-item" href="#">No Collections are available!</a>
              </div><!-- End of header-dropdown-content -->

  {% endif %}
            </div><!-- End of header-dropdown -->

          </div><!-- End of grid-item-header-collection -->

          <div class="grid-item-header-image">
            <div class="header-dropdown">

  {% if image_list %}

              <button class="header-drop-button">Images ({{ image_list|length }}) <i class="fa fa-caret-down"></i></button>

              <div class="header-dropdown-content">
    
    {% if user.profile.has_active_collection %}

                <a href="{% url 'list_images' user.profile.active_collection.id %}"><button class="button button-delete"><i class="fa fa-bell"></i></button> Current Collection</a>
                
    {% endif %}
                <a href="{% url 'list_images' %}"><button class="button button-add"><i class="fa fa-earth-europe"></i></button> All Images</a>

    {% if user.username != 'guest' %}

                <a href="{% url 'view_all_image_links' %}"><button class="button button-add"><i class="fa fa-chain"></i></button> All YOUR Image Links</a>
                <a href="{% url 'link_images' 0 0 %}"><button class="button button-delete"><i class="fa fa-chain"></i></button> Link Images</a>
    
    {% endif %}

              </div><!-- End of header-dropdown-content -->

  {% else %}

              <button class="header-drop-button">Images <i class="fa fa-caret-down"></i></button>

              <div class="header-dropdown-content">
                <a class="dropdown-item" href="#">No Images are available!</a>
              </div><!-- End of header-dropdown-content -->

  {% endif %}

            </div><!-- End of header-dropdown -->
          </div><!-- End of grid-item-header-image -->

          <div class="grid-item-header-source">
            <div class="header-dropdown">

  {% if server_list %}

              <button class="header-drop-button"><a href="{% url 'list_imaging_hosts' %}">Sources ({{ server_list.count }})</a></button>

  {% else %}

              <button class="header-drop-button">Sources <i class="fa fa-caret-down"></i></button>
              <div class="header-dropdown-content">
                <a class="dropdown-item" href="#">No Sources are available!</a>
              </div><!-- End of header-dropdown-content -->

  {% endif %}

            </div><!-- End of header-dropdown -->
          </div><!-- End of grid-item-header-source -->

          <div class="grid-item-header-about">
            <div class="header-dropdown">
              <button class="header-drop-button">About <i class="fa fa-caret-down"></i></button>
              <div class="header-dropdown-content">

                <a href="https://www.ed.ac.uk/comparative-pathology/the-gut-cell-atlas-project/gut-cell-atlas-project"><button class="button button-info"><i class="fa fa-info-circle"></i></button> About</a>
                <a href="https://www.ed.ac.uk/comparative-pathology/the-gut-cell-atlas-project/gut-cell-atlas-project-team"><button class="button button-info"><i class="fa fa-users"></i></button> Contributors</a>

  {% if environment.is_development %}

                <a href="https://workbench-czi-cpw.mvm.ed.ac.uk/about/howto.html"><button class="button button-info"><i class="fa fa-question-circle"></i></button> How To</a>
                <a href="https://workbench-czi-cpw.mvm.ed.ac.uk/about/guest.html"><button class="button button-delete"><i class="fa fa-question-circle"></i></button> Guest Access</a>

  {% endif %}

  {% if environment.is_czi %}

                <a href="https://workbench-czi-cpw.mvm.ed.ac.uk/about/howto.html"><button class="button button-info"><i class="fa fa-question-circle"></i></button> How To</a>
                <a href="https://workbench-czi-cpw.mvm.ed.ac.uk/about/guest.html"><button class="button button-delete"><i class="fa fa-question-circle"></i></button> Guest Access</a>

  {% endif %}

  {% if environment.is_canada %}

                <a href="https://workbench-canada-cpw.mvm.ed.ac.uk/about/howto.html"><button class="button button-info"><i class="fa fa-question-circle"></i></button> How To</a>
                <a href="https://workbench-canada-cpw.mvm.ed.ac.uk/about/guest.html"><button class="button button-delete"><i class="fa fa-question-circle"></i></button> Guest Access</a>

  {% endif %}

  {% if environment.is_coeliac %}

                <a href="https://workbench-coeliac-cpw.mvm.ed.ac.uk/about/howto.html"><button class="button button-info"><i class="fa fa-question-circle"></i></button> How To</a>
                <a href="https://workbench-coeliac-cpw.mvm.ed.ac.uk/about/guest.html"><button class="button button-delete"><i class="fa fa-question-circle"></i></button> Guest Access</a>

  {% endif %}

              </div><!-- End of header-dropdown-content -->
            </div><!-- End of header-dropdown -->
          </div><!-- End of grid-item-header-about -->

          <div class="grid-item-header-breadcrumb">
            <ul class="breadcrumb">

  {% if environment.is_development %}

              <li><a href="{% url 'home' %}"><button class="button button-add" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #CA03FC; border-radius: 5px; color: Black; background-color: #CA03FC; font-size: 1em;"><i class="fa fa-home-alt"></i></button></a></li>

  {% endif %}

  {% if environment.is_czi %}

              <li><a href="{% url 'home' %}"><button class="button button-add" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #E3F2FD; border-radius: 5px; color: Black; background-color: #E3F2FD; font-size: 1em;"><i class="fa fa-home-alt"></i></button></a></li>

  {% endif %}

  {% if environment.is_canada %}

              <li><a href="{% url 'home' %}"><button class="button button-add" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #F5776E; border-radius: 5px; color: Black; background-color: #F5776E; font-size: 1em;"><i class="fa fa-home-alt"></i></button></a></li>

  {% endif %}

  {% if environment.is_coeliac %}

              <li><a href="{% url 'home' %}"><button class="button button-add" style="text-align: center; text-decoration: none; border: 1px solid; border-color: #FCBA03; border-radius: 5px; color: Black; background-color: #FCBA03; font-size: 1em;"><i class="fa fa-home-alt"></i></button></a></li>

  {% endif %}

{% block breadcrumb %}


{% endblock %}

            </ul>
          </div><!-- End of grid-item-header-breadcrumb -->
        </div><!-- End of grid-container-header -->
    </div><!-- End of page-header -->

<!-- <main role="main"> -->

{% block content %}


{% endblock %}

<!-- </main> -->

    <div class="page-footer">
      <div class="grid-container-footer">
        <div class="grid-item-footer">
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://helmsleytrust.org/"><img src="https://workbench-czi-cpw.mvm.ed.ac.uk/static/helmsley.png" style="background-color: #FFFFFF;" width="170" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://www.humancellatlas.org/"><img src="https://workbench-czi-cpw.mvm.ed.ac.uk/static/HCA-logo-1500x500.jpeg" style="background-color: #FFFFFF;" width="170" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://www.ed.ac.uk/"><img src="https://www.ed.ac.uk/sites/all/themes/uoe/assets/logo.png" style="background-color: #FFFFFF;" width="220" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://www.hw.ac.uk/"><img src="https://workbench-czi-cpw.mvm.ed.ac.uk/static/HW-Logo.jpg" style="background-color: #FFFFFF;" width="125" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://www.chanzuckerberg.com/"><img src="https://chanzuckerberg.com/wp-content/themes/czi/img/logo.svg" style="background-color: #FFFFFF;" width="125" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
          <a href="https://www.ed.ac.uk/comparative-pathology/the-gut-cell-atlas-project/gut-cell-atlas-project/"><img src="{% static 'HGCA_logo_black_nobkg_loc_left.png' %}" style="background-color: #FFFFFF;" width="125" /></a>
        </div><!-- End of grid-item-footer -->
        <div class="grid-item-footer">
        </div><!-- End of grid-item-footer -->
      </div><!-- End of grid-container-footer -->
    </div><!-- End of page-footer -->
  </div><!-- End of page-container -->

<!-- block modals -->
{% block modals %}

{% include 'frontend_forms/dialogs.html' %}

{% endblock modals %}
<!-- END block modals -->

<!-- block extrajs -->
{% block extrajs %}

{% endblock extrajs %}
<!-- END hblock extrajs -->

</body>

</html>
