<!--
\file         password_change.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The password change template
-->

{% extends 'includes/base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li>Change password</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>Comparative Pathology Workbench Authorization</h1>

	<p>Change your password here.</p>

	<hr>

	<br />

	<form method="post" novalidate>

{% csrf_token %}

{% include 'includes/form.html' %}

		<br />

		<button type="submit" class="button button-add"><i class="fa fa-key"></i></button>

	</form>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
