{% extends 'includes/base.html' %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
	
		<li>
			Invalid Confirmation Link
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Comparative Pathology Workbench Authorization</h1>

		<p>The confirmation link was invalid, possibly because it has already been used.</p>

		<hr>

		<br />

	</div>

	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
