{% extends 'includes/base.html' %}

{% block content %}

<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			Login
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Comparative Pathology Workbench Authorization</h1>
	
		<p>Login here to access the Comparative Pathology Workbench.</p>

		<hr>

		<br />

{% load form_tags widget_tweaks %}

{% if form.errors %}

	<div class="panel-alert">

		<p >Your username and password didn't match. Please try again.</p>
	
	</div>

{% endif %}

		<form method="post">

{% csrf_token %}

			<input type="hidden" name="next" value="{{ next }}" />

{% for field in form %}

			<div class="form-container">

				<div class="form-row">

					<div class="form-col-25">
		
	{{ field.label_tag }}
					
					</div>

					<div class="form-col-75">

	{% render_field field %}

					</div>

				</div>

	{% if field.errors %}

				<div class="form-row">

					<div class="form-col-25">
					</div>

					<div class="form-col-75">

						<ul>

		{% for error in field.errors %}
				
							<li>{{ error }}</li>
	
		{% endfor %}

						</ul>

					</div>

				</div>

	{% endif %}

	{% if field.help_text %}

				<div class="form-row">
	
					<div class="form-col-25">
					</div>

					<div class="form-col-75">
	
			{{ field.help_text|safe }}

					</div>
	
				</div>
	
	{% endif %}

			</div>

{% endfor %}

			<br />

			<button class="button button-add" type="submit">Log in</button>

		</form>
	
		<br />

		<p>If you have forgotten your password, <a href="{% url 'password_reset' %}">Click Here</a></p>


	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
