{% extends 'includes/base.html' %}

{% block content %}

	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
		
		<li class="breadcrumb-item active">
			Login
		</li>
	
	</ol>

	<br />
	<h2>Comparative Pathology Workbench Authorization</h2>
	<br />

	<p>Login here to access the Comparative Pathology Workbench.</p>

	<hr>

	<br />

{% if form.errors %}

	<p style="color: red">Your username and password didn't match. Please try again.</p>

{% endif %}

	<form method="post">

{% csrf_token %}

		<input type="hidden" name="next" value="{{ next }}" />

{% for field in form %}

		<p>
		
			{{ field.label_tag }}<br>
			{{ field }}<br>

	{% for error in field.errors %}
			
			<p style="color: red">{{ error }}</p>
	
	{% endfor %}

	{% if field.help_text %}
	
			<p><small style="color: grey">{{ field.help_text }}</small></p>
	{% endif %}
		
		</p>

{% endfor %}

		<button type="submit">Log in</button>

	</form>
	
	<br />

	<hr>

	<br />

	<p>If you have forgotten your password, <a href="{% url 'password_reset' %}">Click Here</a></p>



{% endblock %}
