{% extends 'includes/base.html' %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}">
					Home
				</a>
			</li>

			<li class="breadcrumb-item active">
				Login
			</li>
	
		</ol>

		</div>
		
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<br />
	
		<h2>Comparative Pathology Workbench Authorization</h2>
	
		<br />

		<p>Login here to access the Comparative Pathology Workbench.</p>

		<hr>

		<br />

{% if form.errors %}

		<p style="color: red">Your username and password didn't match. Please try again.</p>

{% endif %}

		<form method="post">

{% csrf_token %}

			<input type="hidden" name="next" value="{{ next }}" />

{% for field in form %}

			<p>
		
				{{ field.label_tag }}<br>
				{{ field }}<br>
					
			</p>

	{% for error in field.errors %}
				
			<p style="color: red">{{ error }}</p>
	
	{% endfor %}

	{% if field.help_text %}
	
			<p><small style="color: grey">{{ field.help_text }}</small></p>
	
	{% endif %}
		
{% endfor %}

			<button type="submit">Log in</button>

		</form>
	
		<br />

		<p>If you have forgotten your password, <a href="{% url 'password_reset' %}">Click Here</a></p>

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}
