{% extends 'includes/base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<div>

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'home' %}">
					Home
				</a>
			</li>

			<li class="breadcrumb-item active">
				Password Reset Complete
			</li>
	
		</ol>

		</div>
		
	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<br />
		<h2>Comparative Pathology Workbench Authorization</h2>
		<br />

		<p>Password Reset Complete</p>

		<hr>
		<br />

		<div class="row justify-content-center">

			<div class="col-lg-6 col-md-8 col-sm-10">

				<div class="card">

					<div class="card-body">

						<h3 class="card-title">Password reset!</h3>

						<div class="alert alert-success" role="alert">

							You have successfully reset your password! You may now proceed to log in.

						</div>

						<a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}

