{% extends 'includes/base.html' %}

{% block title %}Change password successful{% endblock %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'password_change' %}">Change password</a>
		</li>

		<li>
			Password Successfully Changed!
		</li>
	
	</ul>

</div>

		
<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>Comparative Pathology Workbench Authorization</h1>

		<p>Password Successfully Changed!</p>

		<hr>

		<br />

		<h3 class="card-title">Password changed!</h3>

		<br />

		<div class="panel-success">
			<strong>Success!</strong> Your password has been changed!
		</div>

		<br />

		<a href="{% url 'home' %}"><button class="button button-add">Return to Home Page</button></a>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>


{% endblock %}
