<!--
\file         password_reset_confirm.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The password reset confirm template
-->

{% extends 'includes/base.html' %}

{% block title %}

	{% if validlink %}

		Change password for {{ form.user.username }}

	{% else %}

		Reset your password

	{% endif %}

{% endblock %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'home' %}">Home</a></li>
			<li>Password Reset</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<div class="page-content">

	<h1>Comparative Pathology Workbench Authorization</h1>

	<p>Password Reset</p>

	<hr>

	<br />

{% if validlink %}

	<h3 class="card-title">Change password for @{{ form.user.username }}</h3>

	<form method="post" novalidate>

	{% csrf_token %}

	{% include 'includes/form.html' %}

		<br />

		<button type="submit" class="button button-add">Change password</button>

	</form>

{% else %}

	<div class="panel-alert">
		<strong>Danger!</strong> It looks like you clicked on an invalid password reset link. Please try again.
	</div>

	<br />

	<a href="{% url 'password_reset' %}"><button class="button button-add">Request a new Password Reset Link</button></a>

{% endif %}

</div><!-- End of page-content -->

{% endblock %}
