{% extends 'includes/base.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}

	<li class="breadcrumb-item active">Change password</li>

{% endblock %}

{% block content %}

	<br />
	<h2>Comparative Pathology Workbench Authorization</h2>
	<br />

	<p>Change your password here.</p>

	<hr>

	<br />

	<div class="row justify-content-center">

		<div class="col-lg-6 col-md-8 col-sm-10">

			<div class="card">

				<div class="card-body">

					<h3 class="card-title">Password Change!</h3>

					<form method="post" novalidate>

{% csrf_token %}

{% include 'includes/form.html' %}

						<button type="submit" class="btn btn-success">Change password</button>

					</form>

				</div>

			</div>

		</div>

	</div>

{% endblock %}
