<!--
\file         password_reset_complete.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The password reset complete template
-->

{% extends 'includes/base.html' %}

{% block title %}Password changed!{% endblock %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			Password Reset Complete
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Comparative Pathology Workbench Authorization</h1>

		<p>Password Reset Complete</p>

		<hr>

		<br />

		<div class="panel-success">
			<strong>Success!</strong> You have successfully reset your password! You may now proceed to log in.
		</div>

		<br />

		<a href="{% url 'login' %}"><button class="button button-add">Return to log in</button></a>

	</div>

	<div class="standard-grid-item">
	</div>

</div>

{% endblock %}
