{% extends 'includes/base.html' %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			Register
		</li>
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>Comparative Pathology Workbench Authorization</h1>

		<p>Register here for access to the Comparative Pathology Workbench.</p>

		<hr>

		<br />

		<form method="post">

{% csrf_token %}

{% include 'includes/form.html' %}

			<br />

			<button class="button button-add" type="submit">Sign up</button>

		</form>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}

