{% extends 'includes/base.html' %}

{% block content %}

	<ol class="breadcrumb subheading">
	
		<li class="breadcrumb-item">
			<a href="{% url 'matrices:home' %}">
				Home
			</a>
		</li>
		
		<li class="breadcrumb-item active">
			Signup
		</li>
	
	</ol>

	<br />
	<h2>Comparative Pathology Workbench Authorization</h2>
	<br />

	<p>Register here for access to the Comparative Pathology Workbench.</p>

	<hr>

	<br />

	<form method="post">

{% csrf_token %}

{% for field in form %}

		<p>

	{{ field.label_tag }}<br />
	{{ field }}

	{% if field.help_text %}
		
			<small style="color: grey">{{ field.help_text|safe }}</small>
		
	{% endif %}

	{% for error in field.errors %}
		
			<p style="color: red">{{ error }}</p>
		
	{% endfor %}

		</p>

{% endfor %}

		<button type="submit">Sign up</button>

	</form>

{% endblock %}