{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
	
		<li>
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>
	
		<li>
			<a href="{% url 'webgallery_show_wordpress' server.id 1 %}">{{ dataset.name }}</a>
		</li>	
	
		<li>
			<a href="{% url 'webgallery_show_wordpress' server.id dataset.prev_page %}">Prev</a>
		</li>	
	
		<li>
			<a href="{% url 'webgallery_show_wordpress' server.id dataset.next_page %}">Next</a>
		</li>	
	
	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>{{ dataset.name }}</h1>

		<br />

	    <p>{{ dataset.name }} contains {{ dataset.imageCount }} images, so far</p>

    	<hr>

		<div class="row justify-content-center">

		<ul class="image-list">

{% for image in images %}

	    	<li>

				<div class="card-image-gallery">
	
					<div class="card-container-gallery">

						<h5>{{ image.name|truncatechars:15 }}</h5>
						
		        	</div>
    
					<br />

				<a href="{% url 'webgallery_show_wordpress_image' server.id image.id %}"><img title="{{ image.name }}" src="{{ image.thumbnail_url  }}" ></a>

		        </div>
		        
	    	</li>

{% endfor %}

		</ul>

		</div>

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>
		
<br />
<br />
<br />
<br />
<br />

{% endblock %}
