<!--
\file         show_image.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show image template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'webgallery_show_ebi_sca_upload_server' server.id %}">{{ server.name }}</a></li>

	{% if image.name != 'ERROR' %}

			<li>{{ image.name|truncatechars:20 }}</li>

	{% endif %}

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}

	{% for message in messages %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

	<div class="panel-alert">

		<p>{{ message }}</p>

	</div>

		{% endif %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

	<div class="panel-success">

		<p>{{ message }}</p>

	</div>

		{% endif %}

    {% endfor %}

{% endif %}

{% if image.name == 'ERROR' %}

	<p>Image {{ image.id }} Does NOT Exist!</p>

{% else %}

	<h1>Chart: {{ chart.chart_id|slice:":-4"|replace:"_| " }}</h1>

	<br />

    <h3>Image Information</h3>

	<hr>

	<dl class="standard">
		<dt>Experiment</dt>
		<dd>{{ metadata.experimentAccession }}</dd>
		<dt>Chart Name</dt>
		<dd>{{ chart.chart_id|slice:":-4"|replace:"_| " }}</dd>
	</dl>

	<table>
    	<tr>
        	<th width=200px>Image:</th>
            <th>
				<a href="{{ chart.viewer_url  }}" target="_blank"><img  style="height:256px; float: left" alt="{{ chart.chart_id }}" title="{{ chart.chart_id }}" src="{{ chart.birdseye_url }}" ></a>
			</th>
		</tr>
	</table>

	{% if chart.type == 'TSNE' %}

		{% if chart.geneId == '' %}

	<dl class="standard">
		<dt>Plot Type</dt>
		<dd>{{ chart.type }}</dd>
        <dt>Perplexity</dt>
		<dd>{{ chart.option }}</dd>
		<dt>Cluster By</dt>
		<dd>{{ chart.colourBy }}</dd>
		<dt>Gene</dt>
		<dd>None</dd>
		<dt>Comment</dt>
		<dd>{{ image_comment }}</dd>
	</dl>

		{% else %}

	<dl class="standard">
		<dt>Plot Type</dt>
		<dd>{{ chart.type }}</dd>
		<dt>Perplexity</dt>
		<dd>{{ chart.option }}</dd>
		<dt>Cluster By</dt>
		<dd>{{ chart.colourBy }}</dd>
		<dt>Gene</dt>
		<dd>{{ chart.geneId }}</dd>
		<dt>Comment</dt>
		<dd>{{ image_comment }}</dd>
	</dl>

		{% endif %}

	{% else %}

		{% if chart.type == 'UMAP' %}

			{% if chart.geneId == '' %}

	<dl class="standard">
		<dt>Plot Type</dt>
		<dd>{{ chart.type }}</dd>
        <dt>Nearest Neighbours</dt>
		<dd>{{ chart.option }}</dd>
		<dt>Cluster By</dt>
		<dd>{{ chart.colourBy }}</dd>
		<dt>Gene</dt>
		<dd>None</dd>
		<dt>Comment</dt>
		<dd>{{ image_comment }}</dd>
	</dl>

			{% else %}

	<dl class="standard">
		<dt>Plot Type</dt>
		<dd>{{ chart.type }}</dd>
		<dt>Nearest Neighbours</dt>
		<dd>{{ chart.option }}</dd>
		<dt>Cluster By</dt>
		<dd>{{ chart.colourBy }}</dd>
		<dt>Gene</dt>
		<dd>{{ chart.geneId }}</dd>
		<dt>Comment</dt>
		<dd>{{ image_comment }}</dd>
	</dl>

			{% endif %}

		{% else %}

	<dl class="standard">
		<dt>Plot Type</dt>
		<dd>UNKNOWN</dd>
		<dt>Nearest Neighbours</dt>
		<dd>UNKNOWN</dd>
		<dt>Cluster By</dt>
		<dd>UNKNOWN</dd>
		<dt>Gene</dt>
		<dd>UNKNOWN</dd>
	</dl>

		{% endif %}

	{% endif %}


	<br />

    <h3>Experiment Metadata</h3>

	<hr>

	<dl class="standard">
		<dt>Type</dt>
		<dd>{{ metadata.experimentType }}</dd>
		<dt>Description</dt>
		<dd>{{ metadata.experimentDescription }}</dd>
		<dt>Load Date</dt>
		<dd>{{ metadata.loadDate }}</dd>
		<dt>Last Update</dt>
		<dd>{{ metadata.lastUpdate }}</dd>
		<dt>Number Of Assays</dt>

	{% if metadata.numberOfAssays == '' %}

		<dd>None</dd>

	{% else %}

		<dd>{{ metadata.numberOfAssays }}</dd>

	{% endif %}

		<dt>Number Of Contrasts</dt>

	{% if metadata.numberOfContrasts == '' %}

		<dd>None</dd>

	{% else %}

		<dd>{{ metadata.numberOfContrasts }}</dd>

	{% endif %}

		<dt>Species</dt>
		<dd>{{ metadata.species }}</dd>
		<dt>Kingdom</dt>
		<dd>{{ metadata.kingdom }}</dd>
		<dt>Technology Type</dt>

	{% if metadata.technologyType == '' %}

		<dd>None</dd>

	{% else %}

		<dd>{{ metadata.technologyType }}</dd>

	{% endif %}

		<dt>Experimental Factors</dt>

	{% if metadata.experimentalFactors == '' %}

		<dd>None</dd>

	{% else %}

		<dd>{{ metadata.experimentalFactors }}</dd>

	{% endif %}

		<dt>Project</dt>

	{% if metadata.experimentProject == '' %}

		<dd>None</dd>

	{% else %}

		<dd>{{ metadata.experimentProject }}</dd>

	{% endif %}

	</dl>

	<br />
	<br />

	{% if image_flag %}

	<a class="dropdown-item" href="{% url 'webgallery_add_ebi_sca_image' server.id chart.chart_id add_from %}" onclick="return confirm('Are you sure you want to ADD this Image to Your ACTIVE Image Collection?')"><button class="button button-add"><i class="fas fa-plus"></i></button></a>

	<br />
	<br />
	<a class="dropdown-item" href="{% url 'view_active_collection' %}"><button class="button button-view"><i class="fas fa-eye"></i></button></a>

	{% else %}

	<div class="panel-alert">
        <p>You have NO Active Image Collections! Please create a Collection <a href="{% url 'list_collections' %}">HERE</a></p>
    </div>

	{% endif %}

	<br />
	<br />

	<hr>

{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
