<!--
\file         show_wordpress_image.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show wordpress image template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>

		<li>
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>

		<li>
			<a href="{% url 'webgallery_show_wordpress' server.id 1 %}">{{ server.name }}</a>
		</li>

		<li>
				{{ image.name }}
		</li>

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">

		<h1>{{ image.name }}</h1>

		<br />

	    <h3>Image Information</h3>

		<hr>

		<dl class="standard">

			<dt>Image Caption</dt>
			<dd>{{ image.caption }}</dd>

	    	<dt>Image Description</dt>
		    <dd>{{ image.description }}</dd>

		</dl>

		<br />

		<table>
	        <tr>
        	    <th>Image:</th>
    	        <td>
					<a href="{{ image.viewer_url  }}" target="_blank"><img  style="width:256px; height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" ></a>
				</td>
			</tr>

    	    <tr>
	            <th>&nbsp;</th>
            	<td>&nbsp;</td>
			</tr>

    	</table>

		<br />
		<br />

		<a href="{% url 'webgallery_add_image' server.id image.id 0 %}" onclick="return confirm('Are you sure you want to ADD this Image to Your Image Collection?')"><button class="button button-add">Add Image to Image Collection</button></a>

		<br />
		<br />

		<a class="dropdown-item" href="{% url 'view_active_collection' %}"><button class="button button-view">View Active Image Collection</button></a>

		<br />
		<br />

	    <hr>

	</div>

	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
