<!--
\file         show_wordpress_image.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show wordpress image template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'webgallery_show_wordpress' server.id 1 %}">{{ server.name }}</a></li>
			<li>{{ image.name }}</li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Main Data Panel -->

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

{% if messages %}

	{% for message in messages %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

	<div class="panel-alert">

		<p>{{ message }}</p>

	</div>

		{% endif %}

		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

	<div class="panel-success">

		<p>{{ message }}</p>

	</div>

		{% endif %}

    {% endfor %}

{% endif %}


	<h1>{{ image.name }}</h1>

	<br />

	<h3>Image Information</h3>

	<hr>

	<dl class="standard">
		<dt>Image Caption</dt>
		<dd>{{ image.caption }}</dd>
		<dt>Image Description</dt>
		<dd>{{ image.description }}</dd>
	</dl>

	<br />

	<table>
		<tr>
			<td>Image:</td>
			<td>
				<a href="{{ image.viewer_url  }}" target="_blank"><img  style="width:256px; height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" ></a>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>

	<br />
	<br />

	{% if image_flag  %}

		<a class="dropdown-item" href="{% url 'webgallery_add_image' server.id image.id 0 add_from 0 %}" onclick="return confirm('Are you sure you want to ADD this Image to Your ACTIVE Image Collection?')"><button class="button button-add"><i class="fas fa-plus"></i></button></a>

		<br />
		<br />

		<a class="dropdown-item" href="{% url 'view_active_collection' %}"><button class="button button-view"><i class="fas fa-eye"></i></button></a>


	{% else %}

		<div class="panel-alert">
			<p>You have NO Active Image Collections! Please create a Collection <a href="{% url 'list_collections' %}">HERE</a></p>
		</div>

	{% endif %}

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
