{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}

<div class="row">

	<div class="col-md-12">

		<ol class="breadcrumb subheading">
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:home' %}">
					Home
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:list_imaging_hosts' %}">
					Sources
				</a>
			</li>
	
			<li class="breadcrumb-item">
				<a href="{% url 'matrices:webgallery_show_wordpress' server.id 1 %}">
					{{ server.name }}
				</a>
			</li>
	
			<li class="breadcrumb-item active">
				{{ image.name }}
			</li>	
	
		</ol>

	</div>
			
</div>
		
<div class="row">

	<div class="col-md-1" id="sidebar">

	</div>
			
	<div class="col-md-9" id="content">

		<h1>{{ image.name }}</h1>
		<br />

	    <p>{{ image.caption }}</p>

    	<p>{{ image.description }}</p>

		<a class="dropdown-item" href="{% url 'matrices:webgallery_add_image' server.id image.id 0 %}" onclick="return confirm('Are you sure you want to ADD this Image to Your Image Collection?')">
			<button class="save btn btn-success">Add Image to Image Collection</button>
		</a>
	
	    <hr>

    	<table>
	        <tr>
        	    <th>Image:</th>
    	        <td>
					<a href="{{ image.viewer_url  }}" target="_blank">
						<img  style="width:256px; height:256px; float: left" title="{{ image.name }}" src="{{ image.birdseye_url }}" >
					</a>
				</td>
			</tr>

    	    <tr>
	            <th>&nbsp;</th>
            	<td>&nbsp;</td>
			</tr>

    	</table>

	    <hr>

	</div>

	<div class="col-md-2">

	</div>

</div>

{% endblock %}