{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">

		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
	
		<li>
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>
	
		<li>
			{{ server.name }}
		</li>	

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>{{ server.name }}</h1>

		<br />

{% if group_list %}

		<p>Server at {{ server.url_server }} contains {{ group_count }} Groups:</p>
	
		<hr>

		<ul class="image-list">

    {% for group in group_list %}
    
	    	<li>

				<div class="card-image-gallery">
	
					<div class="card-container-gallery">

						<h5>{{ group.name }}</h5>

	    		        <dl>

    		    	        <dt>Projects</dt>
    		    	        <dd>{{ group.projectCount }}</dd>
	        	    	    <dt>Datasets</dt>
	            		    <dd>{{ group.datasetCount }}</dd>

		{% if group.imageCount != 0  %}

                			<dt>Images</dt>
                			<dd>{{ group.imageCount }}</dd>

		{% endif %}

		        	    </dl>
    
						<br />
					
						<a href="{% url 'webgallery_show_group' server.id group.id %}"><button class="button button-view">View Group &raquo;</button></a>

						<br />
    	        
		{% if group.randomImageName != 'NONE'  %}
		
						<a href="{% url 'webgallery_show_image' server.id group.randomImageID %}"><img class="card-image" alt="{{ group.randomImageName }}" title="{{ group.randomImageName }}" src="{{ group.randomImageBEURL }}"/></a>

		{% endif %}

    	        	</div>

				</div>

	    	<li>

    {% endfor %}

		</ul>

{% else %}

	<p>Unable to Log into the Server</p>

{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>
	
<br />
<br />
<br />
<br />
<br />

{% endblock %}
