<!--
\file         show_wordpress.html
\author       Mike Wicks
\date         March 2021
\version      $Id$
\par
(C) University of Edinburgh, Edinburgh, UK
(C) Heriot-Watt University, Edinburgh, UK

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be
useful but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public
License along with this program; if not, write to the Free
Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
Boston, MA  02110-1301, USA.
\brief
The show wordpress (server) template
-->

{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block breadcrumb %}

<!-- Breadcrumb Menu -->

			<li><a href="{% url 'list_imaging_hosts' %}">Sources</a></li>
			<li><a href="{% url 'webgallery_show_wordpress' server.id 1 %}">{{ dataset.name }}</a></li>
			<li><a href="{% url 'webgallery_show_wordpress' server.id dataset.prev_page %}">Prev</a></li>
			<li><a href="{% url 'webgallery_show_wordpress' server.id dataset.next_page %}">Next</a></li>

{% endblock %}

{% block details %}

{% endblock %}

{% block content %}

<!-- Page Body -->
<div class="page-body">

<!-- Page Side Bar -->
<div class="page-sidebar">
</div><!-- End of page-sidebar -->

<!-- Page Content -->
<div class="page-content">

	<h1>{{ dataset.name }}</h1>

	<br />

	<p>{{ dataset.name }} contains {{ dataset.imageCount }} images, so far</p>

	<hr>

	<div class="row justify-content-center">

	<ul class="image-list">

{% for image in images %}

		<li>

			<div class="card-image-gallery">

				<div class="card-container-gallery">

					<h5>{{ image.name|truncatechars:15 }}</h5>

				</div>

				<br />

			<a href="{% url 'webgallery_show_wordpress_image' server.id image.id %}"><img title="{{ image.name }}" src="{{ image.thumbnail_url  }}" ></a>

			</div>

		</li>

{% endfor %}

	</ul>

</div><!-- End of page-content -->

</div><!-- End of page-body -->

{% endblock %}
