{% extends 'includes/base.html' %}

{% load custom %}

{% load static %}

{% block content %}


<!-- Breadcrumb Menu -->

<div>

	<ul class="my-breadcrumb">
	
		<li>
			<a href="{% url 'home' %}">Home</a>
		</li>
	
		<li>
			<a href="{% url 'list_imaging_hosts' %}">Sources</a>
		</li>
	
		<li>
			<a href="{% url 'webgallery_show_imaging_server' server.id %}">{{ server.name }}</a>
		</li>
	
		<li>
			<a href="{% url 'webgallery_show_group' server.id group.id %}">{{ group.name|truncatechars:20 }}</a>
		</li>
	
		<li>
			{{ project.name|truncatechars:20 }}
		</li>	

	</ul>

</div>


<!-- Main Data Panel -->

<div class="standard-grid-container">

	<div class="standard-grid-item">
	</div>

	<div class="standard-grid-item">
	
		<h1>{{ project.name }}</h1>

		<br />

{% if dataset_list %}

	    <p>Project contains {{ project.datasetCount }} datasets:</p>

    	<hr>
    
		<ul class="image-list">

    {% for dataset in dataset_list %}

	    	<li>

				<div class="card-image-gallery">
	
					<div class="card-container-gallery">
	
						<h5>{{ dataset.name|truncatechars:20 }}</h5>

	            		<dl>
	                		<dt>Images</dt>
	                		<dd>{{ dataset.imageCount }}</dd>
		    	        </dl>
    
						<br />

						<a href="{% url 'webgallery_show_dataset' server.id dataset.id %}"><button class="button button-view">View Dataset &raquo;</button></a>

					</div>
    
					<br />
			
					<a href="{% url 'webgallery_show_image' server.id dataset.randomImageID %}"><img alt="{{ dataset.randomImageName }}" title="{{ dataset.randomImageName }}" src="{{ dataset.randomImageBEURL }}"/></a>

					<br />
			
				</div>

	        </li>
	
    {% endfor %}

    	</ul>

{% else %}

	    <p>Project contains No Datasets!</p>

{% endif %}

	</div>
	
	<div class="standard-grid-item">
	</div>

</div>

<br />
<br />
<br />
<br />
<br />

{% endblock %}
